<header [class]="'header' + (isShortHeader? ' account' : '')" >
  <div class="logo">
    <a [routerLink]="['../appMain']"><h1><img src="/assets/resources/images/main/logo.png" alt=""/></h1></a>
  </div>
		<span class="nav_toggle">
            <input type="checkbox" id="checkbox-1" name="" class="navcheck" value="1" >
            <label for="checkbox-1"></label>
        </span>
  <ul class="gnb clearfix">
    <li id="cur_dashboard" [routerLink]="['../dashboard']"><a >대시보드</a></li>
    <li id="cur_catalog"><a [routerLink]="['../catalog']">카달로그</a></li>
    <li id="cur_paasta-doc"><a target="_blank" href="https://github.com/PaaS-TA/Guide-3.0-Penne-">문서</a></li>
  </ul>
  <ul class="right_nav">
    <li><!-- <a href="#" class="fas fa-user"></a> -->
      <div class="btn-group">
        <button href="#" class="dropdown-toggle user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div id="r_user" class="dropdown-menu">
          <div class="">
            <span class="dot"></span>
            <dl>
              <dt>
                <i href="#" class="fas fa-user"></i>
                <img [src]="pictureUrl" alt="temp" />
              </dt>
              <dd>
                <p>{{name}}</p>
                <p>{{id}}</p>
              </dd>
            </dl>
          </div>
          <ul class="">
            <li id="cur_usermgmt">
              <a [routerLink]="['../usermgmt']">내계정</a></li>
            <li id="cur_org">
              <a [routerLink]="['../org']">조직관리</a></li>
            <li id="cur_quantity">
              <a href="javascript:void(0)" (click)="alertMsg('개발 중입니다.')">사용량조회</a>
            </li>
          </ul>
          <p class="log_out" [routerLink]="['../logout']">로그아웃</p>
        </div>
      </div>
    </li>
    <li>
      <div class="btn-group">
        <button href="#" class="dropdown-toggle bell" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>3</span></button>
        <div id="bell" class="dropdown-menu">
          <div class="">
            <span class="dot"></span>
            <p class="">Notifications</p>
          </div>
          <div>
            <ul class="">
              <ng-container *ngFor="let noti of notifications">
              <li>
                <a href="javascript:void(0)">{{noti}}</a><span>
                <i class="fas fa-times-circle"></i></span></li>
              </ng-container>
              <!--
              <li><a href="#">파스타 공지사항</a><span><i class="fas fa-times-circle"></i></span></li>
              <li><a href="#">파스타 공지사항</a><span><i class="fas fa-times-circle"></i></span></li>
              -->
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="globes" class="btn-group">
        <button href="#" class="dropdown-toggle globe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-caret-down"></i></button>
        <ul class="dropdown-menu">
          <li id="lang_ko" class="cur"><a href="javascript:void(0);" (click)="changeLangClick('ko');">Korean</a></li>
          <li id="lang_en"><a href="javascript:void(0);" (click)="changeLangClick('en');">English</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ng-container *ngIf="isDashboardApp && isAppView; else catalog">
    <div class="header_bottom">
      <!-- dashboard container -->
      <p class="tit">Dashboard</p>
      <ul class="content_dev">
        <li>DEV</li>
        <li>Dev_area</li>
      </ul>
    </div>
  </ng-container>
  <ng-template #catalog>
    <!-- catalog container -->
    <ng-container *ngIf="isCatalog; else emptyMenu">
      <div class="header_bottom">
        <p class="tit">Catalog</p>
        <ul class="content_dev">
          <li>{{catalogName}}</li>
        </ul>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #emptyMenu>
    <!-- empty container -->
  </ng-template>
</header>
