<app-app-top [cursorId]="'cur_dashboard'"></app-app-top>
<div class="org_wrap">
  <div class="contain_n">
    <div class="content">
      <div><h2>{{ 'orgProduce.explan.title1' | translate }}</h2></div>
      <div class="org_txt">{{ 'orgProduce.explan.title2' | translate }}</div>
      <!-- 조직명 시작-->
      <div class="row two_line two_view ns">
        <ul class="maT30">
          <li>
            <div class="sortable_wrap">
              <div class="sortable_top">
                <p>{{ 'orgProduce.org.title' | translate }}</p>
              </div>
              <div class="org_box clearfix">
                <div>
                  <input id="orgname" class="form-control"  type="text" required="" placeholder="" (keyup)="orgNameCheck()">
                  <p class="text-left red" id="action-info-message">
                    <i class="fas fa-exclamation-circle exclamation_mark"
                       [style.display]="errorMessage === ''? 'none' : 'inline-block'"></i>
                    {{errorMessage}}
                  </p>
                </div>
                <div></div>
                <div [innerHTML]="'orgProduce.org.explan' | translate"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- 조직명 끝 -->
      <!-- 할당량 시작-->
      <div class="row two_line two_view ns">
        <ul class="maT30">
          <li>
            <div class="sortable_wrap">
              <div class="sortable_top">
                <p>{{ 'orgProduce.quota.title' | translate }}</p>
              </div>
              <div class="organization_table2 maT30 paB40 org_tbl_wrap">
                <table class="org_tables_noline">
                  <colgroup>
                    <col style=''>
                    <col style=''>
                    <col style=''>
                    <col style=''>
                    <col style=''>
                    <col style=''>
                    <col style=''>
                    <col style=''>
                    <col style=''>
                  </colgroup>
                  <thead>
                    <tr>
                      <td>{{ 'orgProduce.quota.select' | translate }}</td>
                      <td>{{ 'orgProduce.quota.serviceName' | translate }}</td>
                      <td>{{ 'orgProduce.quota.memory' | translate }}</td>
                      <td>{{ 'orgProduce.quota.instantMemory' | translate }}</td>
                      <td>{{ 'orgProduce.quota.route' | translate }}</td>
                      <td>{{ 'orgProduce.quota.serviceInstant' | translate }}</td>
                      <td>{{ 'orgProduce.quota.price' | translate }}</td>
                      <td>{{ 'orgProduce.quota.instant' | translate }}</td>
                      <td>{{ 'orgProduce.quota.routePort' | translate }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngIf="aquota">
                  <tr *ngFor="let quota of orgquotalist" class="org_quota"
                      [ngClass]="{'cur': isSelectedQuota(quota)}">
                    <td>
                      <input  [id]="'radio-' + quota.name" type="radio" name="radio1" [checked]="whoQuota(quota)" data-toggle="modal"(click)="changeQuota(quota)">
                      <label  [for]="'radio-' + quota.name"></label>
                    </td>
                    <td>
                      {{quota.name}}
                    </td>
                    <td>{{memoryQuota(quota.memory_limit)}}
                    </td>
                    <td>{{memoryQuota(quota.instance_memory_limit)}}
                    </td>
                    <td>{{limitvalue(quota.total_routes)}}
                    </td>
                    <td>{{limitvalue(quota.total_services)}}
                    </td>
                    <td>{{quotaFree(quota.non_basic_services_allowed)}}
                    </td>
                    <td>{{limitvalue(quota.app_instance_limit)}}
                    </td>
                    <td>{{limitvalue(quota.total_reserved_route_ports)}}
                    </td>
                  </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- 할당량 끝 -->
      <div class="cWrap_btn">
        <button class="btns2 btns2_1 colors4" (click)="createOrg()">{{ 'orgProduce.button.orgCreate' | translate }}</button>
        <button class="btns2 btns2_1 colors5" (click)="goBack()">{{ 'orgProduce.button.cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="create-popup">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <ng-container *ngIf="aquota && !isError; else failToCreate">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 class="modal-title">{{ 'orgProduce.layerpop.create.title' | translate }}</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <p class="account_modal_p" [innerHTML]="'orgProduce.layerpop.create.bodyText' | translate : {orgname: orgname}">
              </p>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
                    data-dismiss="modal" (click)="goBack()">{{ 'orgProduce.layerpop.create.btn1' | translate }}
            </button>
            <button type="button" class="btns2 colors5"
                    data-dismiss="modal"(click)="orgInit()">{{ 'orgProduce.layerpop.create.btn2' | translate }}
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #failToCreate>
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 class="modal-title">조직 생성 실패</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <p class="account_modal_p">
                <span >{{orgname}} </span>조직 생성에
                실패했습니다.<br/>
                <span class="red">{{errorMessage}}</span>
              </p>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
                    data-dismiss="modal">확인
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

