<nav>
  <div class="scroll_style">
    <ul class="nav_1d">
      <li id="cur_usermgmt_nav" [routerLink]="['/usermgmt']">
        <dl>
          <dt>
          <div id="lnbimg10">
          </div>
          </dt>
          <dd>
            <p>
              {{ 'common.nav.myAccount' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li id="cur_org2_nav" [routerLink]="['/org']">
        <dl>
          <dt>
          <div id="lnbimg11">
          </div>
          </dt>
          <dd>
            <p>
              {{ 'common.nav.orgManage' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <ng-container *ngIf="common.getQuantity()">
      <li id="cur_quantity_nav" [routerLink]="['/quantity']">
        <dl>
          <dt>
          <div id="lnbimg12" class="">
          </div>
          </dt>
          <dd>
            <p>
              {{ 'common.nav.viewUsage' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      </ng-container>
      <li [routerLink]="['/logout']">
        <dl>
          <dt>
          <div id="lnbimg13" class="">
          </div>
          </dt>
          <dd>
            <p>
              {{ 'common.nav.logOut' | translate }}
            </p>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</nav>
