<!DOCTYPE html>
<html lang="ko">
<style type="text/css">
  .ime[type=text] {
    -webkit-ime-mode:active;
    -moz-ime-mode:active;
    -ms-ime-mode:active;
    ime-mode:active;
  }
</style>
<body>
<div class="wrap account">
  <app-app-top [cursorId]="'cur_usermgmt'"></app-app-top>
  <app-nav [cursorId]="'cur_usermgmt_nav'" ></app-nav>
  <div class="contain">
    <div class="content">
      <div class="row one_line">
        <h1>{{'usermgmt.myAccount' | translate}}</h1>
        <div class="col-md-2">
          <div class="account_left">
            <dl>
              <dt (click)="onFileChanged()">
                <img id="photo" src={{photoFile}}/>
                <input style="display: none" type="file" id="photoFile" name="photoFile" (change)="onFileChanged_click($event)">
              </dt>
              <dd>
                <button class="btns colors4" id="onUploadBtn" style="display: none;" (click)="onUpload()">{{'usermgmt.button.photoRegistration' | translate}}</button>
              </dd>
            </dl>
          </div>
        </div>
        <div class="col-md-9">
          <div class="account_table">
            <table>
              <caption>{{'usermgmt.loginInfo.loginInfo' | translate}}</caption>
              <colgroup>
                <col style='width: 123px;'>
                <col style=''>
                <col style='width: 30px;'>
              </colgroup>
              <tbody>
              <tr>
                <td>{{'usermgmt.loginInfo.email' | translate}}</td>
                <th>{{user['userId']}}</th>
                <!--<td class="table_edit"><i class="fas fa-edit"></i>-->
                <!--<td>-->
              </tr>
              <tr class="on">
                <td colspan="3">
                  <div class="">
                    <!--<div class="account_table_in">-->
                                                <!--<span>새 이메일-->
                                                <!--</span>-->
                      <!--<input type="text" name="usermgmtUserId" [(ngModel)]="user['userId']"-->
                             <!--ng-model-options="{ getterSetter: true }"/>-->
                      <!--<div class="">-->
                        <!--<button class="btns6 colors4 btns_sw">인증하기</button>-->
                        <!--<button class="btns6 colors5 btns_sw">취소</button>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="account_table_in maT10">-->
                      <!--<div class="">-->
                        <!--<button class="btns6 colors4"[routerLink]="['../logout']">로그인</button>-->
                      <!--</div>-->
                      <!--<p>인증 이메일 발송 완료되었습니다. 이메일을 확인하시기 바랍니다.</p>-->
                      <!--<p class="red">5초 후 로그인 페이지로 이동합니다.</p>-->
                    <!--</div>-->
                  </div>
                </td>
              </tr>
              <tr>
                <td>{{'usermgmt.loginInfo.changePassword.changePassword' | translate}}</td>
                <th></th>
                <td class="table_edit"><i class="fas fa-edit" (click)="inputFocus('password_now')"></i>
                <td>
              </tr>
              <tr class="on">
                <td colspan="3">
                  <div class="">
                    <div class="account_table_in">
                      <p>
                        <span>{{'usermgmt.loginInfo.changePassword.currentPassword' | translate}}</span>
                        <input type="password" name="password_now" id= "password_now" [(ngModel)]="password_now" (keyup.enter)="updateUserPassword()"/>
                      </p>
                      <p>
                        <span>{{'usermgmt.loginInfo.changePassword.newPassword' | translate}}
                        </span>
                        <input type="password" [(ngModel)]="password_new" name="password_new" id= "password_new" required="" (change)="checkPassword($event)" (keydown)="checkPassword($event)" (keyup)="checkPassword($event)" (keyup.enter)="updateUserPassword()">
                        <br> <span></span>
                        <span class="red"  use-form-error="isNotSame" *ngIf="!isPassword">
                        <i class="fas fa-exclamation-circle"></i> {{'usermgmt.explan.check1' | translate}}</span>
                      </p>
                      <span>{{'usermgmt.loginInfo.changePassword.newPasswordConfirmation' | translate}}
                      </span>
                      <input type="password" name="password_confirm" [(ngModel)]="password_confirm" id= "password_confirm" required="" (change)="checkRePassword($event)" (keydown)="checkRePassword($event)" (keyup)="checkRePassword($event)" (keyup.enter)="updateUserPasswordEnter()"/>
                      <div class="">
                        <button class="btns6 colors4 btns_sw" id="passwordChange" (click)="updateUserPassword()">{{'usermgmt.button.change' | translate }}</button>
                        <button class="btns6 colors5 btns_sw">{{'usermgmt.button.cancel' | translate }}</button>
                      </div>
                      <span></span>
                      <span class="red"  use-form-error="isNotSame" *ngIf="!isRePassword">
                        <i class="fas fa-exclamation-circle"></i> {{'usermgmt.explan.check5' | translate}}
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="account_table maT30">
            <table>
              <caption>{{'usermgmt.userInfo.userInfo' | translate}}
              </caption>
              <colgroup>
                <col style='width: 123px;'>
                <col style=''>
                <col style='width: 30px;'>
              </colgroup>
              <tbody>
              <tr>
                <td>{{'usermgmt.userInfo.name.name' | translate}}</td>
                <th> {{user['userName']}}</th>
                <td class="table_edit"><i class="fas fa-edit" (click)="inputFocus('userName')"></i>
              </tr>
              <tr class="on">
                <td colspan="3">
                  <div class="">
                    <div class="account_table_in">
                      <span>{{'usermgmt.userInfo.name.changeName' | translate}}
                      </span>
                      <input type="text" name="userName" id="userName" [(ngModel)]="userName" ng-model-options="{ getterSetter: true }" ng-minlength="0" (keyup)="replaceInvalidateString($event)" (keyup.enter)="userSaveEnter()"/>
                      <div class="">
                        <button class="btns6 colors4 btns_sw" id="userSave" (click)="userSave()">{{'usermgmt.button.change' | translate }}</button>
                        <button class="btns6 colors5 btns_sw" (click)="cancelButton()">{{'usermgmt.button.cancel' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>{{'usermgmt.userInfo.phoneNumber.phoneNumber' | translate}}</td>
                <th>{{user['tellPhone']}}</th>
                <td class="table_edit"><i class="fas fa-edit" (click)="inputFocus('tellPhone')" ></i>
              </tr>
              <tr class="on">
                <td colspan="3">
                  <div class="">
                    <div class="account_table_in" >
                      <span>{{'usermgmt.userInfo.phoneNumber.newPhoneNumber' | translate}}
                      </span>
                      <input type="text" class="input_tellphone" id="tellPhone" name="tellPhone" [(ngModel)]="tellPhone" (ngModelChange)="tellPhone_pattenTest()" ng-maxlength="15" (keyup.enter)="checkTellPhoneEnter()"/>
                      <div class="">
                        <button class="btns6 colors4 btns_sw" id="checkTellPhone" (click)="checkTellPhone()">{{'usermgmt.button.change' | translate }}</button>
                        <button class="btns6 colors5 btns_sw" (click)="cancelButton()">{{'usermgmt.button.cancel' | translate }}</button>
                      </div>
                      <span></span>
                      <span class="red" use-form-error="isNotSame" *ngIf="!isTellPhone">
                        <i class="fas fa-exclamation-circle"></i> {{'usermgmt.explan.check2' | translate}}
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>{{'usermgmt.userInfo.zipCode.zipCode' | translate}}</td>
                <th>{{user['zipCode']}}</th>
                <td class="table_edit"><i class="fas fa-edit" (click)="inputFocus('zipCode')"></i>
                    </tr>
              <tr class="on">
                <td colspan="3">
                  <div class="">
                    <div class="account_table_in">
                      <span>{{'usermgmt.userInfo.zipCode.newZipCode' | translate}}
                      </span>
                      <input type="text" class="input_zipCode" id="zipCode" name="zipCode" [(ngModel)]="zipCode" (ngModelChange)="zipCode_pattenTest()" ng-maxlength="15" (keyup.enter)="checkZipCodeEnter()"/>
                      <div class="">
                        <button class="btns6 colors4 btns_sw" id="checkZipCode" (click)="checkZipCode()">{{'usermgmt.button.change' | translate }}</button>
                        <button class="btns6 colors5 btns_sw" (click)="cancelButton()">{{'usermgmt.button.cancel' | translate }}</button>
                      </div>
                      <span></span>
                      <span class="red" use-form-error="isNotSame" *ngIf="!isZipCode" >
                        <i class="fas fa-exclamation-circle"></i> {{'usermgmt.explan.check3' | translate}}
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>{{'usermgmt.userInfo.address.address' | translate}}</td>
                <th>{{user['address']}}</th>
                <td class="table_edit"><i class="fas fa-edit" (click)="inputFocus('address')"></i>
                        </tr>
              <tr class="on">
                <td colspan="3">
                  <div class="">
                    <div class="account_table_in">
                      <span>{{'usermgmt.userInfo.address.newAddress' | translate}}
                      </span>
                      <input type="text" class="input_address" id="address" name="address" [(ngModel)]="address" (ngModelChange)="address_pattenTest()" (keyup.enter)="checkAddressEnter()"/>
                      <div class="">
                        <button class="btns6 colors4 btns_sw" id="checkAddress" (click)="checkAddress()">{{'usermgmt.button.change' | translate }}</button>
                        <button class="btns6 colors5 btns_sw" (click)="cancelButton()">{{'usermgmt.button.cancel' | translate }}</button>
                      </div>
                      <span></span>
                      <span class="red" use-form-error="isNotSame" *ngIf="!isAddress" >
                        <i class="fas fa-exclamation-circle"></i> {{'usermgmt.explan.check4' | translate}}
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="account_table maT30">
            <table>
              <caption>{{'usermgmt.myOrg.myOrg' | translate}}
              </caption>
              <colgroup>
                <col style=''>
                <col style='width: 30px;'>
              </colgroup>
              <tbody>
              <tr *ngFor="let org of orgs">
                <td>{{org.entity.name}}</td>
                <th data-target="#layerpop" data-toggle="modal" (click)="popclickOrg(org.metadata.guid,org.entity.name)"><i class="fas fa-trash-alt" pattern="[A-Za-z0-9]*"></i></th>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td class="text-center" colspan="2">
                  {{'usermgmt.myOrg.explan1' | translate}}
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
          <div class="account_btn">
            <button class="one btns colors5" data-target="#layerpop2" data-toggle="modal">{{'usermgmt.deleteAccount.deleteAccount' | translate }}</button>
          </div>
        </div>
      </div><!-- row one_line -->
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>
<!-- modal -->
<div class="modal fade" id="layerpop">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{'usermgmt.myOrg.orgWithdrawal' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p class="account_modal_p" >{{'usermgmt.myOrg.explan2' | translate }}<br/>
            <span [attr.id]="selectedOrgGuid">{{selectedOrgName}}</span> {{'usermgmt.myOrg.explan2-2' | translate }}
          </p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="cancelOrg(selectedOrgGuid)">{{'usermgmt.button.delete' | translate }}</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{'usermgmt.button.cancel' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade" id="layerpop2">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{'usermgmt.deleteAccount.deleteAccount' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <div class="" >
            <p class="account_modal_p">{{'usermgmt.deleteAccount.explan' | translate }}<br/>
              <span>{{user['userId']}}</span>{{'usermgmt.deleteAccount.explan-2' | translate }}
            </p>
            <input type="text" [(ngModel)]="user['userId']" disabled/>
            <input type="password" placeholder="{{'usermgmt.placeholder.password' | translate }}" id="password_check" name="password_check" [(ngModel)]="password_check" (click)="checkChPassword($event)" (keydown)="checkChPassword($event)" (keyup)="checkChPassword($event)"/>
            <!--<p class="red" use-form-error="isNotSame" *ngIf="!isChPassword">-->
              <!--<i class="fas fa-exclamation-circle"></i> 비밀 번호가 일치하지 않습니다.</p>-->
          </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="userAllDelete()">{{'usermgmt.button.delete' | translate}}</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal" (click)="cancelButton()">{{'usermgmt.button.cancel' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
