<!DOCTYPE html>
<html lang="ko">
<body class="login_b">
<div class="loginWrap">
  <div class="text_center">
    <a href="#"><img class="logo_login" src="/assets/resources/images/login/login_logo.png" alt="logo"/></a>
    <p>비밀번호 재설정</p>
    <p class="copy">등록된 계정의 비밀번호 재설정을 요청합니다.</p>
  </div>
  <form class="form-horizontal maT30" action="">
    <div class="form-group">
      <div class="col-xs-12">
        <input class="form-control" type="text" required="" placeholder="E-mail" name="email" [(ngModel)]="email" (keyup)="checkValidation()" (keypress)="checkValidation()">
        <div *ngIf="isValidation"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i> 이메일 형식이 아닙니다
        </p></div>
      </div>
    </div>
    <div class="form-group maT30">
      <div class="col-xs-12">
        <button class="btns colors4">
          비밀번호 재설정
        </button>
      </div>
    </div>
    <div class="form-group maT30">
      <div class="col-xs-6 text-left">
        <p class="red">등록된 이메일이 아닙니다.</p>
      </div>
      <div class="col-xs-6 text-right">
        <a href="/login" class="locolor">Login</a>
      </div>
    </div>

  </form>
</div>
</body>
</html>
