<div class="wrap dashboard">
  <app-catalog-header></app-catalog-header>
  <app-catalog-nav></app-catalog-nav>
  <div class="contain" *ngIf="buildpack">
    <div class="content development_wrap">
      <div class="row one_line maT30">
        <div class="col-md-6">
          <div class="cWrap">
            <dl>
              <dt class="noborder">
              <h1>{{buildpack.name}}</h1>
              <button class="btn" onclick="history.back()">
                <img src="../../../assets/resources/images/catalog/back.svg" alt=""/>Back
              </button>
              </dt>
              <dd>
                <div class="cWrap_line maT50">
                  <ul class="icon2">
                    <li>
                      <div class="icon_v">
                        <img src="../../../assets/resources/images/catalog/catalog_2.png" alt=""/>
                      </div>
                    </li>
                  </ul>
                  <i class="vline2">
                    <img src="../../../assets/resources/images/catalog/i_v2.png">
                  </i>
                  <div class="col-6 icon_T">
                    <dl class="development_dl">
                      <dt>요약
                      </dt>
                      <dd>{{buildpack.summary}}
                      </dd>
                      <dt>설명
                      </dt>
                      <dd>{{buildpack.description}}
                      </dd>
                      <dt>
                        <button class="btns2 btns2_1 colors4">문서보기
                        </button>
                      </dt>
                    </dl>
                  </div>
                </div>
              </dd>
              <dt>
              <div class="development_c maT40">
                <p><span>PHP APP 서비스</span>는 Cloud Foundry 플랫폼 상에서 Container를 생성하고, Container 내부에 PHP 애플리케이션 동작에 필요한 Runtime 환경을 자동으로 구성함으로써, 애플리케이션 비즈니스 로직 구현 외에 개발자가 해야하는 기타 인프라 작업들에 대한 부담을 줄여줍니다.</p>
                <p><span>PHP APP 서비스</span>가 제공하는 Runtime 환경 서비스의 범위는 다음과 같으며, 사용자의 선택에 따라 자동으로 구성이 가능합니다.</p>
                <ol>
                  <li>Server Container(Tomcat, JBoss 등)</li>
                  <li>Runtime Framework(Spring, 전자정부 프레임워크, KDN Power Framework 등)</li>
                  <li>Language Runtime Environment(Open JDK)</li>
                </ol>
                <p><span>PHP APP 서비스</span>는 애플리케이션의 소스코드관리시스템(Git 등)과 연동하여 실행환경 Container 생성과 동시에 사용자가 개발한 애플리케이션을 자동으로 Container 상에 배치 할 수 있습니다.
                </p>
                <p><span>PHP APP 서비스</span>의 Scaling 기능을 통해 사용자는 개발한 애플리케이션의 분산처리 환경을 쉽게 구성 할 수 있으며, Disk와 Memory 설정 만으로 클라우드 기반의 서버 자원을 쉽게 할당 받아 활용할 수 있습니다.
                </p>
                <p>애플리케이션 데이터베이스 생성 및 연결, 빌드/배포/테스트 자동화, 디버깅 등의 백-엔드 및 운영 관리 서비스와 IoT 등의 산업 특화 기능을 제공하는 서비스들과의 손쉬운 연결을 통해 사용자 애플리케이션이 제공해야할 비즈니스 요건을 빠르게 구축하고 Delivery 할 수 있습니다.
                </p>
              </div>
              </dt>
            </dl>
          </div>
        </div>
        <div class="col-md-6">
          <div class="services_wrap">
            <table class="services_t">
              <caption>앱 생성
                <div class="btnWrap">
                  <span class="cWraprightspan">앱 시작여부</span>
                  <input id="switch3" type="checkbox" checked="checked" [(ngModel)]="appStart" switch2="none">
                  <label for="switch3"></label>
                </div>
              </caption>
              <colgroup>
                <col style="width:33%;">
                <col style="width:36%;">
                <col style="width:31%;">
              </colgroup>
              <thead>
              <tr>
                <td><p>지역</p>
                </td>
                <td><p>조직</p>
                </td>
                <td><p>공간</p>
                </td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <select>
                    <option>대한민국
                    </option>
                  </select>
                </td>
                <td>
                  <select [(ngModel)]="org" (ngModelChange)="orgSelect()">
                    <option *ngFor="let org of orgs"  [ngValue]="org">{{org.name}}
                    </option>
                  </select>
                </td>
                <th>
                  <select [(ngModel)]="space">
                    <option *ngFor="let space of spaces" [ngValue]="space">{{space.name}}
                    </option>
                  </select>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <p>앱 이름</p>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <input type="text" placeholder="앱 이름을 입력하여 주십시오"  [(ngModel)]="appname" (ngModelChange)="initAppUrl()"/>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <p>앱 URL</p>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <input type="text" placeholder="호스트를 입력하여 주십시오" [(ngModel)]="appurl"/>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <p>도메인</p>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <input type="text" value="au-syd.mybluemix.net" [(ngModel)]="domain" disabled />
                </th>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="clear"></div>
          <div class="cWrap_btn">
            <button class="btns2 btns2_1 colors4" (click)="createApp()">생성</button>
            <button class="btns2 btns2_1 colors5">취소</button>
          </div>
        </div>
      </div><!-- row one_line -->
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>

