<div class="wrap dashboard">
  <app-app-top [cursorId]="'cur_catalog'"></app-app-top>
  <app-catalog-nav></app-catalog-nav>
  <div class="contain" *ngIf="buildpack">
    <div class="content development_wrap">
      <div class="row one_line maT30">
        <div class="col-md-6">
          <div class="cWrap">
            <dl>
              <dt class="noborder">
              <h1>{{buildpack.name}}</h1>
              <button class="btn" onclick="history.back()">
                <img src="../../assets/resources/images/catalog/back.svg" alt=""/>Back
              </button>
              </dt>
              <dd>
                <div class="cWrap_line maT50">
                  <ul class="icon2">
                    <li>
                      <div class="icon_v">
                        <img src="{{buildpack.img}}" alt="" onError="this.src='assets/resources/images/catalog/catalog_3.png'"/>
                      </div>
                    </li>
                  </ul>
                  <i class="vline2">
                    <img src="../../assets/resources/images/catalog/i_v2.png">
                  </i>
                  <div class="col-6 icon_T">
                    <dl class="development_dl">
                      <dt>{{ 'catalog.appDevelopment.summary' | translate }}
                      </dt>
                      <dd>{{buildpack.summary}}
                      </dd>
                      <dt>
                        <a  href="{{buildpack.docFileUrl}}" target="_blank">
                        <button class="btns2 btns2_1 colors4">{{ 'catalog.appDevelopment.viewDocument' | translate }}
                        </button>
                        </a>
                      </dt>
                  </dl>
                  </div>
                </div>
              </dd>
              <dt>
              <div class="development_c maT40">
              <dl class="development_dl">
              <dt>{{ 'catalog.appDevelopment.description' | translate }}
              </dt>
              <dd [innerHTML]="buildpack.description">
              </dd>
              </dl>
              </div>
              </dt>
            </dl>
          </div>
        </div>
        <div class="col-md-6">
          <div class="services_wrap">
            <table class="services_t">
              <caption>{{ 'catalog.appDevelopment.createAnApp' | translate }}
                <div class="btnWrap">
                  <span class="cWraprightspan">{{ 'catalog.appDevelopment.whetherTheAppIsStarted' | translate }}</span>
                  <input id="switch3" type="checkbox" checked="checked" [(ngModel)]="appStart" switch2="none">
                  <label for="switch3"></label>
                </div>
              </caption>
              <colgroup>
                <col style="width:33%;">
                <col style="width:36%;">
                <col style="width:31%;">
              </colgroup>
              <thead>
              <tr>
                <!--<td><p>{{ 'catalog.appDevelopment.region' | translate }}</p>-->
                <!--</td>-->
                <td><p>{{ 'catalog.appDevelopment.organization' | translate }}</p>
                </td>
                <td><p>{{ 'catalog.appDevelopment.space' | translate }}</p>
                </td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <!--<td>-->
                  <!--<select>-->
                    <!--<option >{{ 'catalog.region.korea' | translate }}-->
                    <!--</option>-->
                    <!--<option >{{ 'catalog.region.usa' | translate }}-->
                    <!--</option>-->
                  <!--</select>-->
                <!--</td>-->
                <td>
                  <select [(ngModel)]="org" (ngModelChange)="orgSelect()">
                    <option *ngFor="let org of orgs"  [ngValue]="org">{{org.name}}
                    </option>
                  </select>
                </td>
                <td>
                  <select [(ngModel)]="space" (ngModelChange)="spaceSelect()">
                    <option *ngFor="let space of spaces" [ngValue]="space">{{space.name}}
                    </option>
                  </select>
                </td>
              </tr>
              <tr style="height: 10px">
              <th colspan="3"><div *ngIf="spaces.length < 2"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i>{{ 'catalog.contants.notSpace' | translate }}</p></div>
                <div *ngIf="spaces.length > 1 && space.name === translateEntities.nav.space_name"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i>{{ 'catalog.contants.notSelectSpace' | translate }}</p></div></th>
              </tr>
              <tr>
                <td><p>{{ 'catalog.appDevelopment.memory' | translate }}</p>
                </td>
                <td><p>{{ 'catalog.appDevelopment.disk' | translate }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <select [(ngModel)]="memory">
                    <option *ngFor="let sltmemoy of memoryoption" [ngValue]="sltmemoy.value2">{{sltmemoy.value2}}
                    </option>
                  </select>
                </td>
                <td>
                  <select [(ngModel)]="disk">
                    <option *ngFor="let sltdisk of diskoption" [ngValue]="sltdisk.value2">{{sltdisk.value2}}
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th colspan="3">
                  <p>{{ 'catalog.appDevelopment.appName' | translate }}</p>
                </th>
              </tr>
              <tr>
                <th colspan="3" style="position:relative;">
                  <input name="appname" type="text" id="orgname" placeholder="{{ 'catalog.contants.inputAppName' | translate }}" (keyup)="checkAppName()" autofocus maxlength="50"/>
                  <div *ngIf="(namecheck === 1 && appname.length > 0)" style="position:absolute; left:0;"><p class="blue text-left login_red"><i class="fas fa-exclamation-circle"></i>{{ 'catalog.contants.createSuccessApp' | translate }}</p></div>
                  <div *ngIf="(namecheck === -1 && appname.length > 0)" style="position:absolute; left:0;"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i> {{ 'catalog.contants.createFalseApp' | translate }}</p></div>
                </th>
              </tr>
              <tr>
                <th colspan="2">
                  <p>{{ 'catalog.appDevelopment.appURL' | translate }}</p>
                </th>
                <th colspan="1">
                  <p>{{ 'catalog.appDevelopment.domain' | translate }}</p>
                </th>
              </tr>
              <tr>
                <th colspan="2" style="position:relative;">
                  <input name="route" id="routename" type="text" placeholder="{{ 'catalog.contants.inputHostName' | translate }}" (keyup)="checkHostName()" maxlength="50"/>
                  <div *ngIf="(routecheck === 1 && hostname.length > 0)" style="position:absolute; left:0;"><p class="blue text-left login_red"><i class="fas fa-exclamation-circle"></i> {{ 'catalog.contants.createSuccessRoute' | translate }}</p></div>
                  <div *ngIf="(routecheck === -1  && hostname.length > 0)" style="position:absolute; left:0;"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i> {{ 'catalog.contants.createFasleRoute' | translate }}</p></div>
                </th>
                <th colspan="1">
                  <select [(ngModel)]="currentdomain">
                    <option *ngFor="let domain of domainList" [ngValue]="domain">{{domain.entity.name}}
                    </option>
                  </select>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <p>{{ 'catalog.appDevelopment.userApp' | translate }}</p>
                </th>
              </tr>
              <tr>
                <th colspan="3" style="position:relative;">
					<div class="form-group">
					    <div>
					        <input type="file" id="userapp" name="userapp" data-buttontext="" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" (change)="onAppFileChanged_click($event)">
					       	<div class="input-group-file">
					       		<input type="text" class="form-control" disabled id="dispFileName"> 
					       		<span class="input-group-btn" tabindex="0">
					       			<label for="userapp" class="btn btn-default ">
					       				<span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> 
					       				<span class="buttonText"></span>
					       			</label>
					       		</span>
					       	</div>
					    </div>
					</div>
                </th>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="clear"></div>
          <div class="cWrap_btn">
          	<button id="registUserApp" class="btns2 btns2_1 colors4" (click)="registUserApp()">{{ 'catalog.appDevelopment.createUserApp' | translate }}</button>
            <button id="createApp" class="btns2 btns2_1 colors4" (click)="createApp()">{{ 'catalog.appDevelopment.createSampleApp' | translate }}</button>
            <button class="btns2 btns2_1 colors5" [routerLink]="['/catalog']">{{ 'catalog.appDevelopment.cancel' | translate }}</button>
          </div>
        </div>
      </div><!-- row one_line -->
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>

