<div class="wrap dashboard">
  <app-app-top [cursorId]="'cur_catalog'"></app-app-top>
  <app-catalog-nav></app-catalog-nav>
  <div class="contain" *ngIf="buildpack">
    <div class="content development_wrap">
      <div class="row one_line maT30">
        <div class="col-md-6">
          <div class="cWrap">
            <dl>
              <dt class="noborder">
              <h1>{{buildpack.name}}</h1>
              <button class="btn" onclick="history.back()">
                <img src="../../../assets/resources/images/catalog/back.svg" alt=""/>Back
              </button>
              </dt>
              <dd>
                <div class="cWrap_line maT50">
                  <ul class="icon2">
                    <li>
                      <div class="icon_v">
                        <img src="{{buildpack.thumbImgPath}}" alt=""/>
                      </div>
                    </li>
                  </ul>
                  <i class="vline2">
                    <img src="../../../assets/resources/images/catalog/i_v2.png">
                  </i>
                  <div class="col-6 icon_T">
                    <dl class="development_dl">
                      <dt>요약
                      </dt>
                      <dd>{{buildpack.summary}}
                      </dd>
                      <dt>
                        <a  href="{{buildpack.docFileUrl}}" target="_blank">
                        <button class="btns2 btns2_1 colors4">문서보기
                        </button>
                        </a>
                      </dt>
                  </dl>
                  </div>
                </div>
              </dd>
              <dt>
              <div class="development_c maT40">
              <dl class="development_dl">
              <dt>설명
              </dt>
              <dd>{{buildpack.description}}
              </dd>
              </dl>
              </div>
              </dt>
            </dl>
          </div>
        </div>
        <div class="col-md-6">
          <div class="services_wrap">
            <table class="services_t">
              <caption>앱 생성
                <div class="btnWrap">
                  <span class="cWraprightspan">앱 시작여부</span>
                  <input id="switch3" type="checkbox" checked="checked" [(ngModel)]="appStart" switch2="none">
                  <label for="switch3"></label>
                </div>
              </caption>
              <colgroup>
                <col style="width:33%;">
                <col style="width:36%;">
                <col style="width:31%;">
              </colgroup>
              <thead>
              <tr>
                <td><p>지역</p>
                </td>
                <td><p>조직</p>
                </td>
                <td><p>공간</p>
                </td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <select>
                    <option>대한민국
                    </option>
                  </select>
                </td>
                <td>
                  <select [(ngModel)]="org" (ngModelChange)="orgSelect()">
                    <option *ngFor="let org of orgs"  [ngValue]="org">{{org.name}}
                    </option>
                  </select>
                </td>
                <th>
                  <select [(ngModel)]="space" (ngModelChange)="spaceSelect()">
                    <option *ngFor="let space of spaces" [ngValue]="space">{{space.name}}
                    </option>
                  </select>

                </th>
              </tr>
              <tr>
              <th colspan="3"><div *ngIf="spaces.length < 2"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i>{{catalogcontans.NOTSPACE}}</p></div>
                <div *ngIf="spaces.length > 1 && space.name ===catalogcontans.OPTIONSPACE"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i>{{catalogcontans.NOTSELECTSPACE}}</p></div></th>
              </tr>
              <tr>
                <td><p>메모리</p>
                </td>
                <td><p>디스크</p>
                </td>
              </tr>
              <tr>
                <td>
                  <select [(ngModel)]="memory">
                    <option>512
                    </option>
                    <option>1024
                    </option>
                    <option>1536
                    </option>
                    <option>2048
                    </option>
                  </select>
                </td>
                <td>
                  <select [(ngModel)]="disk">
                    <option>512
                    </option>
                    <option>1024
                    </option>
                    <option>1536
                    </option>
                    <option>2048
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th colspan="3">
                  <p>앱 이름</p>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <input type="text" placeholder="{{appplaceholder}}"  [(ngModel)]="appname" (ngModelChange)="checkAppName()" [disabled]="disableappinput"/>
                  <div *ngIf="(namecheck === 1 && appname.length > 0)" ><p class=""><i class=""></i> {{catalogcontans.CREATESUCCESSAPP }}</p></div>
                  <div *ngIf="(namecheck === -1 && appname.length > 0)"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i> {{catalogcontans.CREATEFALSEAPP}}</p></div>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <p>앱 URL</p>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <input name="route" type="text" placeholder="{{routeplaceholder}}" [(ngModel)]="appurl" (ngModelChange)="checkHostName()" [disabled]="disablerouteinput" [maxlength]="64 + domain.length"/>
                  <div *ngIf="(routecheck === 1 && appurl.length > 0)"><p class=""><i class=""></i> {{catalogcontans.CREATESUCCESSROUTE}}</p></div>
                  <div *ngIf="(routecheck === -1  && appurl.length > 0)"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i> {{catalogcontans.CREATEFASLEROUTE}}</p></div>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <p>도메인</p>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <input type="text" value="au-syd.mybluemix.net" [(ngModel)]="domain" disabled />
                </th>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="clear"></div>
          <div class="cWrap_btn">
            <button class="btns2 btns2_1 colors4" (click)="createApp()"  [disabled]="disablebutton" >생성</button>
            <button class="btns2 btns2_1 colors5">취소</button>
          </div>
        </div>
      </div><!-- row one_line -->
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>

