<div class="organization_table_wrap">
  <div class="organization_table">
    <table>
      <caption>
        {{ 'orgMain.space' | translate }}<span>{{orgsDetailEntities.space.resources.length}}</span>
        <div class="pull-right">
          <button class="btns6 colors4" data-toggle="modal" (click)="showPopSpaceCreateClick(orgsDetailGuid)">
            <i class="fas fa-plus"></i> {{ 'orgMain.createSpace' | translate }}
          </button>
        </div>
      </caption>
      <colgroup>
        <col style=''>
        <col style='width: 30px;'>
        <col style='width: 30px;'>
      </colgroup>
      <tbody>
      <ng-container *ngFor='let space of orgsDetailEntities.space.resources'>
        <tr>
          <td><p>{{space.entity.name}}</p></td>
          <th>
            <i class="fas fa-edit"></i>
          </th>
          <th (click)="getUserSpaceRoles(orgsDetailEntities, space.metadata.guid, space.entity.name)"><i class="fas fa-file" style="color: #409ab2"></i></th>
          <th style="width: 30px" data-toggle="modal" (click)="showPopDeleteSpaceClick(orgsDetailGuid, space.metadata.guid, space.entity.name)"><i class="fas fa-trash-alt"></i></th>
        </tr>
        <tr class="on">
          <td colspan="4">
            <div class="">
              <div class="account_table_in">
                <span>{{ 'orgMain.changeName' | translate }}</span>
                <input type="text" value="{{space.entity.name}}" (keyup)="replaceInvalidateString($event)" (change)="replaceInvalidateString($event)"
                       (keyup.enter)="showPopModifySpaceNameClick(space.metadata.guid)" [id]="'modifySpaceName_'+space.metadata.guid" />
                <div class="">
                  <button class="btns6 colors4" (click)="showPopModifySpaceNameClick(space.metadata.guid)">{{ 'orgMain.change' | translate }}</button>
                  <button class="btns6 colors5 btns_sw">{{ 'orgMain.cancel' | translate }}</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div><!-- organization_table -->
  <div class="organization_table">
    <table id="domain_{{orgsDetailIndex}}">
      <caption>
        {{ 'orgMain.domain' | translate }}<span>0</span>
        <div class="pull-right">
          <button class="btns6 colors4" (click)="showPopAddDomainClick(orgsDetailGuid)">
            <i class="fas fa-plus"></i> {{ 'orgMain.addDomain' | translate }}
          </button>
        </div>
      </caption>
      <colgroup>
        <col style=''>
        <col style='width: 30px;'>
      </colgroup>
      <tbody>
      <ng-container *ngFor='let domain of domainsEntities'>
        <tr *ngIf="domain.metadata.url.indexOf('shared_domains') > -1">
          <td><p>{{domain.entity.name}}</p></td>
          <th><i class="fas fa-link"></i></th>
        </tr>
        <tr *ngIf="(domain.metadata.url.indexOf('shared_domains') < 0) && (orgsDetailGuid == domain.entity.owning_organization_guid)">
          <td><p>{{domain.entity.name}}</p></td>
          <th>
            <i class="fas fa-trash-alt" (click)="showPopDelDomainClick(orgsDetailGuid, domain.entity.name)"></i>
          </th>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div><!-- organization_table -->
  <div class="organization_table2 paT30">
    <table>
      <caption>
        {{ 'orgMain.user' | translate }}<span>{{orgsDetailEntities.userRoles.user_roles.length}}</span>
        <div class="pull-right">
          <button class="btns6 colors4" (click)="showUserInvite()">
            <i class="fas fa-plus"></i> {{ 'orgMain.inviteUser' | translate }}
          </button>
        </div>
      </caption>
      <colgroup>
        <col style='width: 250px;'>
        <col style=''>
        <col style=''>
        <col style=''>
        <col style=''>
        <col style=''>
      </colgroup>
      <thead>
      <tr>
        <td>{{ 'orgMain.user' | translate }}</td>
        <td colspan="5">{{ 'orgMain.setRoles' | translate }}</td>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor='let userRole of orgsDetailEntities.userRoles.user_roles; let j = index'>
        <ng-container *ngIf="userRole.user_email !== null">
          <tr>
            <td>{{userRole.user_email}}</td>
            <td>
              <input id="check1_{{orgsDetailIndex}}_{{j}}" type="checkbox" [checked]="userRole.roles.indexOf('OrgManager') > -1" (click)="showMemberSetOrgRole(userRole, orgsDetailEntities.userRoles.user_roles, orgsDetailGuid, 'OrgManager', 'check1_'+orgsDetailIndex+'_'+j)"/>
              <label for="check1_{{orgsDetailIndex}}_{{j}}">OrgManager({{ 'orgMain.orgAdmin' | translate }})</label>
            </td>
            <td>
              <input id="check2_{{orgsDetailIndex}}_{{j}}" type="checkbox" [checked]="userRole.roles.indexOf('BillingManager') > -1" (click)="showMemberSetOrgRole(userRole, orgsDetailEntities.userRoles.user_roles, orgsDetailGuid, 'BillingManager', 'check2_'+orgsDetailIndex+'_'+j)"/>
              <label for="check2_{{orgsDetailIndex}}_{{j}}">BillingManager({{ 'orgMain.orgBillingManager' | translate }})</label>
            </td>
            <td>
              <input id="check3_{{orgsDetailIndex}}_{{j}}" type="checkbox" [checked]="userRole.roles.indexOf('OrgAuditor') > -1" (click)="showMemberSetOrgRole(userRole, orgsDetailEntities.userRoles.user_roles, orgsDetailGuid, 'OrgAuditor','check3_'+orgsDetailIndex+'_'+j)"/>
              <label for="check3_{{orgsDetailIndex}}_{{j}}">OrgAuditor({{ 'orgMain.orgObserver' | translate }})</label>
            </td>
            <th><button class="btns4 colors8" (click)="showMemberCancel(userRole, orgsDetailEntities.userRoles.user_roles, orgsDetailGuid)">{{ 'orgMain.cancelMember' | translate }}</button></th>
            <th></th>
          </tr>
        </ng-container>
      </ng-container>
      <ng-container *ngFor='let inviteUser of inviteOrgList; let k = index'>
        <ng-container *ngIf="orgsDetailGuid === inviteUser.orgGuid">
          <tr>
            <td>{{inviteUser.userId}}</td>
            <td>
              <input id="check4_{{orgsDetailIndex}}_{{k}}" type="checkbox" [checked]="getinviteOrgRole(inviteUser.role).om" />
              <label for="check4_{{orgsDetailIndex}}_{{k}}">OrgManager({{ 'orgMain.orgAdmin' | translate }})</label>
            </td>
            <td>
              <input id="check5_{{orgsDetailIndex}}_{{k}}" type="checkbox" [checked]="getinviteOrgRole(inviteUser.role).bm"/>
              <label for="check5_{{orgsDetailIndex}}_{{k}}">BillingManager({{ 'orgMain.orgBillingManager' | translate }})</label>
            </td>
            <td>
              <input id="check6_{{orgsDetailIndex}}_{{k}}" type="checkbox" [checked]="getinviteOrgRole(inviteUser.role).oa"/>
              <label for="check6_{{orgsDetailIndex}}_{{k}}">OrgAuditor({{ 'orgMain.orgObserver' | translate }})</label>
            </td>
            <th><button class="btns4 colors8" (click)="showInviteCancel(inviteUser)">{{ 'orgMain.inviteCancel' | translate }}</button></th>
            <th><button class="btns4 colors9" (click)="showUserReInvite(inviteUser)">{{ 'orgMain.inviteReSend' | translate }}</button></th>
          </tr>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </div><!-- organization_table2 -->
  <div class="organization_table2 maT30 paB40">
    <table class="line_tables">
      <caption>
        {{ 'orgMain.quota' | translate }}
      </caption>
      <colgroup>
        <col style=''>
        <col style=''>
        <col style=''>
        <col style=''>
        <col style=''>
        <col style=''>
        <col style=''>
        <col style=''>
        <col style=''>
      </colgroup>
      <thead>
      <tr>
        <td>{{ 'orgMain.select' | translate }}</td>
        <td>{{ 'orgMain.serviceName' | translate }}</td>
        <td>{{ 'orgMain.memory' | translate }}</td>
        <td>{{ 'orgMain.instantMemory' | translate }}</td>
        <td>{{ 'orgMain.route' | translate }}</td>
        <td>{{ 'orgMain.serviceInstant' | translate }}</td>
        <td>{{ 'orgMain.price' | translate }}</td>
        <td>{{ 'orgMain.instant' | translate }}</td>
        <td>{{ 'orgMain.routePort' | translate }}</td>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor='let quotaDefinition of quotaDefinitionsEntities; let j = index'>
        <tr class="org_quota" [ngClass]="{'cur': quotaDefinition.metadata.guid == orgsDetailEntities.quota.metadata.guid}">
          <td>
            <ng-container *ngIf="quotaDefinition.metadata.guid == orgsDetailEntities.quota.metadata.guid; else elseQuota">
              <input id="quota_radio_{{orgsDetailIndex}}_{{j}}" type="radio" name="quota_radio_{{orgsDetailIndex}}" checked="checked" data-default="true">
            </ng-container>
            <ng-template #elseQuota>
              <input id="quota_radio_{{orgsDetailIndex}}_{{j}}" type="radio" name="quota_radio_{{orgsDetailIndex}}"
                     (click)="showPopChangeQuotaClick(orgsDetailGuid, orgsDetailEntities.quota.metadata.guid, quotaDefinition.metadata.guid, orgsDetailIndex)" data-default="false">
            </ng-template>
            <label for="quota_radio_{{orgsDetailIndex}}_{{j}}"></label>
          </td>
          <td>{{quotaDefinition.entity.name}}</td>
          <td>{{instanceMemoryLimit(quotaDefinition.entity.memory_limit)}}</td>
          <td>{{instanceMemoryLimit(quotaDefinition.entity.instance_memory_limit)}}</td>
          <td>{{applicationInstanceLimit(quotaDefinition.entity.total_routes)}}</td>
          <td>{{applicationInstanceLimit(quotaDefinition.entity.total_services)}}</td>
          <td>{{priceKorean(quotaDefinition.entity.non_basic_services_allowed)}}</td>
          <td>{{applicationInstanceLimit(quotaDefinition.entity.app_instance_limit)}}</td>
          <td>{{applicationInstanceLimit(quotaDefinition.entity.total_reserved_route_ports)}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div><!-- organization_table2 -->
</div>



<div class="modal fade" id="layerpop_space_create_{{orgsDetailGuid}}">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'orgMain.layerpop.spaceCreate.title' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <div class="">
            <input type="text" placeholder="{{ 'orgMain.layerpop.spaceCreate.placeholder' | translate }}" (keyup)="replaceInvalidateString($event)" (change)="replaceInvalidateString($event)" (keyup.enter)="createSpace()" id="createSpaceName" autofocus/>
          </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="createSpace()">{{ 'orgMain.layerpop.spaceCreate.btn1' | translate }}</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'orgMain.layerpop.spaceCreate.btn2' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_space_rename_{{orgsDetailGuid}}">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'orgMain.layerpop.spaceRename.title' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p>{{ 'orgMain.layerpop.spaceRename.bodyText' | translate : {sltSpaceRename: sltSpaceRename} }}</p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="renameSpace()">{{ 'orgMain.layerpop.spaceRename.btn1' | translate }}</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'orgMain.layerpop.spaceRename.btn2' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_space_delete_{{orgsDetailGuid}}">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'orgMain.layerpop.spaceDelete.title' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <div class="">
            <p class="account_modal_p" [innerHTML]="'orgMain.layerpop.spaceDelete.bodyText' | translate  : {sltSpaceDelname: sltSpaceDelname}">
            </p>
          </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="deleteSpace()">{{ 'orgMain.layerpop.spaceDelete.btn1' | translate }}</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'orgMain.layerpop.spaceDelete.btn2' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_domain_add_{{orgsDetailGuid}}">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'orgMain.layerpop.domainAdd.title' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <div class="">
            <input type="text" placeholder="{{ 'orgMain.layerpop.domainAdd.placeholder' | translate }}" (keyup)="replaceInvalidateString($event)" (change)="replaceInvalidateString($event)" (keyup.enter)="addDmaoin()" id="addDmaoinName"/>
          </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="addDmaoin()">{{ 'orgMain.layerpop.domainAdd.btn1' | translate }}</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'orgMain.layerpop.domainAdd.btn2' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_domain_delete_{{orgsDetailGuid}}">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'orgMain.layerpop.domainDelete.title' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <div class="">
            <p class="account_modal_p" [innerHTML]="'orgMain.layerpop.domainDelete.bodyText' | translate  : {sltDomainName: sltDomainName}">
            </p>
          </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="deleteDmaoin()">{{ 'orgMain.layerpop.domainDelete.btn1' | translate }}</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'orgMain.layerpop.domainDelete.btn2' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_quota_change_{{orgsDetailGuid}}">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" (click)="changeQuotaCancel()">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'orgMain.layerpop.quotaChange.title' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <div class="">
            <p class="account_modal_p" [innerHTML]="'orgMain.layerpop.quotaChange.bodyText' | translate">
            </p>
          </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="changeQuota()">{{ 'orgMain.layerpop.quotaChange.btn1' | translate }}</button>
          <button type="button" class="btns2 colors5" (click)="changeQuotaCancel()">{{ 'orgMain.layerpop.quotaChange.btn2' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_member_cancel_{{orgsDetailGuid}}">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'orgMain.layerpop.memberCancel.title' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <div class="">
            <p class="account_modal_p" [innerHTML]="'orgMain.layerpop.memberCancel.bodyText' | translate  : {sltMemberName: sltMemberName}">
            </p>
          </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="memberCancel()">{{ 'orgMain.layerpop.memberCancel.btn1' | translate }}</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'orgMain.layerpop.memberCancel.btn2' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_org_set_role_{{orgsDetailGuid}}">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal" (click)="cancelMemberSetOrgRole()">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'orgMain.layerpop.orgSetRole.title' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <div class="">
            <p class="account_modal_p" [innerHTML]="'orgMain.layerpop.orgSetRole.bodyText' | translate  : {sltMemberName: sltMemberName, SltOrgRoleName: SltOrgRoleName}">
            </p>
          </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="memberSetOrgRole()">{{ 'orgMain.layerpop.orgSetRole.btn1' | translate }}</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal" (click)="cancelMemberSetOrgRole()">{{ 'orgMain.layerpop.orgSetRole.btn2' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_org_invite_cancle_{{orgsDetailGuid}}">
  <ng-container *ngIf="sltEntity">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 class="modal-title">초대 취소</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <p class="account_modal_p"><span>{{sltMemberName}}</span>님의 <span>{{orgsDetailName}}</span>조직의 초대를 취소하시겠습니까?
              </p>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="inviteCancel()">{{ 'orgMain.layerpop.orgSetRole.btn1' | translate }}</button>
            <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'orgMain.layerpop.orgSetRole.btn2' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal fade" id="layerpop_ReInvite_{{orgsDetailGuid}}">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">사용자 재초대</h4>
        </div>
        <!-- body -->
        <ng-container *ngIf="sltEntity">
          <div class="modal-body">
            <input class="w100" id="invitename" placeholder="sample@test.com" disabled="disabled"/>
            <span class="red">{{ 'orgMain.layerpop.layerpop4.explanation' | translate }}</span>
            <table class="maT30">
              <colgroup>
                <col style=''>
                <col style=''>
                <col style=''>
                <col style=''>
              </colgroup>
              <thead>
              <tr>
                <td>{{ 'orgMain.layerpop.layerpop4.org' | translate }}</td>
                <td colspan="3">{{ 'orgMain.layerpop.layerpop4.assignedOrg' | translate }}</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{orgsDetailName}}</td>
                <td>
                  <input class="checkSel3" id="modal4" type="checkbox"/>
                  <label for="modal4">OrgManager({{ 'orgMain.layerpop.layerpop4.orgAdmin' | translate }})</label>
                </td>
                <td>
                  <input class="checkSel3" id="modal5" type="checkbox" checked="checked"/>
                  <label for="modal5">BillingManager({{ 'orgMain.layerpop.layerpop4.orgBillingManager' | translate }})</label>
                </td>
                <td>
                  <input class="checkSel3" id="modal6" type="checkbox" checked="checked"/>
                  <label for="modal6">OrgAuditor({{ 'orgMain.layerpop.layerpop4.orgObserver' | translate }})</label>
                </td>
              </tr>
              </tbody>

            </table>
            <input class="checkAll3" id="checkAll3" type="checkbox" (click)="allCheck()"/>
            <label class="maT10" for="checkAll3">{{ 'orgMain.layerpop.layerpop4.selectAll' | translate }}</label>
            <table class="maT30" *ngIf="sltEntity.space.resources.length > 0">
              <colgroup>
                <col style=''>
                <col style=''>
                <col style=''>
                <col style=''>
              </colgroup>
              <thead>
              <tr>
                <td>{{ 'orgMain.layerpop.layerpop4.space' | translate }}
                </td>
                <td colspan="3">{{ 'orgMain.layerpop.layerpop4.roleGiveSpace' | translate }}
                </td>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let space of sltEntity.space.resources; let i = index">
                <td>{{space.entity.name}}</td>
                <td>
                  <input class="checkSel4" id="modal7_{{i}}" type="checkbox"/>
                  <label for="modal7_{{i}}">SpaceManager</label>
                </td>
                <td>
                  <input class="checkSel4" id="modal8_{{i}}" type="checkbox" checked="checked"/>
                  <label for="modal8_{{i}}">SpaceDeveloper</label>
                </td>
                <td>
                  <input class="checkSel4" id="modal9_{{i}}" type="checkbox" checked="checked"/>
                  <label for="modal9_{{i}}">SpaceAuditor</label>
                </td>
              </tr>
              </tbody>
            </table>

            <input class="checkAll4" id="checkAll4" type="checkbox"/>
            <label class="maT10" for="checkAll4">{{ 'orgMain.layerpop.layerpop4.selectAll' | translate }}</label>

          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="userReInvite()">{{ 'orgMain.layerpop.layerpop4.btn1' | translate }}</button>
            <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'orgMain.layerpop.layerpop4.btn2' | translate }}</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_SpaceRole_{{orgsDetailGuid}}">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{sltSpaceName}} 권한부여</h4>
        </div>
        <!-- body -->
        <ng-container *ngIf="sltEntity">
          <div class="modal-body">
            <table class="maT30">
              <tbody>
              <tr *ngFor="let userrole of sltEntity.userRoles.user_roles; let i = index">
                <ng-container *ngIf="userrole.user_email !== null">
                  <td>{{userrole.user_email}}</td>
                  <td>
                    <input class="checkSel5" id="modal10_{{i}}" type="checkbox"/>
                    <label for="modal10_{{i}}">SpaceManager</label>
                  </td>
                  <td>
                    <input class="checkSel5" id="modal11_{{i}}" type="checkbox" checked="checked"/>
                    <label for="modal11_{{i}}">SpaceDeveloper</label>
                  </td>
                  <td>
                    <input class="checkSel5" id="modal12_{{i}}" type="checkbox" checked="checked"/>
                    <label for="modal12_{{i}}">SpaceAuditor</label>
                  </td>
                </ng-container>
              </tr>
              </tbody>
            </table>

            <input class="checkAll5" id="checkAll5" type="checkbox"/>
            <label class="maT10" for="checkAll5">{{ 'orgMain.layerpop.layerpop4.selectAll' | translate }}</label>
          </div>

          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="updateUserSpaceRole()">{{ 'orgMain.layerpop.layerpop4.btn3' | translate }}</button>
            <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'orgMain.layerpop.layerpop4.btn2' | translate }}</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop4_{{orgsDetailGuid}}">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'orgMain.layerpop.layerpop4.title' | translate }}</h4>
        </div>
        <!-- body -->
        <ng-container *ngIf="sltEntity">
          <div class="modal-body">
            <input class="w100" placeholder="sample@test.com" id="userEmail" [(ngModel)]="invite_name" (keyup.enter)="userInvite()" (keyup)="usercheck()" />
            <ng-container *ngIf="invite_name === ''"><span class="red">{{ 'orgMain.layerpop.layerpop4.explanation' | translate }}</span></ng-container>
            <ng-container *ngIf="invite_name !== '' && usercheck()"><span class="blue">* 사용자 에게 초대메세지를 보낼 수 있습니다.</span></ng-container>
            <ng-container *ngIf="invite_name !== '' && !usercheck()"><span class="red">* 이메일에 해당하는 사용자가 없습니다.</span></ng-container>
            <table class="maT30">
              <colgroup>
                <col style=''>
                <col style=''>
                <col style=''>
                <col style=''>
              </colgroup>
              <thead>
              <tr>
                <td>{{ 'orgMain.layerpop.layerpop4.org' | translate }}</td>
                <td colspan="3">{{ 'orgMain.layerpop.layerpop4.assignedOrg' | translate }}</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{orgsDetailName}}</td>
                <td>
                  <input class="checkSel" id="modal1" type="checkbox"/>
                  <label for="modal1">OrgManager({{ 'orgMain.layerpop.layerpop4.orgAdmin' | translate }})</label>
                </td>
                <td>
                  <input class="checkSel" id="modal2" type="checkbox" checked="checked"/>
                  <label for="modal2">BillingManager({{ 'orgMain.layerpop.layerpop4.orgBillingManager' | translate }})</label>
                </td>
                <td>
                  <input class="checkSel" id="modal3" type="checkbox" checked="checked"/>
                  <label for="modal3">OrgAuditor({{ 'orgMain.layerpop.layerpop4.orgObserver' | translate }})</label>
                </td>
              </tr>
              </tbody>
            </table>
            <input class="checkAll" id="checkAll" type="checkbox" (click)="allCheck()"/>
            <label class="maT10" for="checkAll">{{ 'orgMain.layerpop.layerpop4.selectAll' | translate }}</label>
            <table class="maT30" *ngIf="sltEntity.space.resources.length > 0">
              <colgroup>
                <col style=''>
                <col style=''>
                <col style=''>
                <col style=''>
              </colgroup>
              <thead>
              <tr>
                <td>{{ 'orgMain.layerpop.layerpop4.space' | translate }}
                </td>
                <td colspan="3">{{ 'orgMain.layerpop.layerpop4.roleGiveSpace' | translate }}
                </td>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let space of sltEntity.space.resources; let i = index">
                <td>{{space.entity.name}}</td>
                <td>
                  <input class="checkSel2" id="modal4_{{i}}" type="checkbox"/>
                  <label for="modal4_{{i}}">SpaceManager</label>
                </td>
                <td>
                  <input class="checkSel2" id="modal5_{{i}}" type="checkbox" checked="checked"/>
                  <label for="modal5_{{i}}">SpaceDeveloper</label>
                </td>
                <td>
                  <input class="checkSel2" id="modal6_{{i}}" type="checkbox" checked="checked"/>
                  <label for="modal6_{{i}}">SpaceAuditor</label>
                </td>
              </tr>
              </tbody>
            </table>

            <input class="checkAll2" id="checkAll2" type="checkbox"/>
            <label class="maT10" for="checkAll2">{{ 'orgMain.layerpop.layerpop4.selectAll' | translate }}</label>

          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4" (click)="userInvite()">{{ 'orgMain.layerpop.layerpop4.btn1' | translate }}</button>
            <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'orgMain.layerpop.layerpop4.btn2' | translate }}</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
