<app-app-top [cursorId]="'cur_quantity'"></app-app-top>
<app-nav [cursorId]="'cur_quantity_nav'"></app-nav>
<div class="contain">
  <div class="content">
    <div class="row one_line">
      <h1>Usage inquiry <small>Query the memory usage of the app you are using.</small>
      </h1>
      <div class="col-md-12">
        <div class="organizations_wrap">
          <div class="organizations_in">
            <div>
              <dl>
                <dt>
                  <p>Organization
                  </p>
                  <p>Space
                  </p>
                </dt>
                <dd>
                  <select>
                    <option>Dev
                    </option>
                  </select>
                  <select>
                    <option>ALL
                    </option>
                  </select>
                </dd>
              </dl>
              <dl id="dl2">
                <dt>
                  <p>
                    View month
                  </p>
                </dt>
                <dd>
                  <button class="btns2 colors4 pull-right" (click)="getQuantity()">Lookup</button>
                  <select>
                    <option>2016
                    </option>
                  </select> Year
                  <select>
                    <option>12
                    </option>
                  </select> Month ~
                  <select>
                    <option>2017
                    </option>
                  </select> Year
                  <select>
                    <option>6
                    </option>
                  </select> Month
                  <div class="quantity_ra">
                    <input id="ra1" type="radio" name="ra1" />
                    <label for="ra1"> 1 month</label>
                    <input id="ra2" type="radio" name="ra1" />
                    <label for="ra2"> 2 months</label>
                    <input id="ra3" type="radio" name="ra1" />
                    <label for="ra3"> 3 months</label>
                  </div>
                </dd>
              </dl>
              <div class="clear"></div>
            </div>
          </div>
        </div>

        <div class="organizations_wrap maT30" *ngFor="let chart of charts">
          <div class="organizations_table">
            <table>
              <caption>Total Usage GB-Hours <i class="fas fa-exclamation-circle"></i>
              </caption>
              <tr>
                <td>
                  <div class="asdasd">
                    <div class="chart_div">
                      <p>200
                      </p>
                      <p>Total Used
                      </p>
                    </div>
                    <canvas name="chartCanvas">
                    </canvas>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <!--
        <div class="organizations_wrap maT30 last">
          <div class="organizations_table">
            <table>
              <caption>GB-hours of usage per app</caption>
              <tr>
                <td>
                  <div class="asdasd">
                    <canvas name="myChart2">
                    </canvas>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        -->
      </div>
    </div><!-- row one_line -->
  </div>
  <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
</div>
