<div class="wrap dashboard">
  <app-app-top></app-app-top>
  <app-app-nav></app-app-nav>

  <div class="contain">
    <div class="content">
      <div class="row one_line maT30">
        <div class="col-md-6">
          <div class="col-in col-d1">
            <ul class="colright_btn">
              <li class="monitoring">
                <ul>
                  <li><i class="fas fa-play"></i></li>
                  <li><i class="fas fa-stop"></i></li>
                  <li><i class="fas fa-stop"></i><!--i class="colorsR fas fa-sync-alt"></i--></li>
                </ul>
              </li>
              <li class="rot_deg"><i class="rot fas fa-sync-alt"></i>
              </li>
              <li>
                <i class="fas fa-ellipsis-v"></i>
                <ol class="">
                  <li class="name_inputTitle"><a class="fas fa-edit" (click)="renameAppClick()"> 이름변경</a>
                  </li>
                  <li><a class="fas fa-trash-alt"> 삭제</a></li>
                </ol>
              </li>
            </ul>
            <div class="col_in maT30" id="col_in1">
              <h1 class="headTH2">
                <span>{{appSummaryName}}</span>
                <div class="headT">
                  <input class="tempTitle" type="text" value="" autocomplete="off" />
                  <button class="yess" (click)="renameAppSaveClick()">
                    <i class="far fa-save"></i>
                  </button>
                  <button class="nos">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </h1>
              <p class="copy">{{appSummaryName}}개요 페이지 입니다.</p>
              <div [ngSwitch]="appSummaryState">
                <button class="btns colors1" *ngSwitchCase="'STARTED'"><img src="/assets/resources/images/main/RUNNING.svg" alt=""/>RUNNING</button>
                <button class="btns colors2" *ngSwitchCase="'DOWNED'"><img src="/assets/resources/images/main/energy.svg" alt=""/>DOWN</button>
                <button  class="btns colors2"*ngSwitchCase="'CRASHED'"><img src="/assets/resources/images/main/energy.svg" alt=""/>CRASHED</button>
                <button class="btns colors3" *ngSwitchDefault><img src="/assets/resources/images/main/moon.svg" alt=""/>STOP</button>
              </div>
            </div>
            <div class="maT30">
              <dl class="col_in1_dl">
                <dt>
                <ul>
                  <li><span class="on_dot BGcolors"></span> 지역
                  </li>
                  <li>대한민국 ??</li>
                </ul>
                <ul>
                  <li>
                    <span class="on_dot BGcolors2"></span> 조직
                  </li>
                  <li>dev_test ??</li>
                </ul>
                <ul>
                  <li><span class="on_dot BGcolors3"></span> 공간
                  </li>
                  <li>dev_area ??</li>
                </ul>
                </dt>
                <dt>
                <ol class="monitor_pd">
                  <li>
                    <span>앱 URL:</span>
                    <button class="btns4 colors4">URL Rink
                      <div class="">
                        <i>
                          <img src="../resources/images/main/btn_url_dot.png" alt=""/>
                        </i>
                        {{appSummaryRouteUri}}
                      </div>
                    </button>
                  </li>
                  <li><span>마지막 푸시:</span>{{appSummaryPackageUpdatedAt}}</li>
                  <li><span>앱 개발환경:</span>{{appSummaryBuildpack}}</li>
                </ol>
                </dt>
              </dl>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div id="instance" class="col-in col-in-bg">
            <dl>
              <dt class="tit">INSTANCE
                <span class="pull-right rights"></span>
              </dt>
              <dd><span class="instanceS">{{appSummaryInstance}}</span><small> / 최대 <span>{{appSummaryInstanceMax}}</span>개</small>
                <div class="pull-right">
                  <div class="icon_wrap">
                    <img src="/assets/resources/images/main/instance_ico.png" alt="" />
                  </div>
                  <div class="BG_wrap">
                    <img src="/assets/resources/images/main/ico_bg.png" alt="" />
                    <input id="instancePer" value="0"/>
                  </div>
                </div>
              </dd>
              <dt>
              <ul class="instance_ul">
                <li>
                  <button class="btns0 colors0">
                    <i class="fas fa-angle-up"></i>
                  </button>
                </li>
                <li><button class="btns0 colors0"><i class="fas fa-angle-down"></i></button>
                </li>
                <li><button class="btns0 colors0 a0001" (click)="instanceDirectInputClick()">직접입력</button>
                </li>
                <li><button class="btns0 colors0 b0001" (click)="instanceDirectSaveClick()">저장</button>
                </li>
              </ul>
              </dt>
            </dl>
          </div>
        </div>
        <div class="col-md-3">
          <div id="cpu" class="col-in col-in-bg">
            <dl>
              <dt class="tit">CPU
                <span class="pull-right rights"></span>
              </dt>
              <dd><span>{{appStatsCpuPer}}</span><i>%</i><small> / 100</small>
                <div class="pull-right">
                  <div class="icon_wrap">
                    <img src="/assets/resources/images/main/cpu_ico.png" alt="" />
                  </div>
                  <div class="BG_wrap">
                    <img src="/assets/resources/images/main/ico_bg.png" alt="" />
                    <input id="cpuPer" value="0"/>
                  </div>
                </div>
              </dd>
              <dt>
              <ul class="instance_ul">
                <!--li><button class="btns0 colors0"><i class="fas fa-angle-up"></i></button>
                </li>
                <li><button class="btns0 colors0"><i class="fas fa-angle-down"></i></button>
                </li>
                <li><button class="btns0 colors0">저장</button>
                </li-->
              </ul>
              </dt>
            </dl>
          </div>
        </div>
        <div class="col-md-3 maT30">
          <div id="memory" class="col-in col-in-bg">
            <dl>
              <dt class="tit">MEMORY
                <span class="pull-right rights"></span>
              </dt>
              <!--<dd><span class="memS">{{ (appSummaryMemory < 1024) ? (appSummaryMemory) : (appSummaryMemory/1024) }}</span><i>{{ (appSummaryMemory < 1024) ? 'M' : 'G' }}</i><small> / 최대 100G</small>-->
              <dd><span class="memS">{{appSummaryMemory}}</span><i>MB</i><small> / 최대 100G</small>
                <div class="pull-right">
                  <div class="icon_wrap">
                    <img src="/assets/resources/images/main/memory_ico.png" alt="" />
                  </div>
                  <div class="BG_wrap">
                    <img src="/assets/resources/images/main/ico_bg.png" alt="" />
                    <input id="memoryPer" value="0"/>
                  </div>
                </div>
              </dd>
              <dt>
              <ul class="instance_ul">
                <li><button class="btns0 colors0"><i class="fas fa-angle-up"></i></button>
                </li>
                <li><button class="btns0 colors0"><i class="fas fa-angle-down"></i></button>
                </li>
                <li><button class="btns0 colors0 a0002" (click)="memDirectInputClick()">직접입력</button>
                </li>
                <li><button class="btns0 colors0 b0002" (click)="memDirectSaveClick()">저장</button>
                </li>
              </ul>
              </dt>
            </dl>
          </div>
        </div>
        <div class="col-md-3 maT30">
          <div id="disk" class="col-in col-in-bg">
            <dl>
              <dt class="tit">DISK
                <span class="pull-right rights"></span>
              </dt>
              <!--<dd><span class="diskS">{{ (appSummaryDisk < 1024) ? (appSummaryDisk) : (appSummaryDisk/1024) }}</span><i>{{ (appSummaryDisk < 1024) ? 'M' : 'G' }}</i><small> / 최대 300G</small>-->
              <dd><span class="diskS">{{appSummaryDisk}}</span><i>MB</i><small> / 최대 300G</small>
                <div class="pull-right">
                  <div class="icon_wrap">
                    <img src="/assets/resources/images/main/disk_ico.png" alt="" />
                  </div>
                  <div class="BG_wrap">
                    <img src="/assets/resources/images/main/ico_bg.png" alt="" />
                    <input id="diskPer" value="0"/>
                  </div>
                </div>
              </dd>
              <dt>
              <ul class="instance_ul">
                <li><button class="btns0 colors0"><i class="fas fa-angle-up"></i></button>
                </li>
                <li><button class="btns0 colors0"><i class="fas fa-angle-down"></i></button>
                </li>
                <li><button class="btns0 colors0 a0003" (click)="diskDirectInputClick()">직접입력</button>
                </li>
                <li><button class="btns0 colors0 b0003" (click)="diskDirectSaveClick()">저장</button>
                </li>
              </ul>
              </dt>
            </dl>
          </div>
        </div>
      </div><!-- row one_line -->
      <div class="row two_line cataloglast" id="tabContent_all">
        <ul id="sortable">
          <li>
            <div class="sortable_wrap">
              <div class="sortable_top">
                <p>이벤트</p>
                <ul class="sortable_right"><!--
                                    <li class="rot_deg2"><i class="fas fa-undo-alt"></i></li> -->
                  <li onclick="location.href='dashboard_event.html'"><i class="fas fa-expand"></i></li>
                </ul>
              </div>
              <div class="table_wrap table_wraps">
                <div>
                  <table class="table_event">
                    <!-- <caption>이벤트</caption> -->
                    <colgroup>
                      <col style='width: 30px;'>
                      <col style='width: 40px;'>
                      <col style='*'>
                      <col style='*'>
                    </colgroup>
                    <thead>
                    <tr>
                      <td>#
                      </td>
                      <td>Status
                      </td>
                      <td>Date
                      </td>
                      <td>Project
                      </td>
                      <td>Account
                      </td>
                      <td>Report
                      </td>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of appEventsEntitiesRe.slice().reverse(); let i = index">
                      <tr>
                        <td>{{i+1}}</td>
                        <th><i class="fas fa-{{item.iconClass}}"></i></th>
                        <td>{{item.date}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.actor_name}}</td>
                        <td>{{item.requestText}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="sortable_wrap">
              <div class="sortable_top">
                <p>상태</p>
                <ul class="sortable_right"><!--
                                    <li class="rot_deg2"><i class="fas fa-undo-alt"></i></li> -->
                  <li onclick="location.href='dashboard_state.html'"><i class="fas fa-expand"></i></li>
                </ul>
              </div>
              <div class="table_wrap table_wraps">
                <div>
                  <table class="condition">
                    <colgroup>
                      <col style='width: 30px;'>
                      <col style='width: 70px;'>
                      <col style='*'>
                      <col style='*'>
                    </colgroup>
                    <thead>
                    <tr>
                      <td>#
                      </td>
                      <td>Status
                      </td>
                      <td>CPU
                      </td>
                      <td>Memory
                      </td>
                      <td>Disk
                      </td>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of appStatusEntities; let i = index">
                      <tr>
                        <td>{{i+1}}</td>
                        <th><span class="BGcolors{{item.statusClass}}">{{item.statusText}}</span></th>
                        <td>{{item.cpu}} %</td>
                        <td>{{item.memory}} Byets</td>
                        <td>{{item.disk}} Byets</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="sortable_wrap">
              <div class="sortable_top">
                <p>라우트</p>
                <ul class="sortable_right"><!--<li class="rot_deg2"><i class="fas fa-undo-alt"></i></li> -->
                  <li onclick="location.href='dashboard_lauth.html'"><i class="fas fa-expand"></i></li>
                </ul>
              </div>
              <div class="table_wrap table_wraps">
                <div>
                  <table class="nocondition">
                    <colgroup>
                      <col style='*'>
                    </colgroup>
                    <tbody *ngFor="let item of appRoutesEntitiesRe">
                      <tr>
                        <td>{{item.uri}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="sortable_wrap">
              <div class="sortable_top">
                <p>환경변수</p>
                <ul class="sortable_right"><!--
                                    <li class="rot_deg2"><i class="fas fa-undo-alt"></i></li>
                                    <li><i class="fas fa-cog"></i></li> -->
                  <li class="bar" data-clipboard-action="cut" data-clipboard-target="#out_a"><i class="fas fa-clipboard"></i></li>
                  <li onclick="location.href='dashboard_variable.html'"><i class="fas fa-expand"></i></li>
                </ul>
              </div>
              <div class="table_wrap table_wraps">
                <div>
                  <table class="variable">
                    <colgroup>
                      <col style='width:130px;'>
                      <col style='*'>
                    </colgroup>
                    <tbody>
                    <tr>
                      <th>사용자 정의 URL</th>
                      <td>
                        <span *ngFor="let item of appEnvUserEntities">
                          {{item.eventID}}:{{item.eventData}}
                        </span>
                      </td>
                    </tr>
                    <tr class="H180">
                      <th>시스템 정의</th>
                      <td><!--data-clipboard-target="#bar"-->
                        <textarea id="in_a">{{appSystemProvidedEnv}}</textarea>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="sortable_wrap">
              <div class="sortable_top">
                <p>서비스</p>
                <ul class="sortable_right"><!--
                                    <li class="rot_deg2"><i class="fas fa-undo-alt"></i></li>
                                    <li><i class="fas fa-cog"></i></li> -->
                  <li onclick="location.href='dashboard_service.html'"><i class="fas fa-expand"></i></li>
                </ul>
              </div>
              <div class="table_wrap">
                <div>
                  <p class="service_p">이 앱에 대해 서비스가 사용되지 않았습니다.<br>
                    Delivery Pipeline, GitHub 등을 통해 빌드, 테스트 및 배치를<br>
                    자동화하는 서비스를 사용하십시오.
                  </p>
                  <button class="btns2 colors4">
                    <i class="fas fa-plus"></i>서비스 등록
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="sortable_wrap">
              <div class="sortable_top">
                <p>로그</p>
                <ul class="sortable_right"><!--
                                    <li class="rot_deg2"><i class="fas fa-undo-alt"></i></li> -->
                  <li onclick="location.href='dashboard_log.html'"><i class="fas fa-expand"></i></li>
                </ul>
              </div>
              <div class="table_wrap table_wraps">
                <div style="height:270px;text-align:left;" innerHTML="{{appRecentLogs}}">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row two_line two_view" id="tabContent_event" style="display:none;">
        <ul class="maT30">
          <li>
            <div class="sortable_wrap">
              <div class="sortable_top">
                <p>이벤트</p>
                <ul class="sortable_right">
                  <li class="rot_deg2"><i class="fas fa-undo-alt"></i></li>
                  <li onclick="location.href='dashboard.html'"><i class="fas fa-compress"></i></li>
                </ul>
              </div>
              <div class="view_table_wrap">
                <table class="table_event line_tables maT20">
                  <colgroup>
                    <col style='width: 8%;'>
                    <col style='width: 12%;'>
                    <col style='*'>
                    <col style='*'>
                    <col style='*'>
                    <col style='*'>
                  </colgroup>
                  <thead>
                  <tr>
                    <td>#
                    </td>
                    <td>Status
                    </td>
                    <td>Date
                    </td>
                    <td>Project
                    </td>
                    <td>Account
                    </td>
                    <td>Report
                    </td>
                  </tr>
                  </thead>
                  <tbody *ngFor="let item of appEventsEntitiesRe.slice().reverse(); let i = index">
                    <tr *ngIf="i < tabContentEventListLimit">
                      <td>{{i+1}}</td>
                      <th><i class="fas fa-{{item.iconClass}}"></i></th>
                      <td>{{item.date}}</td>
                      <td>{{item.type}}</td>
                      <td>{{item.actor_name}}</td>
                      <td>{{item.requestText}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="6">
                      <button class="btns2 btns2_1 colors4 event_btns" (click)="eventListMoreClick()">더보기</button>
                    </td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row two_line two_view" id="tabContent_stats" style="display:none;">
        <ul class="maT30">
          <li>
            <div class="sortable_wrap">
              <div class="sortable_top">
                <p>상태정보</p>
                <ul class="sortable_right">
                  <li class="rot_deg2"><i class="fas fa-undo-alt"></i></li>
                  <li onclick="location.href='dashboard.html'"><i class="fas fa-compress"></i></li>
                </ul>
              </div>
              <div class="view_table_wrap">
                <table class="table_event condition line_tables">
                  <colgroup>
                    <col style='width: 8%;'>
                    <col style='*'>
                    <col style='*'>
                    <col style='*'>
                    <col style='*'>
                    <col style='*'>
                    <col style='*'>
                  </colgroup>
                  <thead>
                  <tr>
                    <td>#
                    </td>
                    <td>Status
                    </td>
                    <td>CPU
                    </td>
                    <td>Memory
                    </td>
                    <td>Disk
                    </td>
                    <td>UPTIME
                    </td>
                    <td>RESTART
                    </td>
                  </tr>
                  </thead>
                  <tbody *ngFor="let item of appStatusEntities; let i = index">
                    <tr *ngIf="i < tabContentStatsListLimit">
                      <td>{{i+1}}</td>
                      <th><span class="BGcolors{{item.statusClass}}">{{item.statusText}}</span></th>
                      <td>{{item.cpu}} %</td>
                      <td>{{item.memory}} Byets</td>
                      <td>{{item.disk}} Byets</td>
                      <td>{{item.uptime}} (min)</td>
                      <th><a (click)="statsResrtartClick(item.key)"><span class="BGcolors5 btn_bg_change2">RESTART</span></a></th>
                    </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <td colspan="8">
                              <button class="btns2 btns2_1 colors4" (click)="statsListMoreClick()">더보기</button>
                          </td>
                      </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="row two_line two_view" id="tabContent_env" style="display:none;">
        <ul class="maT30">
          <li>
            <div class="sortable_wrap">
              <div class="sortable_top">
                <p>환경변수</p>
                <ul class="sortable_right">
                  <li onclick="location.href='dashboard.html'"><i class="fas fa-compress"></i></li>
                </ul>
              </div>
              <div class="view_table_wrap service_wrap">
                <div class="service_title maT30">
                  <div class="pull-right">
                    <button class="btns btns_1 colors4 variableSW" (click)="showAddEnvClick()"><i class="fas fa-plus"></i> 추가
                    </button>
                  </div>
                  <h5>사용자 정의</h5>
                </div>
                <div id="add_env" class="maT20 service_in" style="display:none;">
                  <dl class="variable_dl">
                    <dt><input type="text" placeholder="환경변수 이름을 입력하여 주십시오" id="envAddId" />
                    </dt>
                    <dd>
                      <input type="text" placeholder="값을 입력하여 주십시오"id="envAddData" />
                    </dd>
                    <dt>
                      <button class="btns6 colors4" (click)="showPopAddEnvAddClick()">저장</button>
                      <button class="btns6 colors5 variableSW" (click)="hideAddEnvClick()">취소</button>
                    </dt>
                  </dl>
                </div>
                <div *ngFor="let item of appEnvUserEntities; let i = index">
                  <div class="service_title maT30">
                    <div class="pull-right">
                      <ul>
                        <li class="variableSW2" (click)="showEditEnvClick(i)"><i class="fas fa-edit"></i></li>
                        <li><i class="fas fa-trash-alt" (click)="showPopEnvDelClick(item.eventID)"></i></li>
                        <!--<li data-target="#layerpop2" data-toggle="modal"><i class="fas fa-trash-alt"></i></li>-->
                      </ul>
                    </div>
                    <h5>{{item.eventID}}</h5>
                  </div>
                  <div id="DLid{{i}}" class="maT20 service_in" style="display:none;">
                    <dl class="variable_dl">
                      <dd>
                        <input type="hidden" placeholder="환경변수 이름을 입력하여 주십시오" id="envEditId{{i}}" value="{{item.eventID}}" />
                        <input type="text" placeholder="값을 입력하여 주십시오" id="envEditData{{i}}" value="{{item.eventData}}" />
                      </dd>
                      <dt>
                        <button class="btns6 colors4" (click)="showPopEnvEditClick(i)">저장</button>
                        <button class="btns6 colors5 variableSW2" (click)="hideEditEnvClick(i)">취소</button>
                      </dt>
                    </dl>
                  </div>
                </div>
                <div class="service_title maT30">
                  <h5>시스템 제공</h5>
                </div>
                <div class="maT20 service_in">
                  <textarea class="variable_text">{{appSystemProvidedEnv}}</textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="layerpop_env_add">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">환경변수 추가</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p>환경변수 <span>{{sltEnvAddName}}</span> 를 추가하시겠습니까?</p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="addEnvClick()">저장</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">취소</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_env_edit">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">환경변수 수정</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p>환경변수 <span>{{sltEnvEditName}}</span> 를 수정하시겠습니까?</p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="editEnvClick()">저장</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">취소</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_env_del">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">환경변수 삭제</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p>환경변수 <span>{{sltEnvDelName}}</span> 를 삭제하시겠습니까?</p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="delEnvClick()">삭제</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">취소</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/resources/js/clipboard.min.js"></script>
