/* side nav */
nav{position:fixed;top:137px;left:0; width: 120px; font-size:16px;box-shadow:0 1px 3px rgba(0,0,0,0.15);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.15);-moz-box-shadow:0 0 10px 0 rgba(33,33,33,.2);-o-box-shadow:0 0 10px 0 rgba(33,33,33,.2);-ms-box-shadow:0 0 10px 0 rgba(33,33,33,.2);background:#ffffff;z-index:2}
nav.nav_big{width:120px;}
nav.nav_big .scroll_style{overflow:auto;}
nav .tit{ height: 61px; line-height: 61px; text-align: center; color:#454545; font-size: 15px; font-weight: 600; border-bottom:solid 1px #e0e0e0;}

.lnb{width:120px; height: 100%; position: absolute; left:0;}
.lnb .lnb_line{border-right:solid 1px #e0e0e0;}
.nav_1d li{
  height: 117px;
  border-top: 1px solid #fff;
  cursor: pointer;
  position: relative;
  border-bottom:solid 1px #e0e0e0;
  text-align: center;
  background:#fff url('../../../assets/resources/images/main/lnb_over.png') -42px 42px no-repeat;
}
.nav_1d li dl{padding-top: 25px;}
.nav_1d li dl dd p{margin-top:10px; padding-bottom:24px;}
.nav_1d li dl dt div{margin:0 auto; overflow:hidden; background-repeat: no-repeat; position: relative;}

.nav_1d li.cur,
.nav_1d li.on{border:solid 1px #357f94; transform:translateY(0.3px); box-shadow: 1px 4px 5px #c1c1c1;}

.nav_1d li.cur p,.nav_1d li.on p{color:#32798c;}

.nav_1d li.cur,
.nav_1d li.on {background:#f5f5f5 url('../../../assets/resources/images/main/lnb_over.png') 13px 12px no-repeat; border: 1px solid #357f94; }
