<nav>
  <div class="scroll_style">
    <ul class="nav_1d">
      <li [routerLink]="['/usermgmt']">
        <dl>
          <dt>
            <div id="lnbimg10">
            </div>
          </dt>
          <dd>
            <p>
              내계정
            </p>
          </dd>
        </dl>
      </li>
      <li class="cur" [routerLink]="['/org']" (click)="reloadEvent.emit(true)">
        <dl>
          <dt>
            <div id="lnbimg11">

            </div>
          </dt>
          <dd>
            <p>
              조직관리
            </p>
          </dd>
        </dl>
      </li>
      <li  [routerLink]="['/quantity']">
        <dl>
          <dt>
            <div id="lnbimg12" class="">

            </div>
          </dt>
          <dd>
            <p>
              사용량조회
            </p>
          </dd>
        </dl>
      </li>
      <li [routerLink]="['/logout']">
        <dl>
          <dt>
            <div id="lnbimg13" class="">

            </div>
          </dt>
          <dd>
            <p>
              로그아웃
            </p>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</nav>
