<header class="header">
		<div class="logo">
			<a href="#"><h1><img src="/assets/resources/images/main/logo.png" alt=""/></h1></a>
		</div>
		<span class="nav_toggle">
            <input type="checkbox" id="checkbox-1" name="" class="navcheck" value="1" >
            <label for="checkbox-1"></label>
        </span>
        <ul class="gnb clearfix">
        	<li class="cur"><a href="dashboard.html">대시보드</a></li>
        	<li><a href="catalog_list.html">카달로그</a></li>
        	<li><a href="dashboard1.html">문서</a></li>
        </ul>
        <ul class="right_nav">
            <li><!-- <a href="#" class="fas fa-user"></a> -->
                <div class="btn-group">
                <button href="#" class="dropdown-toggle user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                    <div id="r_user" class="dropdown-menu">
                        <div class="">
                            <span class="dot"></span>
                            <dl>
                                <dt>
                                    <i href="#" class="fas fa-user"></i>
                                    <img src="/assets/resources/images/account/profile-thumbnail-sample.png" alt="temp" />
                                </dt>
                                <dd>
                                    <p>홍길동</p>
                                    <p>test@test.com</p>
                                </dd>
                            </dl>
                        </div>
                        <ul class="">
                            <li class="cur"><a href="#">내계정</a></li>
                            <li><a href="#">조직관리</a></li>
                            <li><a href="#">사용량조회</a></li>
                        </ul>
                        <p class="log_out" [routerLink]="['../logout']">로그아웃</p>
                    </div>
                </div>
            </li>
        	<li>
                <div class="btn-group">
                <button href="#" class="dropdown-toggle bell" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>3</span></button>
                    <div id="bell" class="dropdown-menu">
                        <div class="">
                            <span class="dot"></span>
                            <p class="">Notifications</p>
                        </div>
                        <div>
                            <ul class="">
                                <li><a href="#">파스타 공지사항</a><span><i class="fas fa-times-circle"></i></span></li>
                                <li><a href="#">파스타 공지사항</a><span><i class="fas fa-times-circle"></i></span></li>
                                <li><a href="#">파스타 공지사항</a><span><i class="fas fa-times-circle"></i></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div id="globes" class="btn-group">
                <button href="#" class="dropdown-toggle globe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-caret-down"></i></button>
                    <ul class="dropdown-menu">
                        <li class="cur"><a href="#">Korean</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="header_bottom">
            <p class="tit">Dashboard</p>
            <ul class="content_dev">
                <li>DEV</li>
                <li>Dev_area</li>
            </ul>
        </div>
	</header>
