<!DOCTYPE html>
<html lang="ko">
<body class="org">
<app-common-header></app-common-header>
<div>
  <div class="org_wrap">
    <div class="contain_n">
      <div class="content">
        <div><h2>개방형 플랫폼에서  애플리케이션 개발과 배포, 관리를 시작하세요!</h2></div>
        <div class="org_txt">조직을 생성하세요</div>
        <!-- 조직명 시작-->
        <div class="row two_line two_view ns">
          <ul class="maT30">
            <li>
              <div class="sortable_wrap">
                <div class="sortable_top">
                  <p>조직명</p>
                </div>
                <div class="org_box clearfix">
                  <div>
                    <input class="form-control" type="text" required="" placeholder="">
                    <p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i>
                      오류안내
                    </p>
                  </div>
                  <div></div>
                  <div>
                    조직은 컴퓨팅 리소스, 애플리케이션 및 서비스를 포괄하는 개발 계정입니다. <br/>
                    개인이나 다수의 공동 작업자가 소유 하거나 사용 할 수 있습니다. <br/>
                    프로젝트의 이름이나 팀의 이름으로 조직의 조직의 이름을 설정하세요.<br/>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- 조직명 끝 -->
        <!-- 할당량 시작-->
        <div class="row two_line two_view ns">
          <ul class="maT30">
            <li>
              <div class="sortable_wrap">
                <div class="sortable_top">
                  <p>할당량</p>
                </div>
                <div class="organization_table2 maT30 paB40 org_tbl_wrap">
                  <table class="org_tables_noline">
                    <colgroup>
                      <col style='*'>
                      <col style='*'>
                      <col style='*'>
                      <col style='*'>
                      <col style='*'>
                      <col style='*'>
                      <col style='*'>
                      <col style='*'>
                      <col style='*'>
                    </colgroup>
                    <thead>
                    <tr>
                      <td>선택</td>
                      <td>서비스명</td>
                      <td>메모리</td>
                      <td>인스턴트 메모리</td>
                      <td>라우트</td>
                      <td>서비스 인스턴트</td>
                      <td>가격</td>
                      <td>인스턴트</td>
                      <td>인스턴트</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                        <input id="radio1" type="radio" name="radio1" data-target="#layerpop7" data-toggle="modal">
                        <label for="radio1"></label>
                      </td>
                      <td>
                        기본
                      </td>
                      <td>10G
                      </td>
                      <td>무제한
                      </td>
                      <td>100
                      </td>
                      <td>100
                      </td>
                      <td>무료
                      </td>
                      <td>무제한
                      </td>
                      <td>0
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input id="radio2" type="radio" name="radio1" checked data-target="#layerpop7" data-toggle="modal">
                        <label for="radio2"></label>
                      </td>
                      <td>
                        기본
                      </td>
                      <td>10G
                      </td>
                      <td>무제한
                      </td>
                      <td>100
                      </td>
                      <td>100
                      </td>
                      <td>무료
                      </td>
                      <td>무제한
                      </td>
                      <td>0
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- 할당량 끝 -->
        <div class="cWrap_btn">
          <button class="btns2 btns2_1 colors4">조직생성</button>
          <button class="btns2 btns2_1 colors5">취소</button>
        </div>
      </div>
    </div>

  </div>
</div>
</body>
</html>
