<nav>
  <div class="scroll_style">
    <ul class="nav_1d">
      <li class="cur" id="nav_tabContent_all" (click)="tabShowClick('tabContent_all')">
        <dl>
          <dt>
            <div id="lnbimg1" class="lefticos">
            </div>
          </dt>
          <dd>
            <p>
              {{ 'appMain.nav.summary' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li id="nav_tabContent_event" (click)="tabShowClick('tabContent_event')">
        <dl>
          <dt>
            <div id="lnbimg2" class="">
            </div>
          </dt>
          <dd>
            <p>
              {{ 'appMain.nav.event' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li id="nav_tabContent_stats" (click)="tabShowClick('tabContent_stats')">
        <dl>
          <dt>
            <div id="lnbimg3" class="">
            </div>
          </dt>
          <dd>
            <p>
              {{ 'appMain.nav.stats' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li id="nav_tabContent_service" (click)="tabShowClick('tabContent_service')">
        <dl>
          <dt>
            <div id="lnbimg4" class="">
            </div>
          </dt>
          <dd>
            <p>
              {{ 'appMain.nav.service' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li id="nav_tabContent_env" (click)="tabShowClick('tabContent_env')">
        <dl>
          <dt>
            <div id="lnbimg5" class="">
            </div>
          </dt>
          <dd>
            <p>
              {{ 'appMain.nav.env' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li id="nav_tabContent_route" (click)="tabShowClick('tabContent_route')">
        <dl>
          <dt>
            <div id="lnbimg6" class="">
            </div>
          </dt>
          <dd>
            <p>
              {{ 'appMain.nav.route' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li id="nav_tabContent_logs" (click)="tabShowClick('tabContent_logs')">
        <dl>
          <dt>
            <div id="lnbimg7" class="">
            </div>
          </dt>
          <dd>
            <p>
              {{ 'appMain.nav.logs' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <!--<li id="nav_tabContent_ssh" (click)="tabShowClick('tabContent_ssh')">-->
        <!--<dl>-->
          <!--<dt>-->
            <!--<div id="lnbimg14" class="">-->
            <!--</div>-->
          <!--</dt>-->
          <!--<dd>-->
            <!--<p>-->
              <!--SSH-->
            <!--</p>-->
          <!--</dd>-->
        <!--</dl>-->
      <!--</li>-->
      <ng-container *ngIf="common.getMonitoring()">
      <li id="nav_tabContent_viewchart" (click)="tabShowClick('tabContent_viewchart')">
        <dl>
          <dt>
            <div id="lnbimg15" class="">
            </div>
          </dt>
          <dd>
            <p>
              {{ 'appMain.nav.viewchart' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      </ng-container>
    </ul>
  </div>
</nav>
