<nav>
  <div class="scroll_style">
    <ul class="nav_1d">
      <li (click)="viewMain()">
        <dl>
          <dt>
          <div id="lnbimg1" class="lefticos">
          </div>
          </dt>
          <dd>
            <p>
              전체보기
            </p>
          </dd>
        </dl>
      </li>
      <li (click)="viewStarterPack()">
        <dl>
          <dt>
          <div id="lnbimg8" class="">

          </div>
          </dt>
          <dd>
            <p>
              앱 템플릿
            </p>
          </dd>
        </dl>
      </li>
      <li (click)="viewBuildPack()">
        <dl>
          <dt>
          <div id="lnbimg9" class="">

          </div>
          </dt>
          <dd>
            <p>
              앱 개발환경
            </p>
          </dd>
        </dl>
      </li>
      <li (click)="viewServicePack()">
        <dl>
          <dt>
          <div id="lnbimg4" class="">

          </div>
          </dt>
          <dd>
            <p>
              서비스
            </p>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
  <div class="nav_2d scroll_H">
    <div class="">
      <div>
        <ul>
          <li (click)="viewMain()">전체보기
          </li>
          <li class="titles" (click)="viewStarterPack()">앱 템플릿
          </li>
          <li><i class="far fa-window-maximize" (click)="viewStarterPack($event)"></i > 기본유형</li>
          <li class="titles" (click)="viewBuildPack()">앱 개발환경</li>
          <li (click)="viewBuildPack('buildpack_system')"><i class="fas fa-cog" ></i> 시스템 앱 개발환경</li>
          <li (click)="viewBuildPack('buildpack_custom')"><i class="fas fa-user"></i> 사용자 앱 개발환경</li>
          <li class="titles" (click)="viewServicePack()">서비스</li>
          <li (click)="viewServicePack('service_storage')"><i class="far fa-hdd" ></i> 데이터저장소</li>
          <li (click)="viewServicePack('service_message')"><i class="fas fa-comments" ></i> 메시징</li>
          <li (click)="viewServicePack('service_nosql')"><i class="fas fa-database" ></i> NoSQL 데이터베이스</li>
          <li (click)="viewServicePack('service_rdbms')"><i class="fas fa-cubes" ></i> 관계형 데이터베이스</li>
          <li (click)="viewServicePack('service_monitoring')"><i class="fas fa-mobile-alt" ></i> 어플리케이션 모니터링</li>
          <li (click)="viewServicePack('dev_ops')"><i class="fas fa-wrench" ></i> 개발 지원 도구</li>
        </ul>
      </div>
    </div>
  </div>
</nav>
