<nav style="min-height: 940px;">
  <div class="scroll_style">
    <ul class="nav_1d">
      <li id="nav_first" (click)="viewMain(1)">
        <dl>
          <dt>
          <div id="lnbimg1" class="lefticos">
          </div>
          </dt>
          <dd>
            <p>
              {{ 'catalog.nav.viewAll' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li (click)="viewStarterPack(2)" id="nav_second">
        <dl>
          <dt>
          <div id="lnbimg8" class="">

          </div>
          </dt>
          <dd>
            <p>
              {{ 'catalog.nav.appTemplate' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li (click)="viewBuildPack(null, null)" id="nav_third">
        <dl>
          <dt>
          <div id="lnbimg9" class="">
          </div>
          </dt>
          <dd>
            <p>
              {{ 'catalog.nav.appDevelopment' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li (click)="viewServicePack(null, null)" id="nav_fourth">
        <dl>
          <dt>
          <div id="lnbimg4" class="">

          </div>
          </dt>
          <dd>
            <p>
              {{ 'catalog.nav.service' | translate }}
            </p>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
  <div class="nav_2d scroll_H">
    <div class="">
      <div>
        <ul>
          <li id="catlog_nav1" class="titles" (click)="viewMain(1)">  {{ 'catalog.nav.viewAll' | translate }}
          </li>
          <li id="catlog_nav2" class="titles" (click)="viewStarterPack(2)">  {{ 'catalog.nav.appTemplate' | translate }}
          </li>
          <li id="catlog_nav3" (click)="viewStarterPack(3)"><i class="far fa-window-maximize"></i >   {{ 'catalog.nav.basicType' | translate }}</li>
          <li id="catlog_nav4" class="titles" (click)="viewBuildPack(null, null)">{{ 'catalog.nav.appDevelopment' | translate }}</li>
          <li id="catlog_nav5" (click)="viewBuildPack('buildpack_system', 5)"><i class="fas fa-cog" ></i> {{ 'catalog.nav.buildpack_system' | translate }}</li>
          <li id="catlog_nav6" (click)="viewBuildPack('buildpack_custom', 6)"><i class="fas fa-user"></i> {{ 'catalog.nav.buildpack_custom' | translate }}</li>
          <li id="catlog_nav7" class="titles" (click)="viewServicePack(null, null)">{{ 'catalog.nav.service' | translate }}</li>
          <li id="catlog_nav8" (click)="viewServicePack('service_storage', 8)"><i class="far fa-hdd" ></i>{{ 'catalog.nav.service_storage' | translate }}</li>
          <li id="catlog_nav9" (click)="viewServicePack('service_message', 9)"><i class="fas fa-comments" ></i>{{ 'catalog.nav.service_message' | translate }}</li>
          <li id="catlog_nav10" (click)="viewServicePack('service_nosql', 10)"><i class="fas fa-database" ></i> {{ 'catalog.nav.service_nosql' | translate }}</li>
          <li id="catlog_nav11" (click)="viewServicePack('service_rdbms', 11)"><i class="fas fa-cubes" ></i> {{ 'catalog.nav.service_rdbms' | translate }}</li>
          <li id="catlog_nav12" (click)="viewServicePack('service_monitoring', 12)"><i class="fas fa-mobile-alt" ></i> {{ 'catalog.nav.service_monitoring' | translate }}</li>
          <li id="catlog_nav13" (click)="viewServicePack('dev_ops', 13)"><i class="fas fa-wrench" ></i>{{ 'catalog.nav.dev_ops' | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</nav>
