<nav style="min-height: 940px;">
  <div class="scroll_style">
    <ul class="nav_1d">
      <li (click)="viewMain()">
        <dl>
          <dt>
          <div id="lnbimg1" class="lefticos">
          </div>
          </dt>
          <dd>
            <p>
              {{ 'catalog.nav.viewAll' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li (click)="viewStarterPack()">
        <dl>
          <dt>
          <div id="lnbimg8" class="">

          </div>
          </dt>
          <dd>
            <p>
              {{ 'catalog.nav.appTemplate' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li (click)="viewBuildPack()">
        <dl>
          <dt>
          <div id="lnbimg9" class="">

          </div>
          </dt>
          <dd>
            <p>
              {{ 'catalog.nav.appDevelopment' | translate }}
            </p>
          </dd>
        </dl>
      </li>
      <li (click)="viewServicePack()">
        <dl>
          <dt>
          <div id="lnbimg4" class="">

          </div>
          </dt>
          <dd>
            <p>
              {{ 'catalog.nav.service' | translate }}
            </p>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
  <div class="nav_2d scroll_H">
    <div class="">
      <div>
        <ul>
          <li (click)="viewMain()">  {{ 'catalog.nav.viewAll' | translate }}
          </li>
          <li class="titles" (click)="viewStarterPack()">  {{ 'catalog.nav.appTemplate' | translate }}
          </li>
          <li><i class="far fa-window-maximize" (click)="viewStarterPack($event)"></i >   {{ 'catalog.nav.basicType' | translate }}</li>
          <li class="titles" (click)="viewBuildPack()">{{ 'catalog.nav.appDevelopment' | translate }}</li>
          <li (click)="viewBuildPack('buildpack_system')"><i class="fas fa-cog" ></i> {{ 'catalog.nav.systemAppDevelopment' | translate }}</li>
          <li (click)="viewBuildPack('buildpack_custom')"><i class="fas fa-user"></i> {{ 'catalog.nav.userAppDevelopment' | translate }}</li>
          <li class="titles" (click)="viewServicePack()">{{ 'catalog.nav.service' | translate }}</li>
          <li (click)="viewServicePack('service_storage')"><i class="far fa-hdd" ></i>{{ 'catalog.nav.dataStore' | translate }}</li>
          <li (click)="viewServicePack('service_message')"><i class="fas fa-comments" ></i>{{ 'catalog.nav.messaging' | translate }}</li>
          <li (click)="viewServicePack('service_nosql')"><i class="fas fa-database" ></i> {{ 'catalog.nav.nosqlDatabase' | translate }}</li>
          <li (click)="viewServicePack('service_rdbms')"><i class="fas fa-cubes" ></i> {{ 'catalog.nav.relationalDatabase' | translate }}</li>
          <li (click)="viewServicePack('service_monitoring')"><i class="fas fa-mobile-alt" ></i> {{ 'catalog.nav.appMonitoring' | translate }}</li>
          <li (click)="viewServicePack('dev_ops')"><i class="fas fa-wrench" ></i>{{ 'catalog.nav.devSupportTools' | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</nav>
