<div class="wrap account">
  <app-common-header></app-common-header>
  <app-org-main-nav (reloadEvent)="reloadOrgs($event)"></app-org-main-nav>
  <div class="contain">
    <div class="content">
      <div class="row one_line">
        <h1>조직관리
          <div class="pull-right btns_top_ww">
            <button class="btns6 colors4 btns_top">
              새 조직 추가
            </button>
          </div>
        </h1>
        <app-org-inner *ngFor="let org of orgs" [org]="org"
            (selectEvent)="selectOrg($event)" (removeEvent)="removeOrg($event)">
        </app-org-inner>
      </div><!-- row one_line -->
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>
