<ng-container *ngIf="org">
  <div class="col-md-12 organization_wrap on maT30">
    <div class="organization_title_wrap on">
      <div class="organization_btn">
        <div class="organization_btnin">
          <input class="tempTitle" type="text" placeholder="변경할 조직 이름을 입력하세요."
                 [value]="wantedOrgName" [(ngModel)]="wantedOrgName">
          <button class="btns6 colors4 yess2" (click)="renameOrg(true)">변경하기</button>
          <button class="btns6 colors5 nos2" (click)="renameOrg(false)">취소</button>
          <!--button class="btns6 colors4 colors5 organization_sw" style="margin-left:1.1%;">
            <i class="fas fa-chevron-up"></i> 세부사항보기
          </button-->
        </div>
      </div>
      <div class="pull-right on">
        <div class="ri_up on">
          <button class="btns6 colors4 organization_sw">
            <i class="fas fa-chevron-down"></i> 세부사항 보기
          </button>
        </div>
        <div class="organization_dot">
          <i class="fas fa-ellipsis-v"></i>
          <ul class="">
            <li class="name_inputTitle2">
              <p>
                <i class="fas fa-edit"></i>&nbsp;&nbsp;이름 변경
              </p>
            </li>
            <li [attr.data-target]="'#layerpop-' + org.name" data-toggle="modal">
              <p>
                <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;삭제
              </p>
            </li>
          </ul>
        </div>
      </div>
      <p class="tit">Paas-TA / {{org.name}}</p>
    </div>
    <!-- organization_title_wrap -->
    <div class="organization_table_wrap">
      <div class="organization_table">
        <table>
          <caption>
            공간<span (click)="reloadSpaces()">{{spaces.length}}</span>
            <div class="pull-right">
              <button class="btns6 colors4" [attr.data-target]="'#layerpop5-' + org.name"
                      data-toggle="modal">
                <i class="fas fa-plus"></i> 공간 생성
              </button>
            </div>
          </caption>
          <colgroup>
            <col style="">
            <col style="width: 30px;">
            <col style="width: 30px;">
          </colgroup>
          <tbody>
            <ng-container *ngFor='let space of spaces'>
              <tr>
                <td><p>{{space.name}}</p></td>
                <th><i class="fas fa-edit" (click)="displayRenameSpace($event)"></i></th>
                <th [attr.data-target]="'#layerpop3-' + org.name" data-toggle="modal"
                    (click)="displayDeleteSpace($event, space)">
                  <i class="fas fa-trash-alt"></i></th>
              </tr>
              <!-- TODO popup focusout 처리 -->
              <tr class="on" (focusout)="logger.debug('rename focus out')">
                <td colspan="3">
                  <div class="">
                    <div class="account_table_in">
                      <span>변경할 이름 </span>
                      <input type="text" [id]="'wtc-' + space.guid" (keyup.enter)="renameSpace($event, space)"
                             placeholder="변경할 공간 이름을 입력하세요" [value]="space.name">
                      <div class="">
                        <button class="btns6 colors4 btns_sw" (click)="renameSpace($event, space)">변경하기</button>
                        <button class="btns6 colors5 btns_sw" (click)="fadeOutButtonSwitch($event)">취소</button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <!-- organization_table -->
      <div class="organization_table domains">
        <table>
          <caption>
            도메인<span (click)="reloadDomains()">{{domains.length}}</span>
            <div class="pull-right">
              <button class="btns6 colors4" data-toggle="modal"
                [attr.data-target]="'#layerpop6-' + org.name">
                <i class="fas fa-plus"></i> 도메인 추가
              </button>
            </div>
          </caption>
          <colgroup>
            <col style="">
            <col style="width: 30px;">
          </colgroup>
          <tbody>
          <tr *ngFor="let domain of domains">
            <td><p>{{domain.name}}</p></td>
            <th>
              <ng-container *ngIf="domain.shared; else privateDomain">
                <i class="fas fa-link" title="공유하는 도메인은 삭제할 수 없습니다."></i>
              </ng-container>
              <ng-template #privateDomain>
                <i class="fas fa-trash-alt" data-toggle="modal"
                   [title]="domain.name + ' 삭제'"
                   [attr.data-target]="'#layerpop9-' + org.name"
                   (click)="displayDeleteDomain($event, domain)"></i>
              </ng-template>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- organization_table -->
      <div class="organization_table2 paT30">
        <table>
          <caption>
            사용자<span>1</span>
            <div class="pull-right">
              <button class="btns6 colors4" [attr.data-target]="'#layerpop4-' + org.name"
                      data-toggle="modal">
                <i class="fas fa-plus"></i> 사용자 초대
              </button>
            </div>
          </caption>
          <colgroup>
            <col style="width: 150px;">
            <col style="">
            <col style="">
            <col style="">
            <col style="">
          </colgroup>
          <thead>
          <tr>
            <td>사용자</td>
            <td colspan="4">역할설정</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor='let userRole of userRoles'>
            <td>{{userRole.userEmail}}</td>
            <td><input [attr.id]="'rc1-' + org.name + '-' + userRole.userEmail"
                 type="checkbox" [checked]='userRole.isOrgManager'
                 [disabled]="!isOrgManagerLoginnedInUser"
                 (click)="changeUserRole($event, userRole, 'OrgManager')">
              <label [attr.for]="'rc1-' + org.name + '-' + userRole.userEmail">OrgManager(조직 관리자)</label></td>
            <td><input [attr.id]="'rc2-' + org.name + '-' + userRole.userEmail"
                 type="checkbox" [checked]='userRole.isBillingManager'
                 [disabled]="!isOrgManagerLoginnedInUser"
                 (click)="changeUserRole($event, userRole, 'BillingManager')">
              <label [attr.for]="'rc2-' + org.name + '-' + userRole.userEmail">BillingManager(조직 결제 관리자)</label></td>
            <td><input [attr.id]="'rc3-' + org.name + '-' + userRole.userEmail"
                 type="checkbox" [checked]='userRole.isOrgAuditor'
                 [disabled]="!isOrgManagerLoginnedInUser"
                 (click)="changeUserRole($event, userRole, 'OrgAuditor')">
              <label [attr.for]="'rc3-' + org.name + '-' + userRole.userEmail">OrgAuditor(조직 참관인)</label></td>
            <th class="org_userrole_btns">
              <ng-container *ngIf="isMember(userRole); else notMember">
                <button class="btns4 colors8" data-toggle="modal"
                  [attr.data-target]="isMyself(userRole)? '#layerpop2-' + org.name : '#layerpop12-' + org.name"
                  (click)="displayCancelMemberUser(userRole)">멤버 취소</button>
              </ng-container>
              <ng-template #notMember>
                <button class="btns4 colors8" data-toggle="modal"
                  [attr.data-target]="'#layerpop10-' + org.name"
                  (click)="displayInviteUser(userRole)">초대
                  <ng-container *ngIf="isInvited(userRole)">재</ng-container>전송</button>
                <ng-container *ngIf="isInvited(userRole)">
                  <button class="btns4 colors8" data-toggle="modal"
                    [attr.data-target]="'#layerpop11-' + org.name"
                    (click)="displayCancelInvitionUser(userRole)">초대 취소</button>
                </ng-container>
              </ng-template>
            </th>
          </tr>
          <!--
          <tr>
            <td>test</td>
            <td><input id="check1" type="checkbox"
                       checked="checked"> <label for="check1">OrgManager(조직
              관리자)</label></td>
            <td><input id="check2" type="checkbox"
                       checked="checked"> <label for="check2">BillingManager(조직
              결제 관리자)</label></td>
            <td><input id="check3" type="checkbox"
                       checked="checked"> <label for="check3">OrgAuditor(조직
              참관인)</label></td>
            <th>
              <button class="btns4 colors8"
                      data-target="#layerpop11" data-toggle="modal">초대
                취소
              </button>
            </th>
          </tr>
          <tr>
            <td>test</td>
            <td><input id="check1" type="checkbox"
                       checked="checked"> <label for="check1">OrgManager(조직
              관리자)</label></td>
            <td><input id="check2" type="checkbox"
                       checked="checked"> <label for="check2">BillingManager(조직
              결제 관리자)</label></td>
            <td><input id="check3" type="checkbox"
                       checked="checked"> <label for="check3">OrgAuditor(조직
              참관인)</label></td>
            <th>
              <button class="btns4 colors8"
                      data-target="#layerpop12" data-toggle="modal">맴버
                취소
              </button>
            </th>
          </tr>
          -->
          </tbody>
        </table>
      </div>
      <!-- organization_table2 -->
      <div class="organization_table2 maT30 paB40">
        <table class="line_tables">
          <caption>할당량</caption>
          <colgroup>
            <col style="">
            <col style="">
            <col style="">
            <col style="">
            <col style="">
            <col style="">
            <col style="">
            <col style="">
            <col style="">
          </colgroup>
          <thead>
          <tr>
            <td>선택</td>
            <td>서비스명</td>
            <td>메모리</td>
            <td>인스턴트 메모리</td>
            <td>라우트</td>
            <td>서비스 인스턴트</td>
            <td>가격</td>
            <td>앱 인스턴트</td>
            <td>라우트 포트</td>
          </tr>
          </thead>
          <tbody>
          <!-- TODO -->
          <tr *ngFor="let aquota of availableQuotas" class="org_quota"
              [ngClass]="{'cur': isSelectedQuota(aquota)}">
            <td>
              <!-- TODO ngIf isSelectedQuota(aquota) then input radio template else none -->
              <ng-container *ngIf="!isSelectedQuota(aquota); else selected">
                <input type="radio" [name]="'radio-' + org.name"
                  [id]="'radio-' + org.name + '-' + aquota.name"
                  [attr.data-target]="'#layerpop7-' + org.name"
                  data-toggle="modal" (click)="displayChangeQuota($event, aquota)">
                <label [for]="org.name + '-' + aquota.name"></label>
              </ng-container>
              <ng-template #selected></ng-template>
            </td>
            <td quota-key="name">{{aquota.name}}</td>
            <td quota-key="memory-limit">{{aquota.memoryLimit}}</td>
            <td quota-key="instance-memory-limit">{{aquota.instanceMemoryLimit}}
            </td>
            <td quota-key="routes">{{aquota.totalRoutes}}</td>
            <td quota-key="service-instance">{{aquota.totalServices}}</td>
            <td quota-key="price">{{aquota.priceKorean}}</td>
            <td quota-key="app-instances">{{aquota.applicationInstanceLimit}}</td>
            <td quota-key="route-ports">{{aquota.totalReservedRoutePorts}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- organization_table2 -->
    </div>
  </div>

  <!-- org-inner event model -->
  <!-- modal : layerpop-->
  <div class="modal fade" [id]="'layerpop-' + org.name">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 class="modal-title">조직 삭제</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <p class="account_modal_p">
                조직을 삭제하면 되돌릴 수 없습니다.<br/>
                <span>{{org.name}}</span>를 삭제하시겠습니까?
              </p>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
                    data-dismiss="modal" (click)="deleteOrg()">삭제
            </button>
            <button type="button" class="btns2 colors5"
                    data-dismiss="modal">취소
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal : layerpop2 -->
  <div class="modal fade" [id]="'layerpop2-' + org.name">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 class="modal-title">조직 탈퇴</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <p class="account_modal_p">
                조직을 탈퇴하면 되돌릴 수 없습니다.<br/>
                <span>{{org.name}}</span>를 탈퇴하시겠습니까?
              </p>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
                    data-dismiss="modal" (click)="cancelMember(true)">탈퇴
            </button>
            <button type="button" class="btns2 colors5"
                    data-dismiss="modal">취소
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal : layerpop3 -->
  <div class="modal fade" [id]="'layerpop3-' + org.name">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 class="modal-title">공간 삭제</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <p class="account_modal_p">
                공간 삭제를 하면 등록한 앱과 서비스도 삭제되며 되돌릴 수 없습니다.<br/>
                <span>{{selectSpace.name}}</span>을 삭제하시겠습니까?
              </p>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
                    data-dismiss="modal" (click)="deleteSpace(true)">삭제
            </button>
            <button type="button" class="btns2 colors5"
                    data-dismiss="modal" (click)="deleteSpace(false)">취소
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal : layerpop4 -->
  <div class="modal fade" [id]="'layerpop4-' + org.name">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 class="modal-title">사용자 초대</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <!-- inviting user top -->
            <input class="w100" placeholder="invite.user.name@domain.com"/>
            <span class="red">* 콤마를 사용하여 이메일 주소를 계속 추가 할 수 있습니다.</span>
            <!-- inviting user middle : organization role -->
            <table class="maT30">
              <colgroup>
                <col style=''>
                <col style=''>
                <col style=''>
                <col style=''>
              </colgroup>
              <thead>
              <tr>
                <td>조직</td>
                <td colspan="3">부여할 조직 내 역할</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{org.name}}</td>
                <td>
                  <input [id]="'invite-modal-om-' + org.name" class="checkSel" type="checkbox" title="조직 관리자"/>
                  <label [for]="'invite-modal-om-' + org.name">OrgManager</label></td>
                <td>
                  <input [id]="'invite-modal-bm-' + org.name" class="checkSel" type="checkbox" title="조직 결제 관리자"/>
                  <label [for]="'invite-modal-bm-' + org.name">BillingManager</label></td>
                <td>
                  <input [id]="'invite-modal-oa-' + org.name" class="checkSel" type="checkbox" title="조직 참관인"/>
                  <label [for]="'invite-modal-oa-' + org.name">OrgAuditor</label></td>
              </tr>
              </tbody>
            </table>
            <!-- checkAll event : common2.js:234 checkAll-->
            <input [id]="'invite-checkAll-' + org.name" class="checkAll" type="checkbox"/>
            <label [for]="'invite-checkAll-' + org.name" class="maT10">전체 선택</label>

            <!-- inviting user middle : space role -->
            <table class="maT30">
              <colgroup>
                <col style=''>
                <col style=''>
                <col style=''>
                <col style=''>
              </colgroup>
              <thead>
              <tr>
                <td>공간</td>
                <td colspan="3">부여할 공간 내 역할</td>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let space of spaces">
                  <td>{{space.name}}</td>
                  <td>
                    <input [id]="'invite-modal-sm-' + org.name + '-' + space.name"
                           class="checkSel2" type="checkbox"/>
                    <label [for]="'invite-modal-sm-' + org.name + '-' + space.name"
                           [title]="'공간 관리자'">SpaceManager</label></td>
                  <td>
                    <input [id]="'invite-modal-sd-' + org.name + '-' + space.name"
                           class="checkSel2" type="checkbox"/>
                    <label [for]="'invite-modal-sd-' + org.name + '-' + space.name"
                           [title]="'공간 개발자'">SpaceDeveloper</label></td>
                  <td>
                    <input [id]="'invite-modal-sa-' + org.name + '-' + space.name"
                           class="checkSel2" type="checkbox"/>
                    <label [for]="'invite-modal-sa-' + org.name + '-' + space.name"
                           [title]="'공간 참관인'">SpaceAuditor</label></td>
                </tr>
              </tbody>
            </table>
            <!-- checkAll event : common2.js:238 checkAll2 -->
            <input class="checkAll2" id="checkAll2" type="checkbox"/>
            <label class="maT10" for="checkAll2">전체선택</label>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
                    data-dismiss="modal">초대
            </button>
            <button type="button" class="btns2 colors5"
                    data-dismiss="modal">취소
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal : layerpop5 -->
  <div class="modal fade" [id]="'layerpop5-' + org.name">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close"
                    data-dismiss="modal" (click)="resetNewSpaceName()">×</button>
            <!-- header title -->
            <h4 class="modal-title">공간 생성</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <input type="text" placeholder="공간 이름을 입력하세요"
                     (keyup.enter)="createSpace($event)" [(ngModel)]="createSpaceName"/>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
                    data-dismiss="modal" (click)="createSpace()">생성
            </button>
            <button type="button" class="btns2 colors5"
                    data-dismiss="modal" (click)="resetNewSpaceName()">취소
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal : layerpop6 -->
  <div class="modal fade" [id]="'layerpop6-' + org.name">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 class="modal-title">도메인 추가</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <input type="text" placeholder="도메인 명을 입력하세요"/>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
                    data-dismiss="modal">추가
            </button>
            <button type="button" class="btns2 colors5"
                    data-dismiss="modal">취소
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal : layerpop7 -->
  <div class="modal fade" [id]="'layerpop7-' + org.name" (focusout)="changeQuota(false)">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 class="modal-title">할당량 변경</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <p class="account_modal_p">
                할당량을 <span>{{quota.name}}</span>에서 <span>{{selectQuota.name}}</span>으로 변경하시겠습니까?
              </p>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
                    data-dismiss="modal" (click)="changeQuota(true)">변경
            </button>
            <button type="button" class="btns2 colors5"
                    data-dismiss="modal">취소
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal : layerpop8 ===> remove 'apply WEB IDE' -->
  <!-- modal : layerpop9 -->
  <div class="modal fade" [id]="'layerpop9-' + org.name">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 class="modal-title">도메인 삭제</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <p class="account_modal_p">
                <span>조직 {{org.name}} 의 {{selectDomain.name}}</span> 도메인을 삭제하시겠습니까?
              </p>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
                    data-dismiss="modal" (click)="deleteDomain(true)">삭제
            </button>
            <button type="button" class="btns2 colors5"
                    data-dismiss="modal" (click)="deleteDomain(false)">취소
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal : layerpop10 -->
  <div class="modal fade" [id]="'layerpop10-' + org.name">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 class="modal-title">초대
              <ng-template *ngIf="isInvited(userRole)">재</ng-template>전송</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <p class="account_modal_p">
                <span>000@test.com</span>님을 초대하는 메일을
                <ng-template *ngIf="isInvited(userRole)">재</ng-template>전송 하시겠습니까?
              </p>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
                    data-dismiss="modal">확인
            </button>
            <button type="button" class="btns2 colors5"
                    data-dismiss="modal">취소
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal : layerpop11 -->
  <div class="modal fade" [id]="'layerpop11-' + org.name">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal">×</button>
            <!-- header title -->
            <h4 class="modal-title">초대 취소</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <p class="account_modal_p">
                <span>000@test.com</span>님을 초대 취소 하시겠습니까?
              </p>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
                    data-dismiss="modal">확인
            </button>
            <button type="button" class="btns2 colors5"
                    data-dismiss="modal">취소
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal : layerpop12 -->
  <div class="modal fade" [id]="'layerpop12-' + org.name">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <!-- 닫기(x) 버튼 -->
            <button type="button" class="close" data-dismiss="modal"
            (click)="cancelMember(false)">×</button>
            <!-- header title -->
            <h4 class="modal-title">멤버 취소</h4>
          </div>
          <!-- body -->
          <div class="modal-body">
            <div class="">
              <p class="account_modal_p">
                <span>{{selectUserRole.userEmail}}</span>님을 멤버 취소 하시겠습니까?
              </p>
            </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btns2 colors4"
              data-dismiss="modal" (click)="cancelMember(true)">확인
            </button>
            <button type="button" class="btns2 colors5"
              data-dismiss="modal" (click)="cancelMember(false)">취소
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  TODO : delete org -->
  <!-- button (click)="deleteOrg()">선택</button -->
</ng-container>
