/* org-inner */
.org_quota_cur{border-bottom: 1px solid rgb(0, 170, 204); border-top-color: rgb(0, 170, 204); border-right-color: rgb(0, 170, 204); border-left-color: rgb(0, 170, 204);}
.org_quota{border-bottom: 1px solid rgb(231, 234, 236);}
