<div class="wrap dashboard">
  <app-app-top [cursorId]="'cur_catalog'" ></app-app-top>
  <app-catalog-nav></app-catalog-nav>
  <div class="contain" *ngIf="servicepack">
    <div class="content development_wrap">
      <div class="row one_line maT30">
        <div class="col-md-6">
          <div class="cWrap">
            <dl>
              <dt class="noborder">
              <h1>{{servicepack.name}}</h1>
              <button class="btn"  onclick="history.back()">
                <img src="../../assets/resources/images/catalog/back.svg" alt=""/>Back
              </button>
              </dt>
              <dd>
                <div class="cWrap_line maT50">
                  <ul class="icon2">
                    <li>
                      <div class="icon_v">
                        <img src="{{servicepack.img}}" alt="" onError="this.src='assets/resources/images/catalog/catalog_3.png'"/>
                      </div>
                    </li>
                  </ul>
                  <i class="vline2">
                    <img src="../../assets/resources/images/catalog/i_v2.png">
                  </i>
                  <div class="col-6 icon_T">
                    <dl class="development_dl">
                      <dt>{{ 'catalog.service.summary' | translate }}
                      </dt>
                      <dd>{{servicepack.summary}}
                      </dd>
                      <dt>
                        <a  href="{{servicepack.docFileUrl}}" target="_blank">
                        <button class="btns2 btns2_1 colors4">{{ 'catalog.service.viewDocument' | translate }}
                        </button>
                          </a>
                      </dt>
                    </dl>
                  </div>
                </div>
              </dd>
              <dt>
              <div class="development_c maT40">
              <dl class="development_dl">
                <dt>{{ 'catalog.service.description' | translate }}
                </dt>
                <dd [innerHTML]="servicepack.description">
                </dd>
              </dl>
              </div>
              </dt>
            </dl>
          </div>
        </div>
        <div class="col-md-6">
          <div class="services_wrap">
            <table class="services_t">
              <caption>{{ 'catalog.service.createService' | translate }}</caption>
              <colgroup>
                <col style="width:33%;">
                <col style="width:36%;">
                <col style="width:31%;">
              </colgroup>
              <thead>
              <tr>
                <!--<td><p>{{ 'catalog.service.region' | translate }}</p>-->
                <!--</td>-->
                <td><p>{{ 'catalog.service.organization' | translate }}</p>
                </td>
                <td><p>{{ 'catalog.service.space' | translate }}</p>
                </td>
                <td></td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <!--<td>-->
                  <!--<select>-->
                    <!--<option >{{ 'catalog.region.korea' | translate }}-->
                    <!--</option>-->
                    <!--<option >{{ 'catalog.region.usa' | translate }}-->
                    <!--</option>-->
                  <!--</select>-->
                <!--</td>-->
                <td>
                  <select [(ngModel)]="org" (ngModelChange)="orgSelect()">
                    <option *ngFor="let org of orgs"  [ngValue]="org">{{org.name}}
                    </option>
                  </select>
                </td>
                <th>
                  <select [(ngModel)]="space" (ngModelChange)="appList()">
                    <option *ngFor="let space of spaces" [ngValue]="space">{{space.name}}
                    </option>
                  </select>
                </th>
              </tr>
              <tr style="height: 10px">
              <th colspan="3"><div *ngIf="spaces.length < 2"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i>{{ 'catalog.contants.notSpace' | translate }}</p></div>
                <div *ngIf="spaces.length > 1 && space.name ===translateEntities.nav.space_name"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i>{{ 'catalog.contants.notSelectSpace' | translate }}</p></div></th>
              </tr>
              <tr *ngIf="servicepack.appBindYn === catalogcontans.YN">
                <th colspan="3">
                  <p>{{ 'catalog.service.apps' | translate }}</p>
                </th>
              </tr>
              <tr *ngIf="servicepack.appBindYn === catalogcontans.YN">
                <th colspan="3">
                  <select [(ngModel)]="app">
                    <option *ngFor="let app of apps" [ngValue]="app">{{app.name}}</option>
                  </select>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <p>{{ 'catalog.service.serviceName' | translate }}</p>
                </th>
              </tr>
              <tr style="height: 10px">
                <th colspan="3" style="position:relative;">
                  <input name="servicename" type="text" id="servicename" placeholder="{{ 'catalog.contants.inputService' | translate }}" (keyup)="serviceNameCheck()" autofocus maxlength="50" />
                  <div *ngIf="(namecheck === 1 && servicename.length > 0)" style="position:absolute; left:0;"><p class="blue text-left login_red"><i class="fas fa-exclamation-circle"></i> {{ 'catalog.contants.createSuccessService' | translate }}</p></div>
                  <div *ngIf="(namecheck === -1 && servicename.length > 0)" style="position:absolute; left:0;"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i> {{ 'catalog.contants.createFalseService' | translate }}</p></div>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <p>{{ 'catalog.service.selectServiceUsageSpecification' | translate }}</p>
                </th>
              </tr>
              <tr>
                <th colspan="3">
                  <select class="disabled" [(ngModel)]="plan">
                    <option *ngFor="let plan of serviceplan" [ngValue]="plan">{{plan.name}}</option>
                  </select>
                                        <span class="services_tablespan">
                                        </span>
                </th>
              </tr>
              <ng-container *ngIf="parameter">
              <tr>
                <th colspan="3">
                  <p>{{ 'catalog.service.serviceCreationParameters' | translate }}</p>
                </th>
              </tr>
              <tr  *ngFor="let param of parameter">
                <th colspan="3" *ngIf="param.type !== 'hidden'">
                  <div class="in">
                                            <span style="width: auto; min-width: 71px"><i class="cWrapDot"></i>
                                                 {{param.name}}
                                            </span>
                    <input type="{{param.type}}" [(ngModel)]="param.value"/>
                  </div>
                </th>
              </tr>
              </ng-container>
              <ng-container *ngIf="appparameter && app.name!==translateEntities.nav.not_bind_start">
              <tr >
                <th colspan="3" >
                  <p>{{ 'catalog.service.appBindParameters' | translate }}</p>
                </th>
              </tr>
              <tr *ngFor="let param of appparameter">
                <th colspan="3">
                  <div class="in">
                                            <span style="width: auto; min-width: 71px" ><i class="cWrapDot"></i>
                                               {{param.name}}
                                            </span>
                    <input type="{{param.type}}" [(ngModel)]="param.value"/>
                  </div>
                </th>
              </tr>
              </ng-container>
              </tbody>
            </table>
            <div class="services_bottom maT20">
              <h4>{{ 'catalog.service.serviceUsePriceGuide' | translate }} </h4>
              <table class="line_tables">
                <colgroup>
                  <col style="width:70px">
                  <col style="width:70px">
                  <col>
                  <col>
                </colgroup>
                <thead>
                <tr>
                  <td>{{ 'catalog.service.select' | translate }}</td>
                  <td>{{ 'catalog.service.goods' | translate }}</td>
                  <td>{{ 'catalog.service.function' | translate }}</td>
                  <td>{{ 'catalog.service.price' | translate }}</td>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let service of serviceplan;let i = index">
                <tr>
                  <td *ngIf="service===plan">
                    <input [id]="'ra' + i" type="radio" name="ra1" checked="checked" (click)="changePlan(service)">
                    <label [for]="'ra' + i"></label>
                  </td>
                  <td *ngIf="service!==plan">
                    <input [id]="'ra' + i" type="radio" name="ra1" (click)="changePlan(service)">
                    <label [for]="'ra' + i"></label>
                  </td>
                  <td *ngIf="service.free">
                    {{ 'catalog.appTemplate.free' | translate }}
                  </td>
                  <td *ngIf="!service.free">
                    {{ 'catalog.appTemplate.standard' | translate }}
                  </td>
                  <td><p>{{service.description}}</p>
                    {{ serviceBulletSetting(service.extra)}}<br/>{{serviceSubBulletSetting(service.extra)}}
                  </td>
                  <td>{{serviceAmountSetting(service.extra)}}
                  </td>
                </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
          <div class="cWrap_btn">
            <button class="btns2 btns2_1 colors4" id="createService" (click)="createService()">{{ 'catalog.service.produce' | translate }}</button>
            <button class="btns2 btns2_1 colors5" [routerLink]="['/catalog']">{{ 'catalog.service.cancel' | translate }}</button>
          </div>
        </div>
      </div><!-- row one_line -->
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>
