<div class="wrap dashboard">
  <header class="header">
    <div class="logo">
      <a [routerLink]="['../appMain']"><h1><img src="../../assets/resources/images/main/logo.png" alt=""/></h1></a>
    </div>
    <span class="nav_toggle">
            <input type="checkbox" id="checkbox-1" name="" class="navcheck" value="1" >
            <label for="checkbox-1"></label>
        </span>
    <ul class="gnb clearfix">
      <li ><a [routerLink]="['../appMain']">대시보드</a></li>
      <li class="cur"><a [routerLink]="['../catalog']">카달로그</a></li>
      <li><a href="https://github.com/PaaS-TA/Guide-3.0-Penne-">문서</a></li>
    </ul>
    <ul class="right_nav">
      <li><!-- <a href="#" class="fas fa-user"></a> -->
        <div class="btn-group">
          <button href="#" class="dropdown-toggle user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div id="r_user" class="dropdown-menu">
            <div class="">
              <span class="dot"></span>
              <dl>
                <dt>
                  <i href="#" class="fas fa-user"></i>
                  <img src="http://blog.jinbo.net/attach/615/200937431.jpg" alt="temp" />
                </dt>
                <dd>
                  <p>홍길동</p>
                  <p>test@test.com</p>
                </dd>
              </dl>
            </div>
            <ul class="">
              <li class="cur"><a [routerLink]="['../usermgmt']">내계정</a></li>
              <li><a [routerLink]="['../org']">조직관리</a></li>
              <li><a href="#">사용량조회</a></li>
            </ul>
            <p class="log_out">로그아웃</p>
          </div>
        </div>
      </li>
      <li>
        <div class="btn-group">
          <button href="#" class="dropdown-toggle bell" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>3</span></button>
          <div id="bell" class="dropdown-menu">
            <div class="">
              <span class="dot"></span>
              <p class="">Notifications</p>
            </div>
            <div>
              <ul class="">
                <li><a href="#">파스타 공지사항</a><span><i class="fas fa-times-circle"></i></span></li>
                <li><a href="#">파스타 공지사항</a><span><i class="fas fa-times-circle"></i></span></li>
                <li><a href="#">파스타 공지사항</a><span><i class="fas fa-times-circle"></i></span></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div id="globes" class="btn-group">
          <button href="#" class="dropdown-toggle globe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-caret-down"></i></button>
          <ul class="dropdown-menu">
            <li class="cur"><a href="#">Korean</a></li>
            <li><a href="#">English</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="header_bottom">
      <p class="tit">Catalog</p>
      <ul class="content_dev">
        <li>전체보기</li>
      </ul>
    </div>
  </header>
  <nav>
    <div class="scroll_style">
      <ul class="nav_1d">
        <li class="cur" [routerLink]="['../catalog']">
          <dl>
            <dt>
            <div id="lnbimg1" class="lefticos">
            </div>
            </dt>
            <dd>
              <p>
                전체보기
              </p>
            </dd>
          </dl>
        </li>
        <li >
          <dl>
            <dt>
            <div id="lnbimg8" class="">

            </div>
            </dt>
            <dd>
              <p>
                앱 템플릿
              </p>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
            <div id="lnbimg9" class="">

            </div>
            </dt>
            <dd>
              <p>
                앱 개발환경
              </p>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
            <div id="lnbimg4" class="">

            </div>
            </dt>
            <dd>
              <p>
                서비스
              </p>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="nav_2d scroll_H">
      <div class="">
        <div>
          <ul>
            <li>전체보기
            </li>
            <li class="titles" onclick="location.href='catalogdetail.html'">앱 템플릿
            </li>
            <li><i class="far fa-window-maximize"></i> 기본유형</li>
            <li class="titles" onclick="location.href='catalogdevelopment.html'">앱 개발환경</li>
            <li><i class="fas fa-cog"></i> 시스템 앱 개발환경</li>
            <li><i class="fas fa-user"></i> 사용자 앱 개발환경</li>
            <li class="titles" onclick="location.href='catalogservices.html'">서비스</li>
            <li><i class="far fa-hdd"></i> 데이터저장소</li>
            <li><i class="fas fa-comments"></i> 메시징</li>
            <li><i class="fas fa-database"></i> NoSQL 데이터베이스</li>
            <li><i class="fas fa-cubes"></i> 관계형 데이터베이스</li>
            <li><i class="fas fa-mobile-alt"></i> 어플리케이션 모니터링</li>
            <li><i class="fas fa-wrench"></i> 개발 지원 도구</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="contain">
    <div class="content">
      <div class="row one_line catalog maT30">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-btn">
              <button name="button" class="btn" type="button" (click)="Search()"><i class="fas fa-search"></i></button>
            </div>
            <input class="form-control" type="text" placeholder="Catalog Search" [(ngModel)]="searchKeyword" (keyup.enter)="Search()" (blur)="KeywordClear()"/>
          </div>
        </div>
        <div class="">
          <p class="tit">최근작업</p>
          <ul>
            <li (click)="location.href='catalogdetail.html'" *ngFor="let recent of catalogService.recentpacks">
              <dl>
                <dt>
                <div>
                  <img src={{recent.thumbImgPath}} alt="" />
                </div>
                </dt>
                <dd>
                  <ul>
                    <li>{{recent.name}}
                    </li>
                    <li><p>{{recent.description}}</p>
                    </li>
                    <li>
                      <button class="btns3 colors6">파스타</button>
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
        <div>
          <p class="tit">앱 템플릿</p>
          <ul>
            <li *ngFor="let tem of catalogService.templates">
              <dl>
                <dt>
                <div>
                  <img src={{tem.thumbImgPath}} alt="" />
                </div>
                </dt>
                <dd>
                  <ul>
                    <li>{{tem.name}}
                    </li>
                    <li><p>{{tem.description}}</p>
                    </li>
                    <li>
                      <button class="btns3 colors7">커뮤니티</button>
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="cataloglast">
          <p class="tit">앱 개발환경</p>
          <ul >
            <li *ngFor="let dev of catalogService.developments">
              <dl>
                <dt>
                <div>
                  <img src={{dev.thumbImgPath}} alt="" />
                </div>
                </dt>
                <dd>
                  <ul>
                    <li>{{dev.name}}
                    </li>
                    <li><p> {{dev.description}}
                    </p>
                    </li>
                    <li>
                      <button class="btns3 colors6">파스타</button>
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
      </div><!-- row one_line -->
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>
