<app-app-top [cursorId]="'cur_login'"></app-app-top>

<!--추가작업-->
<div id="fullpage">
  <div class="section " id="section0">
    <div class="container">
      <h1>{{'indexMain.section0.title' | translate}}</h1>
      <h2>{{'indexMain.section0.explain' | translate}}</h2>
      <ul class="list third">
        <li>
          <img src="/assets/resources/images/main/banner0101.png"/>
          <p>{{'indexMain.section0.text1' | translate}}</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0102.png"/>
          <p>{{'indexMain.section0.text2' | translate}}</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0103.png"/>
          <p>{{'indexMain.section0.text3' | translate}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="section" id="section1">
    <div class="container">
      <h1>{{'indexMain.section1.title' | translate}}</h1>
      <p>{{'indexMain.section1.explain' | translate}}</p>
      <ul class="list quarter">
        <li>
          <img src="/assets/resources/images/main/banner0201.png"/>
          <strong>{{'indexMain.section1.subTitle1' | translate}}</strong>
          <p>{{'indexMain.section1.text1' | translate}}</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0202.png"/>
          <strong>{{'indexMain.section1.subTitle2' | translate}}</strong>
          <p>{{'indexMain.section1.text2' | translate}}</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0203.png"/>
          <strong>{{'indexMain.section1.subTitle3' | translate}}</strong>
          <p>{{'indexMain.section1.text3' | translate}}</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0204.png"/>
          <strong>{{'indexMain.section1.subTitle4' | translate}}</strong>
          <p>{{'indexMain.section1.text4' | translate}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="container">
      <h1>{{'indexMain.section2.title' | translate}}</h1>
      <p>{{'indexMain.section2.explain' | translate}}</p>
      <ul class="list third">
        <li>
          <div class="box-black">
            <strong>{{'indexMain.section2.subTitle1' | translate}}</strong>
            <p>{{'indexMain.section2.text1' | translate}}</p>
          </div>
          <div class="box-black">
            <strong>{{'indexMain.section2.subTitle2' | translate}}</strong>
            <p>{{'indexMain.section2.text2' | translate}}</p>
          </div>
        </li>
        <li>
          <div class="box-black">
            <strong>{{'indexMain.section2.subTitle3' | translate}}</strong>
            <p>{{'indexMain.section2.text3' | translate}}</p>
          </div>
          <div class="box-black">
            <strong>{{'indexMain.section2.subTitle4' | translate}}</strong>
            <p>{{'indexMain.section2.text4' | translate}}</p>
          </div>
        </li>
        <li>
          <div class="box-black">
            <strong>{{'indexMain.section2.subTitle5' | translate}}</strong>
            <p>{{'indexMain.section2.text5' | translate}}</p>
          </div>
          <div class="box-black">
            <strong>{{'indexMain.section2.subTitle6' | translate}}</strong>
            <p>{{'indexMain.section2.text6' | translate}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="container">
      <h1>{{'indexMain.section3.title' | translate}}</h1>
      <p>{{'indexMain.section3.explain' | translate}}</p>
      <ul class="list quarter"><li>
        <div class="box-black">
          <strong>{{'indexMain.section3.subTitle1' | translate}}</strong>
          <p>{{'indexMain.section3.text1' | translate}}</p>
        </div>
        <div class="box-black">
          <strong>{{'indexMain.section3.subTitle2' | translate}}</strong>
          <p>{{'indexMain.section3.text2' | translate}}</p>
        </div>
      </li>
        <li>
          <div class="box-black">
            <strong>{{'indexMain.section3.subTitle3-1' | translate}}<br/>{{'indexMain.section3.subTitle3-2' | translate}}</strong>
            <p>{{'indexMain.section3.text3' | translate}}</p>
          </div>
          <div class="box-black">
            <strong>{{'indexMain.section3.subTitle4-1' | translate}}<br/>{{'indexMain.section3.subTitle4-2' | translate}}</strong>
            <p>{{'indexMain.section3.text4' | translate}}</p>
          </div>
        </li>
        <li>
          <div class="box-black">
            <strong>{{'indexMain.section3.subTitle5-1' | translate}}<br/>{{'indexMain.section3.subTitle5-2' | translate}}</strong>
            <p>{{'indexMain.section3.text5' | translate}}</p>
          </div>
          <div class="box-black">
            <strong>{{'indexMain.section3.subTitle6' | translate}}</strong>
            <p>{{'indexMain.section3.text6' | translate}}</p>
          </div>
        </li>
        <li>
          <div class="box-black">
            <strong>{{'indexMain.section3.subTitle7' | translate}}</strong>
            <p>{{'indexMain.section3.text7' | translate}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="scroll">
  <div class="inner">
    <i></i>
  </div>
  <p>{{'indexMain.scroll' | translate}}</p>
</div>

<div class="modal fade" id="layerpop_index_browser_notice">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{'indexMain.modal.header' | translate}}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p [innerHTML]="'indexMain.modal.body1' | translate" style="color:black;"></p>
          <br>
          <p style="color:black; font-weight: bold;">{{'indexMain.modal.body2' | translate}}</p>
          <br>
          <p style="color:black;">&nbsp;{{'indexMain.modal.body3' | translate}}</p>
          <br>
          <p style="color:black;">&nbsp;- http://portal-web-user.xxx.xx.xx.xxx.xip.io</p>
          <p style="color:black;">&nbsp;- https://uaa.xxx.xx.xx.xxx.xip.io</p>
        </div>
      </div>
    </div>
  </div>
</div>
