<app-app-top [cursorId]="'cur_login'"></app-app-top>

<!--추가작업-->
<div id="fullpage">
  <div class="section " id="section0">
    <div class="container">
      <h1>개방형 클라우드 플랫폼!</h1>
      <h2>파스-타와 함께 당신의 앱에 날개를 달아보세요</h2>
      <ul class="list third">
        <li>
          <img src="/assets/resources/images/main/banner0101.png"/>
          <p>파스-타는 글로벌하게 검증된 오픈소스를 활용하여 개발되고,전체가 오픈 라이선스인 아파치 라이선스로 개방되므로 누구나 자유롭게 활용 가능한 개방형 클라우드 플랫폼입니다.</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0102.png"/>
          <p>클라우드 인프라(IaaS) 제공자는 파스-타를 활용하여 플랫폼 서비스까지 제공하며, 클라우드 SW(SaaS) 제공자는 다양한 인프라를 지원하는 파스-타 기반에서의 SaaS 개발로 플랫폼 별 중복 개발 없이, 쉽고 빠르게 서비스를 개발·운영할 수 있습니다.</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0103.png"/>
          <p>파스-타는 파스(PaaS)와 타(TA)의 합성어로, 영어로는 파스(PaaS), 고마워(TA, Thanks 구어체)의 의미를, 한글로는 파스에타(탑승)라는 중의적 의미입니다.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="section" id="section1">
    <div class="container">
      <h1>파스-타(PaaS-TA) 특징</h1>
      <p>실행환경은 Cloud Foundry 오픈 소스를 기반으로 구성됩니다.</p>
      <ul class="list quarter">
        <li>
          <img src="/assets/resources/images/main/banner0201.png"/>
          <strong>7종 이상 다양한 인프라(IaaS) 지원으로 종속성 해소</strong>
          <p>OpenStack 신규버전(Ocata, Pike등) 지속 지원 및 AWS, Vagant, VMWare, CloudStack, Google Cloud Platform, Azure 글로벌 선도 IaaS지원</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0202.png"/>
          <strong>풍부한 개발 / 운영환경 제공</strong>
          <p>8종(Java, NodeJS, PHP 등) 개발언어, 10종(전자정부표준 프레임워크 등)의 프레임워크, 국산 SW(Tibero, Cubrid, Altibase, Arcus 등) 서비스 지원 및 IaaS에서 PaaS, SaaS까지 통합 관제 지원</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0203.png"/>
          <strong>단계별 상세 가이드 문서 제공</strong>
          <p>플랫폼 설치, 서비스 설치, 플랫폼 확장, 어플리케이션 개발 등 23종 한글 문서 제공 및 버전 별 지속 업데이트</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0204.png"/>
          <strong>국내 클라우드 산업 활성화 및 도메인 플랫폼 생태계 조성</strong>
          <p>국내 클라우드 산업의 글로벌 경쟁력 제고 및 4차 산업형명 선도를 위한 안정적 기술지원과 개발자 육성지원</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="container">
      <h1>파스-타(PaaS-TA) 개방형 생태계</h1>
      <p>PaaS-TA 도입 프로젝트에 대해 플랜을 수립하고 체계적인 기술지원을 수행하고 있습니다.</p>
      <ul class="list third">
        <li>
          <div class="box-black">
            <strong>개방형 협력</strong>
            <p>클라우드인프라/SW/미들웨어 개발 기업 및 연구소/학교 등 부문별 열린 협력 추진</p>
          </div>
          <div class="box-black">
            <strong>플랫폼 활용 전문가</strong>
            <p>개발자 커뮤니티 협력을 통한 파스-타 활용 과정의 정기적인 교육 추진</p>
          </div>
        </li>
        <li>
          <div class="box-black">
            <strong>정기기술 세미나</strong>
            <p>클라우드 플랫폼 개발자 대상 공개 세미나(클라우드 PUB) 개최</p>
          </div>
          <div class="box-black">
            <strong>기술ㆍ컨설팅 지원</strong>
            <p>파스-타 도입 검토ㆍ설치ㆍ운영 전 범위에 걸친 기술지원</p>
          </div>
        </li>
        <li>
          <div class="box-black">
            <strong>전문개발자 집중 육석</strong>
            <p>파스-타 전문 개발자 집중 육성 프로그램(상주/비상주)제공</p>
          </div>
          <div class="box-black">
            <strong>대학교육 지원</strong>
            <p>파스-타 기반 IT교육 및 실습환경 제공</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="container">
      <h1>파스-타(PaaS-TA) 기능</h1>
      <p>PaaS-TA는 인프라 제어 및 관리환경, 실행환경, 개발환경, 서비스환경, 운영환경으로 구성됩니다.</p>
      <ul class="list quarter"><li>
        <div class="box-black">
          <strong>편리한 환경설정을 통한 데브옵스 지원</strong>
          <p>어플리케이션 개발에
            필요한 프레임워크, 미들웨어, OS등 표준화된 개발, 운영 환경 구성 및 빌드, 테스트, 배포 자동
            화를 토한 데이옵스 지원과 형상 관리 서비스 제공</p>
        </div>
        <div class="box-black">
          <strong>플랫폼 설치 자동화 및 IaaS 대시보드 지원</strong>
          <p>IaaS에 PaaS 설치하는 복잡한 과정을 자동화하는
            설치자동화 및 다양한 IaaS의 통합 관리기능 제공</p>
        </div>
      </li>
        <li>
          <div class="box-black">
            <strong>편리하고 확장가능한 <br/>UI지원</strong>
            <p>템플릿 기반으로 클릭 한번에 편리한 개발을
              지원하는 개발자 UI와 통합 운영, 관리를 위한 운영자
              UI제공</p>
          </div>
          <div class="box-black">
            <strong>하이브리드 <br/>클라우드 지원</strong>
            <p>내ㆍ외부 간 서비스 이동ㆍ연동이 가능한 하이브리드 클라우드 구성 지원</p>
          </div>
        </li>
        <li>
          <div class="box-black">
            <strong>IaaS/VM/컨테이너 <br/>모니터링 지원</strong>
            <p>CPU, Memory,
              Disk 사용량, CPU, Memory, Disk I/O, Network Traffic 등 클라우드 인프라부터 플랫폼, 소프트웨어에 이르는
              클라우드 서비스 전계층 통합 모니터링ㆍ분석
              기능 제공</p>
          </div>
          <div class="box-black">
            <strong>Kubernetes 지원</strong>
            <p>파스-타와 쿠버네티스를 결합한 컨테이너 제어 관리</p>
          </div>
        </li>
        <li>
          <div class="box-black">
            <strong>자동화된 서비스 확장 (Auto Scaling)</strong>
            <p>가상머신과 컨테이너, 어플리케이션, 서비스에
              이르는 전 영역의 자원사용량에 기반한 첨단화된 자동확장 및 장애복구</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="scroll">
  <div class="inner">
    <i></i>
  </div>
  <p>마우스를 스크롤해주세요</p>
</div>

<div class="modal fade" id="layerpop_index_browser_notice">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">브라우져 지원</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p style="color:black;"><span style="color:blue; font-weight: bold;">Google Chrome</span>, <span style="color:blue; font-weight: bold;">Microsoft Edge</span> 이외의 브라우져 에서는 정상작동 하지 않을 수 있습니다.</p>
          <br>
          <p style="color:black; font-weight: bold;">Internet Explorer 설정 사항</p>
          <br>
          <p style="color:black;">&nbsp;인터넷 옵션 > 보안 탭 > 신뢰할 수 있는 사이트에 해당 주소 추가</p>
          <br>
          <p style="color:black;">&nbsp;- http://portal-web-user.xxx.xx.xx.xxx.xip.io</p>
          <p style="color:black;">&nbsp;- https://uaa.xxx.xx.xx.xxx.xip.io</p>
        </div>
      </div>
    </div>
  </div>
</div>
