<app-app-top [cursorId]="'cur_login'"></app-app-top>

<!--추가작업-->
<div id="fullpage">
  <div class="section " id="section0">
    <div class="container">
      <h1>Open Cloud Platform!</h1>
      <h2>Give your app wings with PaaS-TA</h2>
      <ul class="list third">
        <li>
          <img src="/assets/resources/images/main/banner0101.png"/>
          <p>PaaS-TA is an open cloud platform that anyone can use freely because it is developed using globally proven open sources and is fully open under the Apache license, which is an open license.</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0102.png"/>
          <p>Cloud infrastructure (IaaS) providers use PaaS-TA to provide platform services as well, and cloud SW (SaaS) providers provide services quickly and easily without overlapping development for each platform by developing SaaS based on PaaS-TA that supports various infrastructures. It can be developed and operated.</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0103.png"/>
          <p>PaaS-TA is a compound word of PaaS and TA. In English, it means PaaS and thanks (TA, Thanks colloquially), and in Korean, it has a double meaning of pasette (boarding).</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="section" id="section1">
    <div class="container">
      <h1>PaaS-TA Features</h1>
      <p>The execution environment is configured based on Cloud Foundry open source.</p>
      <ul class="list quarter">
        <li>
          <img src="/assets/resources/images/main/banner0201.png"/>
          <strong>Eliminate dependency with 7 or more types of various infrastructure (IaaS) support</strong>
          <p>Continuous support for new versions of OpenStack (Ocata, Pike, etc.) and global leading IaaS support for AWS, Vagant, VMWare, CloudStack, Google Cloud Platform, and Azure</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0202.png"/>
          <strong>Provide rich development / operating environment</strong>
          <p>8 types (Java, NodeJS, PHP, etc.) development language, 10 types (e-government standard framework, etc.) framework, domestic SW (Tibero, Cubrid, Altibase, Arcus, etc.) service support and integrated control from IaaS to PaaS and SaaS support</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0203.png"/>
          <strong>Provides step-by-step detailed guide documentation</strong>
          <p>23 types of Korean documents such as platform installation, service installation, platform expansion, application development, etc. and continuous update by version</p>
        </li>
        <li>
          <img src="/assets/resources/images/main/banner0204.png"/>
          <strong>Revitalize the domestic cloud industry and create a domain platform ecosystem</strong>
          <p>Stable technical support and developer development support to enhance the global competitiveness of the domestic cloud industry and lead the 4th industry</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="container">
      <h1>PaaS-TA open ecosystem</h1>
      <p>We establish a plan for the PaaS-TA introduction project and provide systematic technical support.</p>
      <ul class="list third">
        <li>
          <div class="box-black">
            <strong>open cooperation</strong>
            <p>Open cooperation by sector such as cloud infrastructure/SW/middleware development companies and research institutes/schools</p>
          </div>
          <div class="box-black">
            <strong>Platform utilization expert</strong>
            <p>Promotion of regular education on the process of using PaaS-TA through cooperation with the developer community</p>
          </div>
        </li>
        <li>
          <div class="box-black">
            <strong>Regular technology seminar</strong>
            <p>Held public seminars for cloud platform developers (cloud PUB)</p>
          </div>
          <div class="box-black">
            <strong>Technical and consulting support</strong>
            <p>Technical support for the entire range of PaaS-TA introduction review, installation, and operation</p>
          </div>
        </li>
        <li>
          <div class="box-black">
            <strong>Intensive development of professional developers</strong>
            <p>Provide intensive training programs for PaaS-TA professional developers (resident/non-resident)</p>
          </div>
          <div class="box-black">
            <strong>University education support</strong>
            <p>PaaS-TA-based IT education and practice environment provided</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="container">
      <h1>PaaS-TA function</h1>
      <p>PaaS-TA consists of infrastructure control and management environment, execution environment, development environment, service environment, and operation environment.</p>
      <ul class="list quarter"><li>
        <div class="box-black">
          <strong>DevOps support through convenient environment setting</strong>
          <p>Proviedes a standardized development/production environment such as frameworks, middleware, and OS required for application development,
            DevOps through build, test, and deployment automation, 
            Source Control Management service</p>
        </div>
        <div class="box-black">
          <strong>Platform installation automation and IaaS dashboard support</strong>
          <p>Provides installation automation that automates the complex process of installing PaaS on IaaS
            , integrated management of various IaaS</p>
        </div>
      </li>
        <li>
          <div class="box-black">
            <strong>Convenient and expandable <br/>UI support</strong>
            <p>Provides developer UI that supports convenient one-click deployment based on templates
              and operator UI for integrated operation
              and management</p>
          </div>
          <div class="box-black">
            <strong>Hybrid Cloud <br/>Support</strong>
            <p>Supports hybrid cloud configuration that allows internal and external service movement and interworking</p>
          </div>
        </li>
        <li>
          <div class="box-black">
            <strong>IaaS/VM/Container <br/>Monitoring</strong>
            <p>CPU, Memory,
              Provides integrated monitoring and analysis functions
              for all layers of cloud services from cloud infrastructure to platforms and software such as disk usage, CPU, memory, disk I/O,
              and network traffic</p>
          </div>
          <div class="box-black">
            <strong>Kubernetes Support</strong>
            <p>Container control management that combines PaaS-TA and Kubernetes</p>
          </div>
        </li>
        <li>
          <div class="box-black">
            <strong>Auto Scaling</strong>
            <p>Advanced auto-scaling and failure recovery based on
              resource usage in all areas ranging from virtual machines, containers, applications, and services</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="scroll">
  <div class="inner">
    <i></i>
  </div>
  <p>Please scroll your mouse</p>
</div>

<div class="modal fade" id="layerpop_index_browser_notice">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">Browser support</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p style="color:black;">Browsers other than <span style="color:blue; font-weight: bold;">Google Chrome</span>, <span style="color:blue; font-weight: bold;">Microsoft Edge</span> may not work properly.</p>
          <br>
          <p style="color:black; font-weight: bold;">Internet Explorer Settings</p>
          <br>
          <p style="color:black;">&nbsp;Internet Options > Security tab > Add the address to trusted sites</p>
          <br>
          <p style="color:black;">&nbsp;- http://portal-web-user.xxx.xx.xx.xxx.xip.io</p>
          <p style="color:black;">&nbsp;- https://uaa.xxx.xx.xx.xxx.xip.io</p>
        </div>
      </div>
    </div>
  </div>
</div>
