<!DOCTYPE html>
<html lang="ko">
<body class="org">
<div>
  <app-app-top [cursorId]="'cur_dashboard'"></app-app-top>
  <div class="dashboard_ui">
    <div class="dashboard_ui_container">
      <div class="space_title">Dashboard</div>
      <div class="space_select_dv">
        <ul>
          <li>
            <div>
              <select readonly="readonly">
                <option value="" name="area">미국(USA)</option>
                <option value="" selected="selected" name="area">대한민국(KOREA)</option>
              </select>
            </div>
          </li>
          <li>
            <div>
              <select (change)="getOrg($event.target.value)" [(ngModel)]="currentOrg">
                <option value="" name="org_name">생성된 조직명</option>
                <option *ngFor="let org of orgs" [value]="org.name">{{org.name}}</option>
              </select>
            </div>
          </li>
          <li>
            <div>
              <select (change)="getSpaces($event.target.value)" [(ngModel)]="currentSpace">
                <option value="" selected="selected" name="space">해당 공간명</option>
                <option *ngFor="let space of spaces" [value]="space._metadata.guid">{{space.name}}</option>
              </select>
            </div>
          </li>
          <!--<button (click)="getSpaces(selectedSpaceId)" >TEST</button>-->
        </ul>
      </div>
      <!--<div class="space_btn1"><button class="btnspace colors4 "><img src="../../assets/resources/images/main/btn_icon.png" alt=""/>WEB IDE 사용</button></div>-->
    </div>
  </div>
  <div *ngIf='isEmpty'>
    <div class="space_wrap">
      <div class="space_alert_img"><img src="../../assets/resources/images/space/alert.gif" alt=""/></div>
      <div class="space_title2">대시보드가 비어 있습니다.</div>
      <div class="space_txt">조직 및 공간이 생성되지 않았습니다. <br><span><em><a [routerLink]="['../org']">조직관리</a></em></span>로 이동하여
        조직 및 공간을 생성하십시오.
      </div>
    </div>
  </div>
  <div *ngIf='isSpace'>
    <div class="contain_s">
      <div class="content">
        <!-- 할당량 시작-->
        <div class="row two_line two_view ns">
          <div class="sortable_wrap space_box">
            <div class="space_gb"><span>{{ (orgMemoryDevelopmentTotal >= 1024) ? ((orgMemoryDevelopmentTotal%1024 == 0 || orgMemoryDevelopmentTotal%1024 < 11) ? (orgMemoryDevelopmentTotal/1024).toFixed(0) : (orgMemoryDevelopmentTotal/1024).toFixed(2)) : (orgMemoryDevelopmentTotal) }}</span>
              <span>{{ (orgMemoryDevelopmentTotal >= 1024) ? 'GB' : 'MB' }}</span> / 할당량
              {{ (orgQuotaMemoryLimit >= 1024) ? ((orgQuotaMemoryLimit%1024 == 0 || orgQuotaMemoryLimit%1024 < 11) ? (orgQuotaMemoryLimit/1024).toFixed(0) : (orgQuotaMemoryLimit/1024).toFixed(2)) : (orgQuotaMemoryLimit) }} {{ (orgQuotaMemoryLimit >= 1024) ? 'GB' : 'MB' }}</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar"  aria-valuenow="1.5" aria-valuemin="0" aria-valuemax="10" style="width: 15%;">{{ (orgMemoryDevelopmentTotal >= 1024) ? ((orgMemoryDevelopmentTotal%1024 == 0 || orgMemoryDevelopmentTotal%1024 < 11) ? (orgMemoryDevelopmentTotal/1024).toFixed(0) : (orgMemoryDevelopmentTotal/1024).toFixed(2)) : (orgMemoryDevelopmentTotal) }} {{ (orgMemoryDevelopmentTotal >= 1024) ? 'GB' : 'MB' }}</div>
              <div class="progress-full">  {{ (orgQuotaMemoryLimit >= 1024) ? ((orgQuotaMemoryLimit%1024 == 0 || orgQuotaMemoryLimit%1024 < 11) ? (orgQuotaMemoryLimit/1024).toFixed(0) : (orgQuotaMemoryLimit/1024).toFixed(2)) : (orgQuotaMemoryLimit) }} {{ (orgQuotaMemoryLimit >= 1024) ? 'GB' : 'MB' }}</div>
            </div>
          </div>
        </div>
        <!-- 할당량 끝 -->
        <div class="monitor_tabs clearfix">
          <ul>
            <li name="tab01" class="monitor_tabs_on" (click)="dashTabClick('dashTab_1')">애플리케이션</li>
            <li name="tab02" class="monitor_tabs_right" (click)="dashTabClick('dashTab_2')">서비스</li>
          </ul>
          <div class="monitor_tabs_line"></div>
        </div>
        <div id="dashTab_1" class="monitor_content01 row two_line two_view new_view clearfix">
          <ul class="maT30" *ngIf='isMessage'>
            <li>
              <div class="sortable_wrap space_box2">
                <span class="space_txt"><i class="fas fa-exclamation-circle"></i> 생성한 앱이 없습니다. 앱 생성을 클릭하여 작성하거나 <em><a
                  [routerLink]="['../catalog']">카탈로그</a></em>를 찾아보십시오.</span>
              </div>
            </li>
          </ul>
          <ul class="maT30 space_list ">
            <li *ngFor="let item of appEntities; let i = index">
              <div class="sortable_wrap">
                <!-- 애플리케이션 영역 시작 -->
                <div class="space_pop_container">
                  <div class="space_pop_menu">
                    <i class="fas fa-ellipsis-v" (click)="popclick('apopmenu_'+i,'app',item.guid,item.name)"></i>
                    <ol class="space_pop_submenu" id="apopmenu_{{i}}">
                      <li data-target="#layerpop1" data-toggle="modal"><a class="fas fa-edit"> 앱 이름변경</a></li>
                      <!--<li><a class="fas fa-play" (click)="startAppClick(itme.guid)"> 실행</a></li>-->
                      <li *ngIf="item.state == 'STARTED'"><a class="fas fa-stop" (click)="showPopAppStopClick()"> 정지</a>
                      </li>
                      <li *ngIf="item.state != 'STARTED'"><a class="fas fa-play" (click)="showPopAppStartClick()">
                        실행</a></li>
                      <li data-target="#layerpop2" data-toggle="modal"><a class="fas fa-trash-alt"> 삭제</a></li>
                    </ol>
                  </div>
                  <!--<a [routerLink]="['../appMain']">-->
                  <!--<div (click)="moveAppMain()">-->
                  <div class="app_title" (click)="moveDashboard(item.name,item.guid)" >
                    <div class="app_img"><img src="{{item.thumbImgPath}}" alt="" style="width: 64px; height: 64px" onError="this.src='../../assets/resources/images/catalog/자바8.png'"/></div>
                    <a href="javascript:void(0);" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block;">{{item.name}}</a>
                  </div>

                  <div class="app_per clearfix">
                    <ul>
                      <li><div>인스턴스</div><div>:</div><div>{{item.instances}}</div></li>
                      <li><div>디스크</div><div>:</div><div>{{item.disk_quota}}</div></li>
                      <li><div>메모리</div><div>:</div><div>{{item.memory}}</div></li>
                      <!--{{item.memory}}-->
                    </ul>
                  </div>
                  <div class="clear"></div>
                  <div class="app_btn" [ngSwitch]="item.state">
                    <button class="btns colors1" *ngSwitchCase="'STARTED'"><img src="../../../assets/resources/images/main/RUNNING.svg" alt=""/>STARTED</button>
                    <button class="btns colors2" *ngSwitchCase="'DOWNED'"><img src="../../../assets/resources/images/main/energy.svg" alt=""/>DOWN</button>
                    <button class="btns colors2" *ngSwitchCase="'CRASHED'"><img src="../../../assets/resources/images/main/energy.svg" alt=""/>CRASHED</button>
                    <button class="btns colors3" *ngSwitchDefault><img src="../../../assets/resources/images/main/moon.svg" alt=""/>STOP</button>
                  </div>
                  <div class="app_graph clearfix">
                    <div>DISK</div>
                    <div><span>{{item.diskPer}}</span><i>%</i></div>
                    <div class="space_bar1">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': '' + item.diskPer + '%'}"></div>
                      </div>
                    </div>
                    <div>Memory</div>
                    <div><span>{{item.memPer}}</span><i>%</i></div>
                    <div class="space_bar2">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100" [ngStyle]="{'width': '' + item.memPer + '%'}"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 애플리케이션 영역 끝 -->
              </div>
            </li>
            <!-- 애플리케이션 영역 이동 -->
            <li>
              <div class="sortable_wrap"><a [routerLink]="['../catalog']"><div class="space_empty"></div></a></div>
            </li>
            <!-- 애플리케이션 영역 이동 끝-->
          </ul>
        </div>
        <div id="dashTab_2" class="monitor_content02 row two_line two_view new_view clearfix">
          <ul class="maT30">
            <li *ngIf='isMessage'>
              <div class="sortable_wrap space_box2" *ngIf='isMessage'>
                <span class="space_txt"><i class="fas fa-exclamation-circle"></i> 생성한 서비스가 없습니다. 서비스 생성을 클릭하여 작성하거나 <em><a [routerLink]="['../catalog']">카탈로그</a></em>를 찾아보십시오.</span>
              </div>
            </li>
          </ul>
          <div class="space_btn_container clearfix">
            <div class="space_btn2">
              <button class="btns colors4" data-target="#layerpop4" data-toggle="modal">User Provided 생성</button>
            </div>
          </div>
          <ul class="maT10 space_list space_list_small">
            <li *ngFor="let item of servicesEntities;  let i = index">
              <div class="sortable_wrap">
                <!-- 서비스 영역 시작 -->
                <div class="space_pop_container space_list_small">
                  <div class="space_pop_menu">
                    <!--<button _ngcontent-c4="" class="btns colors4" (click)="moveDashboardS()">대시보드</button>-->
                    <i class="fas fa-ellipsis-v" *ngIf="item.service_plan !== null"
                       (click)="popclick('spopmenu_'+i,'service',item.guid,item.name)"></i>
                    <i class="fas fa-ellipsis-v" *ngIf="item.service_plan == null"
                       (click)="popclick('spopmenu_'+i,'provided',item.guid,item.name)"></i>
                    <ol class="space_pop_submenu" id="spopmenu_{{i}}">
                      <li data-target="#layerpop3" data-toggle="modal" *ngIf="item.service_plan !== null"><a
                        class="fas fa-edit"> 서비스 이름변경</a></li>
                      <!--<li data-target="#layerpop7" data-toggle="modal" *ngIf="item.service_plan == null"><a class="fas fa-edit"> 서비스 이름변경</a></li>-->
                      <li data-target="#layerpop6" data-toggle="modal" *ngIf="item.service_plan == null"><a
                        class="fas fa-wrench"> 서비스 수정</a></li>
                      <li data-target="#layerpop5" data-toggle="modal"><a class="fas fa-trash-alt"> 삭제</a></li>
                    </ol>
                  </div>
                  <div class="app_title"><div class="app_img"><img src="{{item.thumbImgPath}}" alt="" style="width: 54px; height: 54px" onError="this.src='../../assets/resources/images/catalog/catalog_3.png'"/></div> {{item.name}}</div>
                  <div class="app_per clearfix" *ngIf="item.service_plan != null">
                    <ul>
                      <li>
                        <div>연결 앱</div>
                        <div>:</div>
                        <ng-container *ngFor="let app of appEntities;">
                          <ng-container *ngFor="let servicename of app.service_names;">
                            <ng-container *ngIf="item.name == servicename">
                              <div class="serviceTitle">{{app.name}}</div>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </li>
                      <li><div>서비스 명</div><div>:</div><div class="serviceTitle">{{item.service_plan.service.label}}</div></li>
                      <li><div>제공서비스</div><div>:</div><div class="serviceTitle">{{item.service_plan.name}}</div></li>
                      <li *ngIf="item.dashboard_url != null">
                        <div>대시보드</div><div>:</div>
                        <div class="serviceTitle">
                        <button class="btns colors3"><img src="../../../assets/resources/images/main/moon.svg" alt=""/><a href="{{item.dashboard_url}}" target="_blank">대시보드</a></button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="app_per clearfix" *ngIf="item.service_plan == null">
                    <ul>
                      <li><div>서비스 명</div><div>:</div><div class="serviceTitle">{{item.name}}</div></li>
                      <li><div>제공서비스</div><div>:</div><div class="serviceTitle">user-provided</div></li>
                    </ul>
                  </div>
                  <div class="clear"></div>
                </div>
                <!-- 애플리케이션 영역 끝 -->
              </div>
            </li>
            <!-- 애플리케이션 영역 이동 -->
            <li>
              <div class="sortable_wrap"><a [routerLink]="['../catalog']">
                <div class="space_empty2"></div>
              </a></div>
            </li>
            <!-- 애플리케이션 영역 이동 끝 -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade" id="layerpop1">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">앱 이름 변경</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <input type="text" placeholder="변경할 앱 이름을 입력하세요." class="space_input" [(ngModel)]="selectedName"/>
          <!--<span class="red" use-form-error="isNotSame" *ngIf="!isPatten">-->
          <!--<i class="fas fa-exclamation-circle"></i>영문과 숫자 입력만 가능합니다.-->
          <!--</span>-->
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="renameApp()">변경</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">취소</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="layerpop2">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">앱 삭제</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p>앱을 삭제하면 되돌릴 수 없습니다.<br/><span>{{selectedName}}</span>를 삭제하시겠습니까?
          </p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="delApp(selectedGuid)">삭제</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">취소</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="layerpop3">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">서비스 이름 변경</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <input type="text" placeholder="변경할 서비스 이름을 입력하세요." class="space_input" [(ngModel)]="selectedName"
                 name="selectedName"/>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="renameInstance()">변경</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">취소</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="modal fade" id="layerpop7">-->
<!--<div class="vertical-alignment-helper">-->
<!--<div class="modal-dialog vertical-align-center">-->
<!--<div class="modal-content">-->
<!--&lt;!&ndash; header &ndash;&gt;-->
<!--<div class="modal-header">-->
<!--&lt;!&ndash; 닫기(x) 버튼 &ndash;&gt;-->
<!--<button type="button" class="close" data-dismiss="modal">×</button>-->
<!--&lt;!&ndash; header title &ndash;&gt;-->
<!--<h4 class="modal-title">서비스 이름 변경</h4>-->
<!--</div>-->
<!--&lt;!&ndash; body &ndash;&gt;-->
<!--<div class="modal-body">-->
<!--<input type="text" placeholder="변경할 서비스 이름을 입력하세요." class="space_input" [(ngModel)]="selectedName" name="selectedName"/>-->
<!--</div>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btns2 colors4" data-dismiss="modal" (click)="updateUserProvided()">변경</button>-->
<!--<button type="button" class="btns2 colors5" data-dismiss="modal">취소</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="modal fade" id="layerpop4">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">User Provided 생성</h4>
        </div>
        <!-- body -->
        <div class="modal-body space_pop_align clearfix">
          <ul>
            <li>
              <div>서비스 이름</div>
              <div><input type="text" id="userProvideName" [(ngModel)]="userProvideName" class="space_input"/></div>
            </li>
            <li>
              <div>Credentials</div>
              <div><input type="text" id="userProvideCredentials" [(ngModel)]="userProvideCredentials" class="space_input" placeholder="EXAMPLE:{&quot;username&quot;:&quot;admin&quot;,&quot;password&quot;:&quot;0000&quot;}"/></div>
            </li>
            <li>
              <div>Syslog Drain Url</div>
              <div><input type="text" id="userProvideSyslogDrainUrl" [(ngModel)]="userProvideSyslogDrainUrl" class="space_input"/></div>
            </li>
          </ul>
          <span class="red" use-form-error="isNotSame" *ngIf="!isLength" style="padding-left: 100px" ><i class="fas fa-exclamation-circle"></i>모든 값을 입력하세요.</span>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4 " (click)="checkLength()">생성</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal" (click)="cancelButton()">취소</button>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="layerpop6">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">User Provided 수정</h4>
        </div>
        <!-- body -->
        <div class="modal-body space_pop_align clearfix">
          <ul>
            <li>
              <div>서비스 이름</div>
              <div><input type="text" name="userProvideName" [(ngModel)]="userProvideName" class="space_input"/></div>
            </li>
            <li>
              <div>Credentials</div>
              <div><input type="text" name="userProvideCredentials" [(ngModel)]="userProvideCredentials"
                          class="space_input"
                          placeholder="{&quot;username&quot;:&quot;admin&quot;,&quot;password&quot;:&quot;0000&quot;}"/>
              </div>
            </li>
            <li>
              <div>Syslog Drain Url</div>
              <div><input type="text" name="userProvideSyslogDrainUrl"[(ngModel)]="userProvideSyslogDrainUrl"
                          class="space_input"/></div>
            </li>
          </ul>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4 " data-dismiss="modal" (click)="updateUserProvided()">수정</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal" >취소</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="layerpop5">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">서비스 삭제</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p>서비스를 삭제하면 되돌릴 수 없습니다.<br/><span>{{selectedName}}</span>를 삭제하시겠습니까?
          </p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="delInstance()">삭제</button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">취소</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_app_stop">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'appMain.layerpop.appStop.title' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p>App {{selectedName}} 을 정지하시겠습니까?</p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="stopAppClick()">{{ 'appMain.layerpop.appStop.btn1' |
            translate }}
          </button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'appMain.layerpop.appStop.btn2' |
            translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_app_start">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'appMain.layerpop.appStart.title' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p>App {{selectedName}} 을 시작하시겠습니까?</p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="startAppClick()">{{ 'appMain.layerpop.appStart.btn1' |
            translate }}
          </button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'appMain.layerpop.appStart.btn2' |
            translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<!--<div class="footer_n">Copyright © 2018 PaaS-TA. All rights reserved</div>-->
</html>
