<!DOCTYPE html>
<html lang="ko">
<body class="org">
<div>
  <app-app-top [cursorId]="'cur_dashboard'"></app-app-top>
  <div class="dashboard_ui">
    <div class="dashboard_ui_container">
      <div class="space_title">Dashboard</div>
      <div class="space_select_dv">
        <ul>
          <li>
            <div>
              <select readonly="readonly">
                <!--<option value="" name="area">{{'dashboard.region.usa' | translate}}</option>-->
                <option value="" selected="selected" name="area">{{'dashboard.region.korea' | translate}}</option>
              </select>
            </div>
          </li>
          <li>
            <div>
              <select (change)="getOrg($event.target.value,'select')" [(ngModel)]="currentOrg">
                <option value="" name="org_name">{{'dashboard.createdOrganizationName' | translate}}</option>
                <option *ngFor="let org of orgs" [value]="org.name">{{org.name}}</option>
              </select>
            </div>
          </li>
          <li>
            <div>
              <select (change)="getSpaces($event.target.value)" [(ngModel)]="currentSpace">
                <option value="" selected="selected" name="space">{{'dashboard.spaceName' | translate}}</option>
                <option *ngFor="let space of spaces" [value]="space._metadata.guid">{{space.name}}</option>
              </select>
            </div>
          </li>
          <!--<button (click)="getSpaces(selectedSpaceId)" >TEST</button>-->
        </ul>
      </div>
      <!--<div class="space_btn1"><button class="btnspace colors4 "><img src="../../assets/resources/images/main/btn_icon.png" alt=""/>WEB IDE 사용</button></div>-->
    </div>
  </div>
  <div *ngIf='isEmpty'>
    <div class="space_wrap">
      <div class="space_alert_img"><img src="../../assets/resources/images/space/alert.gif" alt=""/></div>
      <div class="space_title2">{{'dashboard.explan.dashboardMsg1' | translate}}</div>
      <div class="space_txt">{{'dashboard.explan.dashboardMsg2' | translate}}<br><span><em><a [routerLink]="['/org']">{{'dashboard.organizationManagement' | translate}}</a></em></span>{{'dashboard.explan.dashboardMsg3'
        | translate}}
      </div>
    </div>
  </div>
  <div *ngIf='isSpace'>
    <div class="contain_s">
      <div class="content">
        <!-- 할당량 시작-->
        <div class="row two_line two_view ns">
          <div class="sortable_wrap space_box">
            <div class="space_gb"><span>{{ (orgMemoryDevelopmentTotal >= 1024) ? ((orgMemoryDevelopmentTotal%1024 == 0 || orgMemoryDevelopmentTotal%1024 < 11) ? (orgMemoryDevelopmentTotal/1024).toFixed(0) : (orgMemoryDevelopmentTotal/1024).toFixed(2)) : (orgMemoryDevelopmentTotal) }}</span>
              <span>{{ (orgMemoryDevelopmentTotal >= 1024) ? 'GB' : 'MB' }}</span> / {{'dashboard.auota' | translate}}
              {{ (orgQuotaMemoryLimit >= 1024) ? ((orgQuotaMemoryLimit%1024 == 0 || orgQuotaMemoryLimit%1024 < 11) ?
              (orgQuotaMemoryLimit/1024).toFixed(0) : (orgQuotaMemoryLimit/1024).toFixed(2)) : (orgQuotaMemoryLimit) }}
              {{ (orgQuotaMemoryLimit >= 1024) ? 'GB' : 'MB' }}
            </div>
            <div class="progress">
              <ng-container *ngIf="orgMemoryDevelopmentTotal >= orgQuotaMemoryLimit && orgQuotaMemoryLimit !==''; else OrgMemory">
                <div class="progress-bar" role="progressbar" aria-valuenow="1.5" aria-valuemin="0" aria-valuemax="10"
                     [ngStyle]="{'width': '100%'}">100%
                </div>
              </ng-container>
              <ng-template #OrgMemory>
              <div class="progress-bar" role="progressbar" aria-valuenow="1.5" aria-valuemin="0" aria-valuemax="10"
                   [ngStyle]="{'width': '' + (orgMemoryDevelopmentTotal/orgQuotaMemoryLimit*100) + '%'}">{{
                (orgMemoryDevelopmentTotal/orgQuotaMemoryLimit*100).toFixed(0)+"%" }}
              </div>
              </ng-template>
              <div class="progress-full"> {{ (orgQuotaMemoryLimit >= 1024) ? ((orgQuotaMemoryLimit%1024 == 0 ||
                orgQuotaMemoryLimit%1024 < 11) ? (orgQuotaMemoryLimit/1024).toFixed(0) :
                (orgQuotaMemoryLimit/1024).toFixed(2)) : (orgQuotaMemoryLimit) }} {{ (orgQuotaMemoryLimit >= 1024) ?
                'GB' : 'MB' }}
              </div>
            </div>
          </div>
        </div>
        <!-- 할당량 끝 -->
        <div class="monitor_tabs clearfix">
          <ul>
            <li name="tab01" class="monitor_tabs_on" (click)="dashTabClick('dashTab_1')">{{'dashboard.titleApp' |
              translate}}
            </li>
            <li name="tab02" class="monitor_tabs_right" (click)="dashTabClick('dashTab_2')">{{'dashboard.titleServices'
              | translate}}
            </li>
          </ul>
          <div class="monitor_tabs_line"></div>
        </div>
        <div id="dashTab_1" class="monitor_content01 row two_line two_view new_view clearfix">
          <ul class="maT30" *ngIf='isMessage'>
            <li>
              <div class="sortable_wrap space_box2">
                <span class="space_txt"><i class="fas fa-exclamation-circle"></i> {{'dashboard.explan.appMsg1' | translate}}< <em><a
                  [routerLink]="['/catalog']">{{'dashboard.catalog' | translate}}</a></em>{{'dashboard.explan.appMsg2' | translate}}</span>
              </div>
            </li>
          </ul>
          <ul class="maT30 space_list ">
            <li *ngFor="let item of appEntities; let i = index">
              <div class="sortable_wrap">
                <!-- 애플리케이션 영역 시작 -->
                <div class="space_pop_container">
                  <div class="space_pop_menu">
                    <i class="fas fa-ellipsis-v" (click)="popclick('apopmenu_'+i,'app',item.guid,item.name, false)"></i>
                    <ol class="space_pop_submenu" id="apopmenu_{{i}}">
                      <li><a class="fas fa-edit" (click)="renamefocus()">{{'dashboard.app.changeAppMame'
                        | translate}}</a></li>
                      <!--<li><a class="fas fa-play" (click)="startAppClick(itme.guid)"> 실행</a></li>-->
                      <li *ngIf="item.state == 'STARTED'"><a class="fas fa-stop" (click)="showPopAppStopClick()">{{'dashboard.app.stop'
                        | translate}}</a>
                      </li>
                      <li *ngIf="item.state != 'STARTED'"><a class="fas fa-play" (click)="showPopAppStartClick()">
                        {{'dashboard.app.execution' | translate}}</a></li>
                      <li data-target="#layerpop2" data-toggle="modal"><a class="fas fa-trash-alt">{{'dashboard.app.delete'
                        | translate}}</a></li>
                    </ol>
                  </div>
                  <!--<a [routerLink]="['../appMain']">-->
                  <!--<div (click)="moveAppMain()">-->
                  <div class="app_title" (click)="moveDashboard(item.name,item.guid)">
                    <div class="app_img"><img src="{{item.thumbImgPath}}" alt="" style="width: 56px; height: 56px"
                                              onError="this.src='../../assets/resources/images/catalog/자바8.png'"/></div>
                    <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; width: 260px;">
                    <a href="javascript:void(0);" class="title_anchor">
                      {{item.name.trim()}}</a></span>
                  </div>

                  <div class="app_per clearfix">
                    <ul>
                      <li>
                        <div>{{'dashboard.app.instance' | translate}}</div>
                        <div>:</div>
                        <div>{{item.instances}}</div>
                      </li>
                      <li>
                        <div>{{'dashboard.app.disk' | translate}}</div>
                        <div>:</div>
                        <div>{{ (item.disk_quota >= 1024) ? ((item.disk_quota % 1024 == 0 || item.disk_quota % 1024 < 11) ?
                          (item.disk_quota / 1024).toFixed(0) : (item.disk_quota / 1024).toFixed(2)) : (item.disk_quota) }}
                          {{(item.disk_quota >= 1024) ? 'GB' : 'MB' }}
                        </div>
                      </li>
                      <li>
                        <div>{{'dashboard.app.memory' | translate}}</div>
                        <div>:</div>
                        <div>{{ (item.memory >= 1024) ? ((item.memory % 1024 == 0 || item.memory % 1024 < 11) ?
                          (item.memory / 1024).toFixed(0) : (item.memory / 1024).toFixed(2)) : (item.memory) }}
                          {{(item.memory >= 1024) ? 'GB' : 'MB' }}

                        </div>
                      </li>
                      <!--{{item.memory}}-->
                    </ul>
                  </div>
                  <div class="clear"></div>
                  <div class="app_btn" [ngSwitch]="item.state">
                    <button class="btns colors1" *ngSwitchCase="'STARTED'"><img
                      src="../../../assets/resources/images/main/RUNNING.svg" alt=""/>STARTED
                    </button>
                    <button class="btns colors2" *ngSwitchCase="'DOWNED'"><img
                      src="../../../assets/resources/images/main/energy.svg" alt=""/>DOWN
                    </button>
                    <button class="btns colors2" *ngSwitchCase="'CRASHED'"><img
                      src="../../../assets/resources/images/main/energy.svg" alt=""/>CRASHED
                    </button>
                    <button class="btns colors3" *ngSwitchDefault><img
                      src="../../../assets/resources/images/main/moon.svg" alt=""/>STOP
                    </button>
                  </div>
                  <div class="app_graph clearfix">
                    <div>Disk</div>
                    <div><span>{{item.diskPer}}</span><i>%</i></div>
                    <div class="space_bar1">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100" [ngStyle]="{'width': '' + item.diskPer + '%'}"></div>
                      </div>
                    </div>
                    <div>Memory</div>
                    <div><span>{{item.memPer}}</span><i>%</i></div>
                    <div class="space_bar2">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100" [ngStyle]="{'width': '' + item.memPer + '%'}"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 애플리케이션 영역 끝 -->
              </div>
            </li>
            <!-- 애플리케이션 영역 이동 -->
            <li>
              <div class="sortable_wrap"><a [routerLink]="['/catalog']">
                <div class="space_empty"></div>
              </a></div>
            </li>
            <!-- 애플리케이션 영역 이동 끝-->
          </ul>
        </div>
        <div id="dashTab_2" class="monitor_content02 row two_line two_view new_view clearfix">
          <ul class="maT30">
            <li *ngIf='isMessage'>
              <div class="sortable_wrap space_box2" *ngIf='isMessage'>
                <span class="space_txt"><i class="fas fa-exclamation-circle"></i>{{'dashboard.explan.servicesMsg1' | translate}}<em><a
                  [routerLink]="['/catalog']">{{'dashboard.catalog' | translate}}</a></em>{{'dashboard.explan.servicesMsg2' | translate}}</span>
              </div>
            </li>
          </ul>
          <div class="space_btn_container clearfix">
            <div class="space_btn2">
              <button class="btns colors4" data-target="#layerpop4" data-toggle="modal" (click)="provideinit()">
                {{'dashboard.service.userProvidedCreate' | translate}}
              </button>
            </div>
          </div>
          <ul class="maT10 space_list space_list_small">
            <li *ngFor="let item of servicesEntities;  let i = index">
              <div class="sortable_wrap">
                <!-- 서비스 영역 시작 -->
                <div class="space_pop_container space_list_small">
                  <div class="space_pop_menu">
                    <!--<button _ngcontent-c4="" class="btns colors4" (click)="moveDashboardS()">대시보드</button>-->
                    <i class="fas fa-ellipsis-v" *ngIf="item.service_plan !== null"
                       (click)="popclick('spopmenu_'+i,'service',item.guid,item.name,item.binding)"></i>
                    <i class="fas fa-ellipsis-v" *ngIf="item.service_plan == null"
                       (click)="popclick('spopmenu_'+i,'provided',item.guid,item.name,false)"></i>
                    <ol class="space_pop_submenu" id="spopmenu_{{i}}">
                      <li *ngIf="item.service_plan !== null" (click)="serviceRename()"><a
                        class="fas fa-edit">{{'dashboard.service.changeServiceName' | translate}}</a></li>
                      <!--<li data-target="#layerpop7" data-toggle="modal" *ngIf="item.service_plan == null"><a class="fas fa-edit"> 서비스 이름변경</a></li>-->
                      <li data-target="#layerpop6" data-toggle="modal" *ngIf="item.service_plan == null"><a
                        class="fas fa-wrench">{{'dashboard.service.updateService' | translate}}</a></li>
                      <li data-target="#layerpop5" data-toggle="modal"><a class="fas fa-trash-alt">{{'dashboard.button.delete'
                        | translate}}</a></li>
                    </ol>
                  </div>
                  <div class="app_title">
                    <div class="app_img"><img src="{{item.thumbImgPath}}" alt="" style="width: 54px; height: 54px"
                                              onError="this.src='../../assets/resources/images/catalog/catalog_3.png'"/>
                    </div> <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; width: 260px;">
                    &nbsp;{{item.name}} </span>
                  </div>
                  <div class="app_per clearfix" *ngIf="item.service_plan != null">
                    <ul>
                      <li>
                        <div>{{'dashboard.service.connectApp' | translate}}</div>
                        <div>:</div>
                        <ng-container *ngFor="let app of appEntities;">
                          <ng-container *ngFor="let servicename of app.service_names;">
                            <ng-container *ngIf="item.name == servicename">
                              <div class="serviceTitle">{{app.name}}{{setAppBinding(item)}}</div>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </li>
                      <li>
                        <div>{{'dashboard.service.serviceName' | translate}}</div>
                        <div>:</div>
                        <div class="serviceTitle">{{item.service_plan.service.label}}</div>
                      </li>
                      <li>
                        <div>{{'dashboard.service.providedServices' | translate}}</div>
                        <div>:</div>
                        <div class="serviceTitle">{{item.service_plan.name}}</div>
                      </li>
                      <!--<ng-container *ngIf-->
                      <ng-container *ngIf="item.dashboardUseYn =='Y'">
                        <li *ngIf="item.dashboard_url != null">
                          <div>{{'dashboard.service.dashboard' | translate}}</div>
                          <div>:</div>
                          <div class="serviceTitle">
                            <a href="{{item.dashboard_url}}" target="_blank">
                              <button class="btns colors5">{{'dashboard.service.dashboard' | translate}}</button>
                            </a>
                          </div>
                        </li>
                      </ng-container>
                    </ul>
                  </div>
                  <div class="app_per clearfix" *ngIf="item.service_plan == null">
                    <ul>
                      <li>
                        <div>{{'dashboard.service.serviceName' | translate}}</div>
                        <div>:</div>
                        <div class="serviceTitle">{{item.name}}</div>
                      </li>
                      <li>
                        <div>{{'dashboard.service.providedServices' | translate}}</div>
                        <div>:</div>
                        <div class="serviceTitle">user-provided</div>
                      </li>
                    </ul>
                  </div>
                  <div class="clear"></div>
                </div>
                <!-- 애플리케이션 영역 끝 -->
              </div>
            </li>
            <!-- 애플리케이션 영역 이동 -->
            <li>
              <div class="sortable_wrap"><a [routerLink]="['/catalog']">
                <div class="space_empty2"></div>
              </a></div>
            </li>
            <!-- 애플리케이션 영역 이동 끝 -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade" id="layerpop1">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{'dashboard.app.changeAppMame' | translate}}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <input type="text" placeholder="{{'dashboard.app.placeholder' | translate}}" class="space_input" id="appName"
                 (keyup)="pattenTest('appName')" [(ngModel)]="selectedName"/>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" data-dismiss="modal" id="renameApp" (click)="renameApp()">
            {{'dashboard.button.change' | translate}}
          </button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{'dashboard.button.cancel' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="layerpop2">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{'dashboard.app.deleteApp' | translate}}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p>{{'dashboard.app.explan1' | translate}} <br/><span>{{selectedName}}</span>{{'dashboard.app.explan2' |
            translate}}
          </p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="delApp(selectedGuid)">
            {{'dashboard.button.delete' | translate}}
          </button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{'dashboard.button.cancel' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="layerpop3">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{'dashboard.service.changeServiceName' | translate}}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <input type="text" placeholder="{{'dashboard.service.placeholder' | translate}}" class="space_input"
                 id="selectedName" (keyup)="pattenTest('selectedName')" [(ngModel)]="selectedName"/>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" data-dismiss="modal" id="renameInstance" (click)="renameInstance()">
            {{'dashboard.button.change' | translate}}
          </button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{'dashboard.button.cancel' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="modal fade" id="layerpop7">-->
<!--<div class="vertical-alignment-helper">-->
<!--<div class="modal-dialog vertical-align-center">-->
<!--<div class="modal-content">-->
<!--&lt;!&ndash; header &ndash;&gt;-->
<!--<div class="modal-header">-->
<!--&lt;!&ndash; 닫기(x) 버튼 &ndash;&gt;-->
<!--<button type="button" class="close" data-dismiss="modal">×</button>-->
<!--&lt;!&ndash; header title &ndash;&gt;-->
<!--<h4 class="modal-title">서비스 이름 변경</h4>-->
<!--</div>-->
<!--&lt;!&ndash; body &ndash;&gt;-->
<!--<div class="modal-body">-->
<!--<input type="text" placeholder="변경할 서비스 이름을 입력하세요." class="space_input" [(ngModel)]="selectedName" name="selectedName"/>-->
<!--</div>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btns2 colors4" data-dismiss="modal" (click)="updateUserProvided()">변경</button>-->
<!--<button type="button" class="btns2 colors5" data-dismiss="modal">취소</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="modal fade" id="layerpop4">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{'dashboard.service.userProvidedCreate' | translate}}</h4>
        </div>
        <!-- body -->
        <div class="modal-body space_pop_align clearfix">
          <ul>
            <li>
              <div>{{'dashboard.service.serviceName' | translate}}</div>
              <div><input type="text" id="userProvideName" [(ngModel)]="userProvideName" class="space_input"/></div>
            </li>
            <li>
              <div>Credentials</div>
              <div><input type="text" id="userProvideCredentials" [(ngModel)]="userProvideCredentials"
                          class="space_input"
                          placeholder="EXAMPLE:{&quot;username&quot;:&quot;admin&quot;,&quot;password&quot;:&quot;0000&quot;}"/>
              </div>
            </li>
            <li>
              <div>Syslog Drain Url</div>
              <div><input type="text" id="userProvideSyslogDrainUrl" [(ngModel)]="userProvideSyslogDrainUrl"
                          class="space_input"
                          placeholder="EXAMPLE:syslog://example.com"/></div>
            </li>
            <li>
              <div>Route Service Url</div>
              <div><input type="text" id="userProvideRouteServiceUrl" [(ngModel)]="userProvideRouteServiceUrl"
                          class="space_input"
                          placeholder="EXAMPLE:https://xxx.xxx.xxx"/>

              </div>
            </li>
          </ul>
          <span class="red" use-form-error="isNotSame" *ngIf="!isLength" style="padding-left: 150px"><i
            class="fas fa-exclamation-circle"></i>{{'dashboard.service.isNotSame' | translate}}</span>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4 " (click)="checkLength()">{{'dashboard.button.create' |
            translate}}
          </button>
          <button type="button" class="btns2 colors5" data-dismiss="modal" (click)="cancelButton()">
            {{'dashboard.button.cancel' | translate}}
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="layerpop6" >
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content"  style="width: 800px">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{'dashboard.service.updateService' | translate}}</h4>
        </div>
        <!-- body -->
        <div class="modal-body space_pop_align clearfix">
          <ul>
            <li>
              <div>{{'dashboard.service.serviceName' | translate}}</div>
              <div><input type="text" name="userProvideName" [(ngModel)]="userProvideName" class="space_input"/></div>
            </li>
            <li>
              <div>Credentials</div>
              <div><input type="text" name="userProvideCredentials" [(ngModel)]="userProvideCredentials"
                          class="space_input"
                          placeholder="EXAMPLE:{&quot;username&quot;:&quot;admin&quot;,&quot;password&quot;:&quot;0000&quot;}"/>
              </div>
            </li>
            <li>
              <div>Syslog Drain Url</div>
              <div><input type="text" name="userProvideSyslogDrainUrl" [(ngModel)]="userProvideSyslogDrainUrl"
                          class="space_input"
                          placeholder="EXAMPLE:syslog://example.com"/></div>
            </li>
            <li>
              <div>Route Service Url</div>
              <div><input type="text" name="userProvideRouteServiceUrl" [(ngModel)]="userProvideRouteServiceUrl"
                          class="space_input"
                          placeholder="EXAMPLE:https://xxx.xxx.xxx"/></div>

            </li>
          </ul>
          <span class="red" use-form-error="isNotSame" *ngIf="!isLength" style="padding-left: 150px"><i
            class="fas fa-exclamation-circle"></i>{{'dashboard.service.isNotSame' | translate}}</span>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4 " data-dismiss="modal" (click)="updateUserProvided()">
            {{'dashboard.button.change' | translate}}
          </button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{'dashboard.button.cancel' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="layerpop5">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{'dashboard.service.deleteService' | translate}}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p>{{'dashboard.service.explan1' | translate}}<br/><span>{{selectedName}}</span>{{'dashboard.service.explan2'
            | translate}}
          </p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" data-dismiss="modal" (click)="delInstance()">
            {{'dashboard.button.delete' | translate}}
          </button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{'dashboard.button.cancel' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_app_stop">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'appMain.layerpop.appStop.title' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <!--<p>{{selectedName}} {{ 'dashboard.explan.executionMsg1' | translate}}</p>-->
          <p>{{ 'dashboard.explan.executionMsg1' | translate : {selectedName: selectedName} }}</p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="stopAppClick()">{{ 'appMain.layerpop.appStop.btn1' |
            translate }}
          </button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'appMain.layerpop.appStop.btn2' |
            translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="layerpop_app_start">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <!-- 닫기(x) 버튼 -->
          <button type="button" class="close" data-dismiss="modal">×</button>
          <!-- header title -->
          <h4 class="modal-title">{{ 'appMain.layerpop.appStart.title' | translate }}</h4>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p>{{ 'dashboard.explan.executionMsg2' | translate : {selectedName: selectedName} }}</p>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btns2 colors4" (click)="startAppClick()">{{ 'appMain.layerpop.appStart.btn1' |
            translate }}
          </button>
          <button type="button" class="btns2 colors5" data-dismiss="modal">{{ 'appMain.layerpop.appStart.btn2' |
            translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<div class="footer_n">Copyright © 2018 PaaS-TA. All rights reserved</div>
</html>
