<div>
  <h1>log</h1>

  <div class="card card-block">
    <h4 class="card-title">AsyncPipe</h4>

    <!--<p class="card-text" ngNonBindable>{{ promise | async }}  </p>-->
    <!--<p class="card-text">{{ promise | async }}  </p>-->

    <!--<p class="card-text" ngNonBindable>{{ observable | async }}  </p>-->
    <!--<p class="card-text">{{ observable | async }}</p>-->

    <!--<p class="card-text" ngNonBindable>{{ observableData }}  </p>-->
    <!--<p class="card-text">{{ observableData }}</p>-->

    <!--<button (click)="exitSubscribe()">종료</button>-->
  </div>

</div>
