<style>
  .loginWrap {
    padding-top: 10%;
  }

</style>

<body class="login_b">
<div class="loginWrap">

  <div class="text_center">
    <a href="#"><img class="logo_login" src="../assets/resources/images/login/login_logo.png" alt="logo"/></a>
    <p i18n="Welcome to Paas-Ta-Portal"></p>
  </div>

  <form class="form-horizontal maT30" action="">
    <!--<div class="form-group">-->
    <!--<div class="col-xs-12">-->
    <!--<input class="form-control" type="text" required="" placeholder="E-mail" name="username" [(ngModel)]="username"-->
    <!--(keyup)="hideMsg()">-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group">
      <!--<div class="col-xs-12">-->
      <!--<input class="form-control" type="password" required="" placeholder="password" name="password"-->
      <!--[(ngModel)]="password" (keyup)="hideMsg()">-->
      <!--<div *ngIf="error"><p class="red text-left login_red"><i class="fas fa-exclamation-circle"></i> {{errorMsg}}-->
      <!--</p></div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group maT30">-->
      <!--<div class="col-xs-12">-->
      <!--<button class="btns colors4" (click)="apiLogin()">-->
      <!--로그인-->
      <!--</button>-->

      <!--</div>-->
      <div class="text_center">


        <!--<button class="btns colors4" (click)="oAuthLogin()">-->
        <!--oAuth 로그인-->
        <!--</button>-->
      </div>
    </div>

    <!--<div class="form-group maT30">-->
    <!--<div class="col-xs-6">-->
    <!--<a href="/createuser" class="text-muted">Creat account</a>-->
    <!--</div>-->
    <!--<div class="col-xs-6">-->
    <!--<a href="/resetpasswd" class="text-muted">Reset password</a>-->
    <!--</div>-->
    <!--</div>-->
  </form>
</div>
</body>



