<div class="wrap dashboard">
  <app-app-top [cursorId]="'cur_catalog'"></app-app-top>
  <app-catalog-nav></app-catalog-nav>
<div class="contain">
    <div class="content">
      <div class="row one_line catalog maT30">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-btn">
              <button name="button" class="btn" type="button"><i class="fas fa-search"></i></button>
            </div>
            <input class="form-control" type="text" placeholder="Catalog Search" [(ngModel)]="searchKeyword" (ngModelChange)="Search()"/>
          </div>
        </div>
        <div class="">
          <p class="tit">{{ 'catalog.main.recentWork' | translate }}</p>
          <ul>
            <li (click)="goHistory(recent)" *ngFor="let recent of recentpacks">
              <dl>
                <dt>
                <div id="1">
                  <img src="{{recent.thumbImgPath}}" alt="" style="width: 100%; height: 100%" onError="this.src='../../../assets/resources/images/catalog/자바8.png'"/>
                </div>
                </dt>
                <dd>
                  <ul>
                    <li>{{recent.name}}
                    </li>
                    <li><p>{{recent.summary}}</p>
                    </li>
                    <li >
                      <button *ngIf="recent.classification==='buildpack_system'" class="btns3 colors6">{{ 'catalog.main.paasta' | translate }}</button>
                      <button *ngIf="recent.classification==='buildpack_custom'" class="btns3 colors7">{{ 'catalog.main.community' | translate }}</button>
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
        <ng-container *ngIf="catalogService.viewstartpack && catalogService.viewstarterpacks &&catalogService.viewstarterpacks.length > 0">
        <div>
          <p class="tit">{{ 'catalog.main.appTemplate' | translate }}</p>
          <ul>
            <li *ngFor="let stater of catalogService.viewstarterpacks" (click)="goStarter(stater)">
              <dl>
                <dt>
                <div>
                  <img src="{{stater.thumbImgPath}}" alt="" style="width: 100%; height: 100%"  onError="this.src='../../../assets/resources/images/catalog/자바8.png'"/>
                </div>
                </dt>
                <dd>
                  <ul>
                    <li>{{stater.name}}
                    </li>
                    <li><p>{{stater.summary}}</p>
                    </li>
                    <li>
                      <button *ngIf="stater.useYn==='Y'" class="btns3 colors6">{{ 'catalog.main.paasta' | translate }}</button>
                      <button *ngIf="stater.useYn==='N'" class="btns3 colors7">{{ 'catalog.main.community' | translate }}</button>
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
          </ng-container>
        <ng-container *ngIf="catalogService.viewbuildpack && catalogService.viewbuildpacks && catalogService.viewbuildpacks.length > 0">
        <div class="cataloglast">
          <p class="tit">{{ 'catalog.main.appDevelopment' | translate }}</p>
          <ul >
            <li *ngFor="let build of catalogService.viewbuildpacks" (click)="goDevelopMent(build)">
              <dl>
                <dt>
                <div>
                  <img src="{{build.thumbImgPath}}" alt="" style="width: 100%; height: 100%" onError="this.src='../../../assets/resources/images/catalog/자바8.png'"/>
                </div>
                </dt>
                <dd>
                  <ul>
                    <li>{{build.name}}
                    </li>
                    <li><p> {{build.summary}}
                    </p>
                    </li>
                    <li>
                      <ng-container *ngFor="let class of build.buttonclass">
                      <button style="margin-left: 5px" class="{{class.buttonclass}}">{{class.buttonvalue}}</button>
                      </ng-container>
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
          </ng-container>
        <ng-container *ngIf="catalogService.viewservicepack && catalogService.viewservicepacks && catalogService.viewservicepacks.length > 0">
        <div class="cataloglast" >
          <p class="tit">{{ 'catalog.main.service' | translate }}</p>
          <ul >
            <li *ngFor="let service of catalogService.viewservicepacks" (click)="goService(service)">
              <dl>
                <dt>
                <div>
                  <img src="{{service.thumbImgPath}}" alt="" style="width: 100%; height: 100%" onError="this.src='../../../assets/resources/images/catalog/자바8.png'"/>
                </div>
                </dt>
                <dd>
                  <ul>
                    <li>{{service.name}}
                    </li>
                    <li><p> {{service.summary}}
                    </p>
                    </li>
                    <li>
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
          </ng-container>
      </div><!-- row one_line -->
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>

