<div class="wrap dashboard">
  <app-catalog-header></app-catalog-header>
  <app-catalog-nav></app-catalog-nav>
<div class="contain">
    <div class="content">
      <div class="row one_line catalog maT30">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-btn">
              <button name="button" class="btn" type="button"><i class="fas fa-search"></i></button>
            </div>
            <input class="form-control" type="text" placeholder="Catalog Search" [(ngModel)]="searchKeyword" (ngModelChange)="Search()"/>
          </div>
        </div>
        <div class="">
          <p class="tit">최근작업</p>
          <ul>
            <li (click)="goHistory(recent)" *ngFor="let recent of recentpacks">
              <dl>
                <dt>
                <div id="1">
                  <img src="{{recent.thumbImgPath}}" alt="" onError="this.src='../../../assets/resources/images/catalog/자바8.png'"/>
                </div>
                </dt>
                <dd>
                  <ul>
                    <li>{{recent.name}}
                    </li>
                    <li><p>{{recent.description}}</p>
                    </li>
                    <li>
                      <button *ngIf="recent.classification==='buildpack_system'" class="btns3 colors6">파스타</button>
                      <button *ngIf="recent.classification==='buildpack_custom'" class="btns3 colors7">커뮤니티</button>
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
        <ng-container *ngIf="catalogService.viewstartpack">
        <div>
          <p class="tit">앱 템플릿</p>
          <ul>
            <li *ngFor="let stater of catalogService.viewstarterpacks" (click)="goStarter(stater)">
              <dl>
                <dt>
                <div>
                  <img src="{{stater.thumbImgPath}}" alt="" onError="this.src='../../../assets/resources/images/catalog/자바8.png'"/>
                </div>
                </dt>
                <dd>
                  <ul>
                    <li>{{stater.name}}
                    </li>
                    <li><p>{{stater.description}}</p>
                    </li>
                    <li>
                      <button *ngIf="stater.useYn==='Y'" class="btns3 colors6">파스타</button>
                      <button *ngIf="stater.useYn==='N'" class="btns3 colors7">커뮤니티</button>
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
          </ng-container>
        <ng-container *ngIf="catalogService.viewbuildpack">
        <div class="cataloglast">
          <p class="tit">앱 개발환경</p>
          <ul >
            <li *ngFor="let build of catalogService.viewbuildpacks" (click)="goDevelopMent(build)">
              <dl>
                <dt>
                <div>
                  <img src="{{build.thumbImgPath}}" alt="" onError="this.src='../../../assets/resources/images/catalog/자바8.png'"/>
                </div>
                </dt>
                <dd>
                  <ul>
                    <li>{{build.name}}
                    </li>
                    <li><p> {{build.description}}
                    </p>
                    </li>
                    <li>
                      <button *ngIf="build.classification==='buildpack_system'" class="btns3 colors6">파스타</button>
                      <button *ngIf="build.classification==='buildpack_custom'" class="btns3 colors7">커뮤니티</button>
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
          </ng-container>
        <ng-container *ngIf="catalogService.viewservicepack">
        <div class="cataloglast" >
          <p class="tit">서비스</p>
          <ul >
            <li *ngFor="let service of catalogService.viewservicepacks" (click)="goService(service)">
              <dl>
                <dt>
                <div>
                  <img src="{{service.thumbImgPath}}" alt="" onError="this.src='../../../assets/resources/images/catalog/자바8.png'"/>
                </div>
                </dt>
                <dd>
                  <ul>
                    <li>{{service.name}}
                    </li>
                    <li><p> {{service.description}}
                    </p>
                    </li>
                    <li>
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
          </ng-container>
      </div><!-- row one_line -->
    </div>
    <div class="footer">Copyright © 2018 PaaS-TA. All rights reserved</div>
  </div>
</div>

